---
{
	"title": "Tribunal Decision: J.B. v. Canada Employment Insurance Commission, 2014 SSTGDEI 9 - Sample",
	"language": "en",
	"altLangPrefix": "decision-sst",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "Social Security Tribunal", "link": "http://www.canada.ca/en/sst/index.html" },
		{ "title": "Decisions", "link": "http://www.canada.ca/en/sst/ad/index.html" }
	],
	"secondlevel": false,
	"dateModified": "2014-09-03",
	"share": "false",
	"institution": "Social Security Tribunal",
	"tribunalMember": "Richard Sterne",
	"hearingDate": "February 5, 2014",
	"hearingType": "In person",
	"claimant": "J.B",
	"respondent": "Canada Employment Insurance Commission",
	"decision": "Appeal is allowed.",
	"decisionDate": "2014-02-19",
	"docketNumber": "GE-13-1927",
	"appealNumber": "GE-13-1927"
}
---
<div class="mrgn-tp-md">
	<dl class="dl-horizontal colcount-md-2">
		<dt>Institution:</dt>
		<dd>{{{ institution }}}</dd>
		<dt>Tribunal Member:</dt>
		<dd>{{{ tribunalMember }}}</dd>
		<dt>Hearing date:</dt>
		<dd>{{{ hearingDate }}}</dd>
		<dt>Hearing type:</dt>
		<dd>{{{ hearingType }}}</dd>
		<dt>Between:</dt>
		<dd>{{{ claimant }}} (Appellant Claimant) and {{{ respondent }}} (Respondent)</dd>
		<dt>Decision:</dt>
		<dd>{{{ decision }}}</dd>
		<dt>Decision date:</dt>
		<dd>{{{ decisionDate }}} (Docket: {{{ docketNumber }}})</dd>
		<dt>Citation:</dt>
		<dd>J. B. <abbr title="versus">v.</abbr> Canada Employment Insurance Commission, 2014 SSTGDEI 9</dd>
		<dt>Appeal #:</dt>
		<dd>{{{ appealNumber }}}</dd>
		<dt>Official Source Document:</dt>
		<dd><a href="http://dev3.canada.gc.ca/en/sst/2014sstgdei9.pdf">J. B. <abbr title="versus">v</abbr>. Canada Employment Insurance Commission, 2014 SSTGDEI 9 (<abbr title="Portable Document Format">PDF</abbr> Format, 247 <abbr title="Kilobytes">KB</abbr>)</a></dd>
	</dl>
</div>
<div class="row">
	<section class="col-md-12">
		<div class="panel panel-default">
			<header class="panel-heading">
				<h2 class="panel-title">Table of contents</h2>
			</header>
			<div class="panel-body">
				<ul>
					<li><a href="#a1">Persons in attendance</a></li>
					<li><a href="#a2">Decision</a></li>
					<li><a href="#a3">Introduction</a></li>
					<li><a href="#a4">Form of hearing</a></li>
					<li><a href="#a5">Issue</a></li>
					<li><a href="#a6">The law</a></li>
					<li><a href="#a7">Evidence</a></li>
					<li><a href="#a8">Submissions</a></li>
					<li><a href="#a9">Analysis</a></li>
					<li><a href="#a10">Conclusion</a></li>
				</ul>
			</div>
		</div>
	</section>
</div>
<section>
	<h2>Persons in attendance</h2>
	<p>The Claimant, J. B. and his representative (wife) K. B. attended the hearing.</p>
</section>
<section>
	<h2>Decision</h2>
	<p>[1] The Tribunal finds that the Claimant had just cause for voluntarily leaving his employment because at the time he had no other reasonable alternative to leaving. He had reasonable assurance of another employment in the immediate future pursuant to <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec29_smooth">section 29<span class="wb-inv"> of the Employment Insurance Act</span></a> of the <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html">Employment Insurance Act</a> (Act). The appeal is allowed.</p>
</section>
<section>
	<h2>Introduction</h2>
	<p>[2] In 2011, the Claimant was working for the Toronto school board as a temporary occasional teacher. The Claimant and his wife were finding living in Toronto, with each of them having temporary jobs, a considerable financial strain. In the summer of 2011, the Claimant's wife decided that they should relocate to Brantford which was much more affordable to live in.</p>
	<p>[3] In August 2011, the Claimant applied to the Brantford school board because they were one of the few school boards hiring. After an interview in October, the Claimant was advised by the Brantford board that he was a successful candidate, but that they could not place him on their occasional teacher list because he was working for the Toronto school board and did not live in Brantford. Therefore the Claimant resigned his position with the Toronto school board and relocated to Brantford during the Christmas school break. The Claimant believed that he had an employment offer and would be placed on the Brantford board's occasional teachers list; which would eventually result in a full time permanent teaching contract.</p>
	<p>[4] In January 2012, after relocating to Brantford, the Brantford school board advised the Claimant that they were not ready to place him on their occasional teachers list at that time. The Claimant was devastated and became very depressed.</p>
	<p>[5] On January 12, 2012, the Claimant applied for employment insurance benefits (<abbr title="Employment Insurance">EI</abbr> benefits).</p>
	<p>[6] On March 20, 2012, the Canada Employment Insurance Commission (Commission) advised the Claimant that they could not pay him <abbr title="Employment Insurance">EI</abbr> benefits because he had voluntarily left his employment with the Toronto school board on December 23, 2011 without just cause within the meaning of the <em>Act</em>.</p>
</section>
<section>
	<h2>Form of hearing</h2>
	<p>[7] The hearing was in person for the reasons provided in the Notice of Hearing dated December 10, 2013. The hearing was originally scheduled for January 9, 2014, but was adjourned and rescheduled to February 5, 2014, because the Claimant had not received his docket.</p>
	<p>[8] The Claimant's original appeal was heard and dismissed by the Board of Referees on May 8, 2012. The Claimant's appeal to the Office of the Umpire was late filed on August 16, 2012, beyond the sixty days appeal period, because the Claimant's health prevented him from filing on time. On November 15, 2012, the Office of the Umpire granted an extension of the sixty-day appeal period.</p>
	<p>[9] The Claimant's appeal was transferred to the Appeal Division of the Social Security Tribunal, because the Office of the Umpire had not heard the appeal as of April 1, 2013. On July 5, 2013 the Appeal Division of the Social Security Tribunal granted the Claimant's appeal and referred the matter back to the General Division of the Tribunal for a rehearing.</p>
</section>
<section>
	<h2>Issue</h2>
	<p>[10] Did the Claimant have just cause for voluntarily leaving his employment, pursuant to <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec29_smooth">sections 29<span class="wb-inv"> of the Employment Insurance Act</span></a> and <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec30_smooth">30<span class="wb-inv"> of the Employment Insurance Act</span></a> of the Act? </p>
</section>
<section>
	<h2>The law</h2>
	<p>[11] <strong><a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec29_smooth">Sections 29<span class="wb-inv"> of the Employment Insurance Act</span></a> of the Act:</strong></p>
	<p>For the purposes of <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec30_smooth">sections 30</a> to <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec33_smooth">33<span class="wb-inv"> of the Employment Insurance Act</span></a>,</p>
	<ol class="lst-lwr-alph">
		<li>"employment" refers to any employment of the claimant within their qualifying period or their benefit period;</li>
		<li>loss of employment includes a suspension from employment, but does not include loss of, or suspension from, employment on account of membership in, or lawful activity connected with, an association, organization or union of workers;<br>
			(b.1) voluntarily leaving an employment includes
			<ol class="lst-lwr-rmn">
				<li>the refusal of employment offered as an alternative to an anticipated loss of employment, in which case the voluntary leaving occurs when the loss of employment occurs, </li>
				<li>the refusal to resume an employment, in which case the voluntary leaving occurs when the employment is supposed to be resumed, and</li>
				<li>the refusal to continue in an employment after the work, undertaking or business of the employer is transferred to another employer, in which case the voluntary leaving occurs when the work, undertaking or business is transferred; and</li>
			</ol>
		</li>
		<li>just cause for voluntarily leaving an employment or taking leave from an employment exists if the claimant had no reasonable alternative to leaving or taking leave, having regard to all the circumstances, including any of the following:
			<ol class="lst-lwr-rmn">
				<li>sexual or other harassment,</li>
				<li>obligation to accompany a spouse or common-law partner or a dependent child to another residence,</li>
				<li>discrimination on a prohibited ground of discrimination within the meaning of the <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/rsc-1985-c-h-6/latest/rsc-1985-c-h-6.html">Canadian Human Rights Act</a>,</li>
				<li>working conditions that constitute a danger to health or safety,</li>
				<li>obligation to care for a child or a member of the immediate family,</li>
				<li>reasonable assurance of another employment in the immediate future,</li>
				<li>significant modification of terms and conditions respecting wages or salary,</li>
				<li>excessive overtime work or refusal to pay for overtime work,</li>
				<li>significant changes in work duties,</li>
				<li>antagonism with a supervisor if the claimant is not primarily responsible for the antagonism,</li>
				<li>practices of an employer that are contrary to law,</li>
				<li>discrimination with regard to employment because of membership in an association, organization or union of workers,</li>
				<li>undue pressure by an employer on the claimant to leave their employment, and</li>
				<li>any other reasonable circumstances that are prescribed.</li>
			</ol>
		</li>
	</ol>
	<p>[12] <strong><a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec30subsec1_smooth">Subsection 30(1)<span class="wb-inv"> of the Employment Insurance Act</span></a> of the Act</strong>:</p>
	<p>(1) A claimant is disqualified from receiving any benefits if the claimant lost any employment because of their misconduct or voluntarily left any employment without just cause, unless</p>
	<ol class="lst-lwr-alph">
		<li>the claimant has, since losing or leaving the employment, been employed in insurable employment for the number of hours required by section 7 or 7.1 to qualify to receive benefits; or</li>
		<li>the claimant is disentitled under sections 31 to 33 in relation to the employment."</li>
	</ol>
	<p>[13] <strong><a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec30subsec2_smooth">Subsection 30(2)<span class="wb-inv"> of the Employment Insurance Act</span></a> of the Act</strong>:</p>
	<p>(2) The disqualification is for each week of the claimant's benefit period following the waiting period and, for greater certainty, the length of the disqualification is not affected by any subsequent loss of employment by the claimant during the benefit period.</p>
</section>
<section>
	<h2>Evidence</h2>
	<p>[14] The Claimant was employed by the Toronto District School Board (Toronto board) from January 5, 2011 to March 11, 2011, and from September 9, 2011 to December 23, 2011 as an occasional teacher.</p>
	<p>[15] The Claimant and his wife were living and working in Toronto during 2011. Both had temporary contract positions. They were finding the high cost of living in Toronto financially stressing, particularly because each would be periodically unemployed between contracts.</p>
	<p>[16] In the early summer of 2011, the Claimant and his wife visited Brantford, Ontario to go kayaking on the Grand River. The Claimant's wife became very enthused about living in Brantford due to the significantly lower cost of living and the fact that Brantford is located on the main Via rail line into Toronto. (Via offers a significant price reduction to daily commuters). They said that it made economic sense to relocate to Brantford and commute to Toronto, versus living in Toronto. (In addition, a move to Brantford would mean that he would be closer to care for his mother who lived in Hamilton.)</p>
	<p>[17] During the summer of 2011, at his wife's insistence, the Claimant applied for a position with the Grand Erie School Board (Brantford board). The Brantford board was one of the few school boards in Ontario still hiring new teachers. On October 11, 2011, the Claimant was interviewed by the Human Resources Coordinator of the Brantford board for a secondary occasional teaching position. He was advised that he was one of the successful candidates, but because he was working for another board in a long term occasional position, that he could not be added to their list. He was advised that he had to be living in the Brantford area before he could be added to the list, in order to meet their needs with regular availability to teach. On October 31, 2011, the Claimant advised the Brantford board that he would be moving to Brantford in January 2012. The Brantford board told him to advise them once he had permanently settled in the Brantford area, and that they would reassess the situation.</p>
	<p>[18] In December 2011, the Claimant took a leave of absence from the Toronto board in order to relocate to Brantford over the Christmas school break. The Claimant said that he only took a leave of absence from the Toronto board in case things did not work out in Brantford.</p>
	<p>[19] On January 6, 2012, the Claimant advised the Brantford board that he was now living in Brantford. The Brantford board advised the Claimant that his application would remain in the 'ready to hire' pool until them needed him. They advised him that he was not activated at that time, but activation to supply teach would occur as soon as they experienced unfilled vacancies.</p>
	<p>[20] The Claimant said that he was devastated that he could not begin teaching right away after moving to Brantford. He became very depressed. He said that he would not have taken a leave of absence from the Toronto board and moved to Brantford, if he did not think that he had a teaching position to go to.</p>
	<p>[21] On January 12, 2012, the Claimant applied for employment insurance benefits (<abbr title="Employment Insurance">EI</abbr> benefits).</p>
	<p>[22] In mid-January 2012 the Claimant returned to the Toronto board to teach for a few days. However, he found that staying in a motel in Toronto during the week was not financially viable. In addition his occasional teaching position had been filled.</p>
	<p>[23] On March 20, 2012, the Canada Employment Insurance Commission (Commission) advised the Claimant that they could not pay him <abbr title="Employment Insurance">EI</abbr> benefits because he had voluntarily left his employment with the Toronto School Board on December 23, 2011 without just cause within the meaning of the Act.</p>
	<p>[24] On March 21, 2012, the Claimant attended a secondary occasional teacher orientation with the Brantford board and was added to the occasional teacher list. He began supply teaching immediately.</p>
	<p>[25] On August 27, 2012, the Claimant was offered and accepted a permanent, full time contract teaching position with the Brantford board.</p>
	<p>[26] The Claimant explained the hiring process of the Brantford board. Firstly, one is interviewed and "hired" if qualified, by the Human Resources department of the board and placed on the occasional teachers list to supply teach. After proving oneself as a supply teacher, you are then offered a permanent full time contract teaching position by a school principal.</p>
</section>
<section>
	<h2>Submissions</h2>
	<p>[27] The Claimant submitted that:</p>
	<ol class="lst-lwr-alph">
		<li>his occasional teaching position with the Toronto board was temporary as there was no guarantee that it would continue after Christmas.</li>
		<li>he believed that he had been offered an occasional teaching position with the Brantford board, subject to his living in the area.</li>
		<li>he would not have a permanent position with the Brantford board today, if he had not relocated for the occasional teaching position.</li>
		<li>his wife was planning for them to relocate to Brantford for financial reasons.</li>
		<li>he would be more available to care for his mother, who was living in Hamilton, if he was living in Brantford.</li>
	</ol>
	<p>[28] The Respondent submitted that:</p>
	<ol class="lst-lwr-alph">
		<li>the Claimant did not have just cause for voluntarily leaving his position with the Toronto board, because he failed to show that he had no reasonable alternative to leaving when he did.</li>
		<li>the Claimant should have remained in his occasional teaching position with the Toronto board until it was over and he was back on the Toronto supply list.</li>
		<li>the Claimant could have then relocated as it would not have been a change of employment circumstances, but just a relocation from one supply list to another.</li>
	</ol>
</section>
<section>
	<h2>Analysis</h2>
	<p>[29] <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec29_smooth">Section 29<span class="wb-inv"> of the Employment Insurance Act</span></a> of the Act states that just cause for voluntarily leaving ones employment exists if the claimant had no reasonable alternative to leaving, having regard to all the circumstances including: an obligation to accompany a spouse to another location, reasonable assurance of another employment in the immediate future, and the obligation to care for a member of the immediate family.</p>
	<p>[30] The Claimant has argued all three as valid reasons for leaving his employment. He stated that his wife was determined to move to Brantford for financial reasons and that he was obligated to accompany her. His mother lives in Hamilton which is closer to Brantford than Toronto, making it easier for him to care for her. The Tribunal finds that these reasons are good reasons for moving, but are not just cause for voluntarily leaving his employment in Toronto. The Tribunal believes that his wife would have most likely stayed with him in Toronto if the Claimant had insisted that they remain until the end of his occasional teaching position with the Toronto board. It is more convenient to care for his mother being in Brantford versus Toronto, but this was not his primary reason for voluntarily leaving his employment to move to Brantford.</p>
	<p>[31] However, the Tribunal finds that the Claimant had just cause for leaving his employment because he had reasonable assurance of another employment in the immediate future. The Tribunal finds that the Claimant had no other reasonable alternatives under the circumstances, but to leave his employment in Toronto, when he did.</p>
	<p>[32] Teaching jobs in Ontario are currently very scarce. The fact that the Brantford board was hiring and eventually offering permanent full time teaching contracts was a much more attractive employment situation than the Claimant's temporary occasional teaching position with the Toronto board. All school boards hire teachers initially as temporary occasional supply teachers before they are offered permanent contracts. The Tribunal finds that the Claimant believed that his chances of landing a full time permanent contract were much greater with the Brantford board versus the Toronto board.</p>
	<p>[33] The Claimant applied for and was initially accepted by the Brantford board as an occasional supply teacher. However he was advised by the Brantford board that they could not put him on their supply teacher list at that time, because he was working for the Toronto board as an occasional teacher and did not reside in Brantford.</p>
	<p>[34] The Tribunal finds that the Claimant believed that if he satisfied those two concerns that he would be placed on the Brantford board occasional teacher list. In October, he told the Brantford board that he would relocate. The Claimant had no other option but to resign and relocate to Brantford, if he wanted a chance of a full time permanent teaching position with the Brantford board. If he had waited until the end of his occasional teaching placement with the Toronto board, the Brantford board mightnot be hiring.</p>
	<p>[35] The Claimant stated that he would not have resigned and moved to Brantford if he believed that there was a chance that he would not be placed on the Brantford board occasional teacher list. The Claimant waited until the Christmas teaching break to resign in order to give his Toronto principal time to find a replacement and it was a more convenient time to relocate. The Tribunal finds that these are valid reasons for delaying his relocation.</p>
	<p>[36] The Claimant stated that he was devastated in January, after resigning and relocating, when he found out that the Brantford board was not ready to put him on their occasional teachers list. He said that he went into a major depression. The Tribunal finds that the Claimant's major depression confirms his belief that he had reasonable alternative employment in Brantford when he voluntarily left his employment in Toronto.</p>
	<p>[37] The Federal Court of Appeal has confirmed the principal that where a claimant voluntarily leaves his/her employment, the burden is on that claimant to prove that there was no reasonable alternative to leaving when he/she did. (<strong>Tanguay A-1458-84</strong>).</p>
	<p>[38] The Tribunal finds that the Claimant has proven that he did not have any reasonable alternative to leaving when he did, because contrary to the Commission's submission, if the Claimant had remained in his occasional teaching position with the Toronto board until it was over and he was back on the Toronto supply list, the occasional teaching position in Brantford which he had qualified for, may not have been available.</p>
	<p>[39] Although not part of the Tribunal's decision, as it turned out the Claimant was placed on the Brantford board's occasional teacher list in March 2012 and immediately began teaching. In August 2012, the Claimant was offered a full time permanent teaching contract with the Brantford board beginning in September 2012. The Tribunal finds that these facts confirm that the Claimant's longer term goal of a full time teaching contract was valid. It can't be proven, but he may have still been in an occasional temporary position if he had stayed in Toronto. The Tribunal finds that the Claimant had just cause for leaving his employment, because at the time he had no other reasonable alternative to achieving his goal of a full time teaching contract, and he had reasonable assurance of another employment pursuant to <a rel="external" href="http://www.canlii.org/en/ca/laws/stat/sc-1996-c-23/latest/sc-1996-c-23.html#sec29_smooth">section 29<span class="wb-inv"> of the Employment Insurance Act</span></a> of the Act.</p>
</section>
<section>
	<h2>Conclusion</h2>
	<p>[40] The appeal is allowed.</p>
	<p>Richard Sterne<br>
		Member, General Division</p>
	<p>DATED: February 19, 2014</p>
</section>