---
{
	"title": "Capsule commémorative",
	"language": "fr",
	"altLangPrefix": "video",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Home", "link": false }
	],
	"dateModified": "2014-02-19"
}
---
<h1 id="wb-cont" class="wb-inv">{{title}}</h1>
<div class="row">
	<div class="col-md-12 wb-mltmd">
		<video poster="http://dev3.canada.ca/video/2012veterans.jpg" title="Capsule commémorative">
			<source type="video/mp4" src="http://dev3.canada.ca/video/2012veterans-{{language}}.mp4"></source>
			<source type="video/webm" src="http://dev3.canada.ca/video/2012veterans-{{language}}.webm"></source>
			<track src="#inline-captions" kind="captions" data-type="text/html" srclang="{{language}}" label="{{alternatetog}}" />
		</video>
		<h2 class="h1">D'hommes et de femmes qui ont servi notre pays dans le passé</h2>
		<p class="pagetag">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
</div>
<div class="row">
	<section class="col-md-12" id="inline-captions">
		<h3>Transcription</h3>
		<p><span class="wb-tmtxt" data-begin="0.00s" data-dur="1.00s">La musique commence à jouer.</span></p>
		<p><span class="wb-tmtxt" data-begin="1.00s" data-dur="10.10s">Images d'hommes et de femmes qui ont servi notre pays dans le passé.</span></p>
		<p><span class="wb-tmtxt" data-begin="11.10s" data-dur="5.83s">Images de membres des Forces canadiennes qui continuent de servir notre pays.</span></p>
		<p><span class="wb-tmtxt" data-begin="16.93s" data-dur="5.51s">Images de Canadiens et Canadiennes lors d'activités commémoratives.</span></p>
		<p><span class="wb-tmtxt" data-begin="22.44s" data-dur="5.77s">Découvrez les activités de la Semaine des anciens combattants à veterans.gc.ca</span></p>
		<p><span class="wb-tmtxt" data-begin="28.21s" data-dur="2.79s">Image du gouvernement du Canada.</span></p>
	</section>
</div>
{{>datemodified-share}}
