<aside class="brdr-tp container">
	<div class="row mrgn-tp-lg">
		<div class="col-sm-4 col-xs-12 mrgn-bttm-lg pull-right">
			<img class="img-responsive" alt="{{{i18n "arms-image-alt"}}}" src="{{assets}}/../{{site.theme}}/assets/sig-blk-{{language}}.png" />
		</div>
		<div class="col-sm-8 pull-left col-xs-12">
			<p>{{{i18n "arms-description"}}}</p>
		</div>
	</div>
</aside>
