{{#unless experimental}}
	<div class="brand col-xs-5 col-md-4">
		<a href="https://www.canada.ca/{{language}}.html"><img src="{{assets}}/../{{site.theme}}/assets/sig-blk-{{language}}.svg" alt="" /><span class="wb-inv"> {{{i18n "tmpl-gc-sig"}}} / <span lang="{{#is page.language "en"}}fr">{{{i18n "tmpl-gc-sig" language="fr"}}}{{else}}en">{{{i18n "tmpl-gc-sig" language="en"}}}{{/is}}</span></span></a>
	</div>
{{else}}
	<div class="brand col-xs-6">
		<a href="https://www.canada.ca/{{language}}.html"><span class="cndwrdmrk"><span class="wb-inv"> {{{i18n "tmpl-gc-wmms"}}}</span></span></a>
	</div>
{{/unless}}
