{{#unless experimental}}
	<div class="brand col-xs-9 col-md-6">
		<a href="index-{{language}}.html"><object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/assets/sig-blk-{{language}}.svg" aria-label="{{#i18n "%tmpl-gc-sig"}}{{/i18n}}"></object>
		</a>
	</div>
{{else}}
	<div class="brand col-xs-6">
		<a href="index-{{language}}.html"><i class="cndwrdmrk"><span class="wb-inv">{{#i18n "%tmpl-gc-wmms"}}{{/i18n}}</span></i></a>
	</div>
{{/unless}}
