{{#unless provisional}}
	<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
		<a href="https://www.canada.ca/{{language}}.html" property="url"><img src="{{assets}}/../{{site.theme}}/assets/sig-blk-{{language}}.svg" alt="{{{i18n "tmpl-gc-sig"}}}" property="logo" /><span class="wb-inv"> / <span lang="{{#is page.language "en"}}fr">{{{i18n "tmpl-gc-sig" language="fr"}}}{{else}}en">{{{i18n "tmpl-gc-sig" language="en"}}}{{/is}}</span></span></a>
		<meta property="name" content="{{{i18n "tmpl-gc-sig"}}}" />
		<meta property="areaServed" typeOf="Country" content="Canada" />
		<link property="logo" href="{{assets}}/../{{site.theme}}/assets/wmms-blk.svg" />
	</div>
{{else}}
	<div class="brand col-xs-6">
		<a href="https://www.canada.ca/{{language}}.html"><span class="cndwrdmrk"><span class="wb-inv"> {{{i18n "tmpl-gc-wmms"}}}</span></span></a>
	</div>
{{/unless}}
