{{#unless experimental}}
	<div class="brand col-xs-8 col-sm-9 col-md-6">
		<a href="http://www.canada.ca/{{language}}/index.html"><object type="image/svg+xml" tabindex="-1" data="{{assets}}/assets/sig-blk-{{language}}.svg"></object><span class="wb-inv"> {{{i18n "tmpl-gc-sig"}}}</span></a>
	</div>
{{else}}
	<div class="brand col-xs-6">
		<a href="http://www.canada.ca/{{language}}/index.html"><span class="cndwrdmrk"><span class="wb-inv"> {{{i18n "tmpl-gc-wmms"}}}</span></span></a>
	</div>
{{/unless}}
