{{#unlessEq pageclass compare="home"}}
	{{#if page.breadcrumb}}
				{{#each breadcrumb}}<li><a href="{{link}}">{{title}}</a></li>{{/each}}

	{{else}}
<li>
	<a href="{{site.wetSiteRoot}}/index-{{language}}.html">{{{i18n "tmpl-home"}}}</a>
</li>
		{{#contains page.src "/demos/index"}}
		{{else}}
			{{#contains page.src "/docs/"}}
				{{#contains page.src "/versions/"}}
					{{#contains page.src "/index"}}
					{{else}}
<li>
	<a href="{{site.wetSiteRoot}}/docs/versions/index-{{language}}.html">{{{i18n "tmpl-version-history"}}}</a>
</li>
					{{/contains}}
				{{else}}
					{{#contains page.src "/docs/index"}}
					{{else}}
<li>
	<a href="{{site.wetSiteRoot}}/docs/index-{{language}}.html">{{{i18n "tmpl-documentation"}}}</a>
</li>
						{{#if page.categoryfile}}
<li>
	<a href="{{site.wetSiteRoot}}/docs/ref/{{page.categoryfile}}-{{language}}.html">{{page.category}}</a>
</li>
						{{/if}}
					{{/contains}}
				{{/contains}}
			{{else}}
<li>
	<a href="{{site.wetSiteRoot}}/demos/index-{{language}}.html">{{{i18n "tmpl-work-examples"}}}</a>
</li>
				{{#is breadcrumb3 "true"}}
					{{#contains tag "theme-wet-boew"}}
<li>
	<a href="{{site.wetSiteRoot}}/theme/index-{{language}}.html">{{breadcrumb3-title}}</a>
</li>
					{{else}}
<li>
	<a href="{{site.wetSiteRoot}}/demos/{{tag}}/index-{{language}}.html">{{breadcrumb3-title}}</a>
</li>
					{{/contains}}
				{{/is}}
			{{/contains}}
		{{/contains}}
<li>{{title}}</li>
	{{/if}}
{{/unlessEq}}
