<h2 class="wb-inv">Promotions</h2>
<div class="wb-tabs carousel-s2 playing" data-speed="slow">
	<ul role="tablist">
		<li class="active">
			<a href="#tab1" title="{{#is page.language "fr"}}Languette 1 : [Titre de la page de destination – appel à l’action]{{else}}Tab 1: [Title of destination page – call to action]{{/is}}"><img src="{{assets}}/img/promos/653x194-1.png" alt=""/></a>
		</li>
		<li>
			<a href="#tab2" title="{{#is page.language "fr"}}Languette 2 : [Titre de la page de destination – appel à l’action]{{else}}Tab 2: [Title of destination page – call to action]{{/is}}"><img src="{{assets}}/img/promos/653x194-2.png" alt=""/></a>
		</li>
		<li>
			<a href="#tab3" title="{{#is page.language "fr"}}Languette 3 : [Titre de la page de destination – appel à l’action]{{else}}Tab 3: [Title of destination page – call to action]{{/is}}"><img src="{{assets}}/img/promos/653x194-3.png" alt=""/></a>
		</li>
	</ul>
	<div role="tabpanel" id="tab1" class="in fade">
		<a href="#" class="learnmore">
			<figure>
				<img src="{{assets}}/img/promos/653x194-1.png" alt=""/>
				<figcaption>
					<p>{{#is page.language "fr"}}[Titre de la page de destination – appel à l’action]{{else}}[Title of destination page – call to action]{{/is}}</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div role="tabpanel" id="tab2" class="out fade">
		<a href="#" class="learnmore">
			<figure>
				<img src="{{assets}}/img/promos/653x194-2.png" alt=""/>
				<figcaption>
					<p>{{#is page.language "fr"}}[Titre de la page de destination – appel à l’action]{{else}}[Title of destination page – call to action]{{/is}}</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div role="tabpanel" id="tab3" class="out fade">
		<a href="#" class="learnmore">
			<figure>
				<img src="{{assets}}/img/promos/653x194-3.png" alt=""/>
				<figcaption>
					<p>{{#is page.language "fr"}}[Titre de la page de destination – appel à l’action]{{else}}[Title of destination page – call to action]{{/is}}</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>
