<section class="gc-crprt">
	<h2>{{{i18n "corp-info-header"}}}</h2>
	<div class="row">
		<div class="col-md-4">
			<ul>
				<li><a href="#">{{{i18n "corp-info-list-item1"}}}</a></li>
				<li><a href="#">{{{i18n "corp-info-list-item2"}}}</a></li>
				<li><a href="#">{{{i18n "corp-info-list-item3"}}}</a></li>
				{{#is page.pageType "institution"}}<li><a href="#">{{{i18n "corp-info-list-item4"}}}</a></li>{{/is}}
				{{#is page.pageType "institution"}}<li><a href="#">{{{i18n "corp-info-list-item5"}}}</a></li>{{/is}}
				{{#is page.pageType "institution"}}<li><a href="#">{{{i18n "corp-info-list-item6"}}}</a></li>{{/is}}
				<li><a href="#">{{{i18n "corp-info-list-item7"}}}</a></li>
				{{#is page.pageType "institution"}}<li><a href="#">{{{i18n "corp-info-list-item8"}}}</a></li>{{/is}}
				{{#is page.pageType "organization"}}<li><a href="#">{{{i18n "corp-info-list-item8"}}}</a></li>{{/is}}
			</ul>
		</div>
		<div class="col-md-8">
			<div class="wb-eqht row">
				{{>corp-info-roles}}
			{{#is page.pageType "institution"}}
				{{>corp-info-roles}}
				{{>corp-info-roles-management}}
			{{/is}}
			</div>
		</div>
	</div>
</section>
