<a href="#">
	<figure>
		<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail"/>
		<figcaption>{{#is page.pageType "institution"}}{{{i18n "corp-info-institution-name"}}}{{else}}{{{i18n "corp-info-organization-name"}}}{{/is}}</figcaption>
	</figure>
</a>
{{#is page.pageType "institution"}}<p class="mrgn-tp-sm">{{{i18n "corp-info-title"}}}</p>{{else}}<p>{{{i18n "corp-info-org-title"}}}</p>{{/is}}
