<a href="#">
	<figure>
		<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail"/>
		<figcaption>{{#is page.pageType "institution"}}{{{i18n "corp-info-institution-name"}}}{{else}}{{{i18n "corp-info-organization-name"}}}{{/is}}</figcaption>
	</figure>
</a>
<p>{{#is page.pageType "institution"}}{{{i18n "corp-info-title"}}}{{else}}{{{i18n "corp-info-org-title"}}}{{/is}}</p>
