<div class="row pagedetails">
	<div class="col-xs-6 datemod">
		<dl id="wb-dtmd" property="dateModified">
			<dt>{{i18n "tmpl-date-mod"}}{{{i18n "space"}}}</dt>
			<dd><time>{{page.dateModified}}</time></dd>
		</dl>
	</div>
	<div class="col-xs-6 text-right">
		<a href="{{i18n "tmpl-feedback-link"}}" class="btn btn-default"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>{{i18n "tmpl-feedback"}}<span class="wb-inv">{{i18n "tmpl-feedback-hidden"}}</span></a>
	</div>
</div>
