<section class="gc-prtts">
	<h2>{{{i18n "de-title"}}}</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">{{{i18n "de-title-link"}}}</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>{{{i18n "de-description"}}}</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">{{{i18n "de-title-link"}}}</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>{{{i18n "de-description"}}}</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">{{{i18n "de-title-link"}}}</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
			</a>
			<p>{{{i18n "de-description"}}}</p>
		</section>
	</div>
</section>