<aside class="gc-nttvs container">
	<h2>{{{i18n "tmpl-features"}}}</h2>
{{#is page.toplevel true}}
	<div class="wb-eqht row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>{{{i18n "fe-description"}}}</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>{{{i18n "fe-description"}}}</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>{{{i18n "fe-description"}}}</p>
		</section>
	</div>
{{/is}}
	<div id="gcwb_prts" class="wb-eqht row" data-ajax-append="http://travel.gc.ca/gcweb-cdn-host/features/features-{{language}}.html"></div>
</aside>