{{#is page.toplevel true}}
		<section class="col-lg-4 col-md-6">
			<a rel="external" href="http://www.fin.gc.ca/news-nouvelles/nr-nc/2013/prebudget-prebudgetaire-fra.asp">
				<h3 class="h5">Consultations prébudgétaires</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2013-11-07_budget-fr.jpg" alt=""/>
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a rel="external" href="http://www.canada150.gc.ca/fra/1344275798109/1344275838665">
				<h3 class="h5"><span class="wb-inv">Canada 150 </span>À vous la parole!</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2013-12-12_haveyoursay-fr.jpg" alt=""/>
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a rel="external" href="http://www.ic.gc.ca/eic/site/icgc.nsf/fra/07389.html?Open&amp;wtpromo=Plus_de_choix">
				<h3 class="h5">Notre politique sur le sans-fil est claire.<span class="wb-inv"> Plus de choix. Des prix plus bas.</span></h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2013-09-04_wl-fr.png" alt=""/>
			</a>
			<p>Brève description de l'initiative, la tâche ou des renseignements en promotion</p>
		</section>
{{/is}}
		<section class="col-lg-4 col-md-6">
			<a rel="external" href="http://www.swc-cfc.gc.ca/commemoration/whm-mhf/index-fra.html?utm_source=CFC-SWC&amp;utm_medium=features%20&amp;utm_campaign=WHM2014" class="gl-features">
				<h3 class="h5">Mois de l’histoire des femmes</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-10-01_whm.jpg" alt="">
			</a>
		<p>Les femmes d’affaires &mdash; une force montante dans l’économie</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a rel="external" href="http://www.veterans.gc.ca/fra/remembrance?utm_source=VAC&amp;utm_medium=feature&amp;utm_content=french&amp;utm_campaign=11_11_2014_remembrance_day" class="gl-features">
				<h3 class="h5">Le 11 novembre, ne les oubliez pas</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-10-17_remebrance.jpg" alt="">
			</a>
			<p>Les vétérans du Canada - forts, fiers et libres</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a rel="external" href="http://www.oec.gc.ca/programme-epargne-salaire/employes/index.php?Date=oct2014&amp;Campaign=fr-ProgrammeEpargneSalaireDesOEC&amp;Img=guitar&amp;Media=ArticlesVedettes" class="gl-features">
				<h3 class="h5">Obligations d’épargne du Canada</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/pi-2014-10-17_guitar-f.gif" alt="">
			</a>
			<p>Renseignez-vous sur le programme d’épargne-salaire des OEC</p>
		</section>
