<aside class="gc-nttvs container">
{{#is page.armslength true}}
	<div class="row mrgn-tp-lg">
		<div class="col-sm-4 col-xs-10 col-sm-push-8 mrgn-bttm-lg">
			<img class="img-responsive" alt="{{{i18n "arms-image-alt"}}}" src="{{assets}}/../{{site.theme}}/assets/sig-blk-{{language}}.png" />
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<p>{{{i18n "arms-description"}}}</p>
		</div>
	</div>
{{else}}
	<h2>{{{i18n "tmpl-features"}}}</h2>
{{#is page.toplevel true}}
	<div class="wb-eqht row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>{{{i18n "fe-description"}}}</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>{{{i18n "fe-description"}}}</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
			</a>
			<p>{{{i18n "fe-description"}}}</p>
		</section>
	</div>
{{/is}}
	<div id="gcwb_prts" class="wb-eqht row">
	<section class="col-lg-4 col-md-6 mrgn-bttm-md">
		<a rel="external" href="#">
			<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
			<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
		</a>
		<p>{{{i18n "fe-description"}}}</p>
	</section>
	<section class="col-lg-4 col-md-6 mrgn-bttm-md">
		<a rel="external" href="#">
			<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
			<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
		</a>
		<p>{{{i18n "fe-description"}}}</p>
	</section>
	<section class="col-lg-4 col-md-6 mrgn-bttm-md">
		<a rel="external" href="#">
			<h3 class="h5">{{{i18n "fe-title-link"}}}</h3>
			<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="" />
		</a>
		<p>{{{i18n "fe-description"}}}</p>
	</section>
</div>
{{/is}}
</aside>
