{{#contains "theme, topic, gcaudience" page.pageType }}
{{else}}
<div class="row">
<div class="col-xs-12 col-md-auto pull-right">
{{/contains}}
<section class="followus">
	<h2>{{{i18n "so-title"}}}</h2>
	<ul>
		<li><a href="#facebook" class="facebook wb-lbx"><span class="wb-inv">Facebook</span></a></li>
		<li><a href="#" class="twitter" rel="external"><span class="wb-inv">Twitter</span></a></li>
		<li><a href="#youtube" class="youtube wb-lbx"><span class="wb-inv">YouTube</span></a></li>
		<li><a href="#" class="flickr" rel="external"><span class="wb-inv">Flickr</span></a></li>
		<li><a href="#" class="googleplus" rel="external"><span class="wb-inv">Google+</span></a></li>
		<li><a href="#" class="pinterest" rel="external"><span class="wb-inv">Pinterest</span></a></li>
		<li><a href="#" class="linkedin" rel="external"><span class="wb-inv">LinkedIn</span></a></li>
		<li><a href="#" class="instagram" rel="external"><span class="wb-inv">Instagram</span></a></li>
		<li><a href="#" class="rss" rel="external"><span class="wb-inv">{{{i18n "so-rss"}}}</span></a></li>
		<li><a href="#" class="email" rel="external"><span class="wb-inv">{{{i18n "so-email"}}}</span></a></li>
		<li><a href="#" class="periscope" rel="external"><span class="wb-inv">Periscope</span></a></li>
	</ul>
</section>
<section id="facebook" class="mfp-hide modal-dialog modal-content overlay-def">
	<header class="modal-header">
		<h2 class="modal-title">Facebook</h2>
	</header>
	<div class="modal-body">
		<ul class="list-unstyled lst-spcd">
			<li><a href="#" rel="external">{{{i18n "so-facebook1"}}}</a></li>
			<li><a href="#" rel="external">{{{i18n "so-facebook2"}}}</a></li>
		</ul>
	</div>
</section>
<section id="youtube" class="mfp-hide modal-dialog modal-content overlay-def">
	<header class="modal-header">
		<h2 class="modal-title">YouTube</h2>
	</header>
	<div class="modal-body">
		<ul class="list-unstyled lst-spcd">
			<li><a href="#" rel="external">{{{i18n "so-youtube1"}}}</a></li>
			<li><a href="#" rel="external">{{{i18n "so-youtube2"}}}</a></li>
			<li><a href="#" rel="external">{{{i18n "so-youtube3"}}}</a></li>
		</ul>
	</div>
</section>
{{#contains "theme, topic, gcaudience" page.pageType }}
{{else}}
</div></div>
{{/contains}}
