<div class="row">
	<div class="col-sm-3 col-lg-3">
		<section>
			<h3>{{{i18n "mn-contact-information"}}}</h3>
			<ul class="list-unstyled">
				<li><a href="#">{{{i18n "mn-link-1"}}}</a></li>
				<li><a href="#">{{{i18n "mn-link-2"}}}</a></li>
				<li><a href="#">{{{i18n "mn-link-3"}}}</a></li>
			</ul>
		</section>
		<section>
			<h3>{{{i18n "mn-news"}}}</h3>
			<ul class="list-unstyled">
				<li><a href="{{{i18n "mn-newsroom-url"}}}">{{{i18n "mn-newsroom"}}}</a></li>
				<li><a href="{{{i18n "mn-news-releases-url"}}}">{{{i18n "mn-news-releases"}}}</a></li>
				<li><a href="{{{i18n "mn-media-advisories-url"}}}">{{{i18n "mn-media-advisories"}}}</a></li>
				<li><a href="{{{i18n "mn-speeches-url"}}}">{{{i18n "mn-speeches"}}}</a></li>
				<li><a href="{{{i18n "mn-statements-url"}}}">{{{i18n "mn-statements"}}}</a></li>
			</ul>
		</section>
	</div>
	<section class="col-sm-3 col-lg-3">
		<h3>{{{i18n "mn-government"}}}</h3>
		<ul class="list-unstyled">
			<li><a href="{{{i18n "mn-how-government-works-url"}}}">{{{i18n "mn-how-government-works"}}}</a></li>
			<li><a href="{{{i18n "mn-departments-agencies-url"}}}">{{{i18n "mn-departments-agencies"}}}</a></li>
			<li><a href="{{{i18n "mn-prime-minister-url"}}}">{{{i18n "mn-prime-minister"}}}</a></li>
			<li><a href="{{{i18n "mn-ministers-url"}}}">{{{i18n "mn-ministers"}}}</a></li>
			<li><a href="{{{i18n "mn-policies-regulations-laws-url"}}}">{{{i18n "mn-policies-regulations-laws"}}}</a></li>
			<li><a href="{{{i18n "mn-libraries-url"}}}">{{{i18n "mn-libraries"}}}</a></li>
			<li><a href="{{{i18n "mn-publications-url"}}}">{{{i18n "mn-publications"}}}</a></li>
			<li><a href="{{{i18n "mn-statistics-data-url"}}}">{{{i18n "mn-statistics-data"}}}</a></li>
			<li><a href="{{{i18n "mn-about-canada.ca-url"}}}">{{{i18n "mn-about-canada.ca"}}}</a></li>
		</ul>
	</section>
	<section class="col-sm-3 col-lg-3 brdr-lft">
		<h3>{{{i18n "mn-transparency"}}}</h3>
		<ul class="list-unstyled">
			<li><a href="{{{i18n "mn-government-wide-reporting-url"}}}">{{{i18n "mn-government-wide-reporting"}}}</a></li>
			<li><a href="{{{i18n "mn-open-government-url"}}}">{{{i18n "mn-open-government"}}}</a></li>
			<li><a href="{{{i18n "mn-proactive-disclosure-url"}}}">{{{i18n "mn-proactive-disclosure"}}}</a></li>
			<li><a href="{{{i18n "mn-terms-conditions-url"}}}">{{{i18n "mn-terms-conditions"}}}</a></li>
			<li><a href="{{{i18n "mn-privacy-url"}}}">{{{i18n "mn-privacy"}}}</a></li>
		</ul>
	</section>
	<div class="col-sm-3 col-lg-3 brdr-lft">
		<section>
			<h3>{{{i18n "mn-feedback"}}}</h3>
			<p><a href="{{{i18n "mn-feedback-about-this-Web-site-url"}}}"><img src="{{assets}}/assets/feedback.png" alt="{{{i18n "mn-feedback-about-this-Web-site"}}}" /></a></p>
		</section>
		<section>
			<h3>{{{i18n "mn-social-media"}}}</h3>
			<p><a href="{{{i18n "mn-social-media-url"}}}"><img src="{{assets}}/assets/social.png" alt="{{{i18n "mn-social-media"}}}" /></a></p>
		</section>
		<section>
			<h3>{{{i18n "mn-mobile-centre"}}}</h3>
			<p><a href="{{{i18n "mn-mobile-centre-url"}}}"><img src="{{assets}}/assets/mobile.png" alt="{{{i18n "mn-mobile-centre"}}}" /></a></p>
		</section>
	</div>
</div>