<ul class="list-unstyled colcount-sm-2 colcount-md-3">
	<li><a href="{{{i18n "menu-footer-about-contact-link"}}}">{{{i18n "menu-footer-about-contact-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-departments-link"}}}">{{{i18n "menu-footer-about-departments-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-military-link"}}}">{{{i18n "menu-footer-about-military-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-news-link"}}}">{{{i18n "menu-footer-about-news-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-treaties-link"}}}">{{{i18n "menu-footer-about-treaties-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-reporting-link"}}}">{{{i18n "menu-footer-about-reporting-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-pm-link"}}}">{{{i18n "menu-footer-about-pm-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-government-link"}}}">{{{i18n "menu-footer-about-government-text"}}}</a></li>
	<li><a href="{{{i18n "menu-footer-about-open-link"}}}">{{{i18n "menu-footer-about-open-text"}}}</a></li>
</ul>
