<div class="row">
	<section class="col-sm-6 col-md-3">
		<h3>{{{i18n "mn-ft-heading-contact"}}}</h3>
		<ul class="list-unstyled">
			<li><a href="{{{i18n "mn-ft-contact-find-url"}}}">{{{i18n "mn-ft-contact-find"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-contact-mp-url"}}}">{{{i18n "mn-ft-contact-mp"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-contact-department-agency-url"}}}">{{{i18n "mn-ft-contact-department-agency"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-contact-general-enquiries-url"}}}">{{{i18n "mn-ft-contact-general-enquiries"}}}</a></li>
		</ul>
	</section>
	<section class="col-sm-6 col-md-3">
		<h3>{{{i18n "mn-ft-heading-collections"}}}</h3>
		<ul class="list-unstyled">
			<li><a href="{{{i18n "mn-ft-collections-news-url"}}}">{{{i18n "mn-ft-collections-news"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-collections-statistics-url"}}}">{{{i18n "mn-ft-collections-statistics"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-collections-publications-url"}}}">{{{i18n "mn-ft-collections-publications"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-collections-laws-regulations-treaties-url"}}}">{{{i18n "mn-ft-collections-laws-regulations-treaties"}}}</a></li>
		</ul>
	</section>
	<section class="col-sm-6 col-md-3">
		<h3>{{{i18n "mn-ft-heading-about"}}}</h3>
		<ul class="list-unstyled">
			<li><a href="{{{i18n "mn-ft-about-departments-url"}}}">{{{i18n "mn-ft-about-departments"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-about-how-gov-works-url"}}}">{{{i18n "mn-ft-about-how-gov-works"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-about-prime-minister-url"}}}">{{{i18n "mn-ft-about-prime-minister"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-about-ministers-url"}}}">{{{i18n "mn-ft-about-ministers"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-about-public-service-military-url"}}}">{{{i18n "mn-ft-about-public-service-military"}}}</a></li>
		</ul>
	</section>
	<section class="col-sm-6 col-md-3">
	<h3>{{{i18n "mn-ft-heading-open"}}}</h3>
		<ul class="list-unstyled">
			<li><a href="{{{i18n "mn-ft-open-about-url"}}}">{{{i18n "mn-ft-open-about"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-open-proactive-disclosure-url"}}}">{{{i18n "mn-ft-open-proactive-disclosure"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-open-atip-url"}}}">{{{i18n "mn-ft-open-atip"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-open-data-url"}}}">{{{i18n "mn-ft-open-data"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-open-info-url"}}}">{{{i18n "mn-ft-open-info"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-open-dialogue-url"}}}">{{{i18n "mn-ft-open-dialogue"}}}</a></li>
		</ul>
	</section>
	<div class="clearfix"></div>
	<section class="text-center ftr-urlt-lnk mrgn-tp-lg">
		<h3 class="wb-inv">{{{i18n "mn-ft-heading-utility"}}}</h3>
		<ul class="list-inline col-sm-11">
			<li><a href="{{{i18n "mn-ft-utility-feedback-url"}}}">{{{i18n "mn-ft-utility-feedback"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-utility-social-media-url"}}}">{{{i18n "mn-ft-utility-social-media"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-utility-mobile-url"}}}">{{{i18n "mn-ft-utility-mobile"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-utility-about-canada-url"}}}">{{{i18n "mn-ft-utility-about-canada"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-utility-terms-conditions-url"}}}">{{{i18n "mn-ft-utility-terms-conditions"}}}</a></li>
			<li><a href="{{{i18n "mn-ft-utility-privacy-url"}}}">{{{i18n "mn-ft-utility-privacy"}}}</a></li>
		</ul>
	</section>
</div>
