<div class="brand">
	<div class="container">
		<div class="row ">
			<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
				<h2 class="wb-inv">{{{i18n "tmpl-about-site"}}}</h2>
				<ul>
					<li><a href="{{{i18n "menu-footer-communications-social-link"}}}">{{{i18n "menu-footer-communications-social-text"}}}</a></li>
					<li><a href="{{{i18n "menu-footer-communications-mobile-link"}}}">{{{i18n "menu-footer-communications-mobile-text"}}}</a></li>
					<li><a href="{{{i18n "menu-footer-communications-about-link"}}}">{{{i18n "menu-footer-communications-about-text"}}}</a></li>
					<li><a href="{{{i18n "menu-footer-communications-terms-link"}}}">{{{i18n "menu-footer-communications-terms-text"}}}</a></li>
					<li><a href="{{{i18n "menu-footer-communications-privacy-link"}}}">{{{i18n "menu-footer-communications-privacy-text"}}}</a></li>
				</ul>
			</nav>
			<div class="col-xs-6 visible-sm visible-xs tofpg">
				<a href="#wb-cont">{{{i18n "tmpl-toppage"}}} <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-xs-6 col-md-3 col-lg-2 text-right">
				<img src="{{assets}}/../{{site.theme}}/assets/wmms-blk.svg" alt="{{{i18n "tmpl-gc-wmms"}}}" />
			</div>
		</div>
	</div>
</div>
