<section class="col-sm-3 col-lg-3">
	<h3>Gouvernement</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/fr/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
		<li><a href="{{rooturl}}/fr/gouv/min/index.html">Ministères et organismes</a></li>
		<li><a href="{{rooturl}}/fr/gouv/ministres/index.html">Ministres</a></li>
		<li><a href="{{rooturl}}/fr/gouv/politique/index.html">Politiques, règlements et lois</a></li>
		<li><a href="{{rooturl}}/fr/gouv/bibliotheques.html">Bibliothèques</a></li>
		<li><a href="{{rooturl}}/fr/gouv/publications.html">Publications</a></li>
		<li><a href="{{rooturl}}/fr/gouv/statistiques.html">Statistiques et données</a></li>
		<li><a href="{{rooturl}}/fr/nouveausite.html">Le nouveau site Canada.ca</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Transparence</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/fr/transparence/rapports.html">Établissement de rapports à l'échelle du gouvernement</a></li>
		<li><a href="{{rooturl}}/fr/transparence/ouvert.html">Gouvernement ouvert</a></li>
		<li><a href="{{rooturl}}/fr/transparence/divulgation.html">Divulgation proactive</a></li>
		<li><a href="{{rooturl}}/fr/transparence/avis.html">Avis</a></li>
		<li><a href="{{rooturl}}/fr/transparence/confidentialite.html">Confidentialité</a></li>
	</ul>
</section>
<div class="col-sm-3 col-lg-3 brdr-lft">
	<section>
		<h3>Nouvelles</h3>
		<ul class="list-unstyled">
			<li><a href="{{rooturl}}/fr/media/presse/index.html">Salle de presse</a></li>
            <li><a href="{{rooturl}}/fr/media/communiques/index.html">Communiqués de presse</a></li>
            <li><a href="{{rooturl}}/fr/media/avis/index.html">Avis aux médias</a></li>
            <li><a href="{{rooturl}}/fr/media/discours/index.html">Discours</a></li>
            <li><a href="{{rooturl}}/fr/media/declarations/index.html">Déclarations</a></li>
		</ul>
	</section>
	<section>
		<h3>Coordonnées</h3>
		<ul class="list-unstyled">
            <li><a href="#">Lien 1</a></li>
            <li><a href="#">Lien 2</a></li>
            <li><a href="#">Lien 3</a></li>
		</ul>
	</section>
</div>
<div class="col-sm-3 col-lg-3 brdr-lft">
	<section>
		<h3>Médias sociaux</h3>
		<p><a href="{{rooturl}}/fr/sociaux/index.html"><img src="{{assets}}/img/social.png" class="img-responsive" alt="Médias sociaux"></a></p>
	</section>
	<section>
		<h3>Centre mobile</h3>
		<p><a href="{{rooturl}}/fr/mobile/index.html"><img src="{{assets}}/img/mobile.png" class="img-responsive" alt="Centre mobile"></a></p>
	</section>
</div>
