
<section class="col-sm-3 col-lg-3">
	<h3>Gouvernement</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/fra/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
		<li><a href="{{rooturl}}/fra/gouv/min/index.html">Ministères et organismes</a></li>
		<li><a href="{{rooturl}}/fra/gouv/ministres/index.html">Ministres</a></li>
		<li><a href="{{rooturl}}/fra/gouv/politique/index.html">Politiques, règlements et lois</a></li>
		<li><a href="{{rooturl}}/fra/gouv/bibliotheques.html">Bibliothèques</a></li>
		<li><a href="{{rooturl}}/fra/gouv/publications.html">Publications</a></li>
		<li><a href="{{rooturl}}/fra/gouv/statistiques.html">Statistiques et données</a></li>
		<li><a href="{{rooturl}}/fra/nouveausite.html">Le nouveau site Canada.ca</a></li>
	</ul>
</section>

<section class="col-sm-3 col-lg-3">
	<h3>Transparence</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/fra/transparence/ouvert.html">Gouvernement ouvert</a></li>
		<li><a href="{{rooturl}}/fra/transparence/divulgation">Divulgation proactive</a></li>
		<li><a href="{{rooturl}}/fra/transparence/modalites.html">Modalités d’utilisation</a></li>
		<li><a href="{{rooturl}}/fra/transparence/confidentialite.html">Confidentialité</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3 border-left">
	<h3>Nouvelles</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/fra/media/communiques">Communiqués de presse</a></li>
		<li><a href="{{rooturl}}/fra/media/discours">Discours</a></li>
		<li><a href="{{rooturl}}/fra/media/declarations">Déclarations</a></li>
		<li><a href="{{rooturl}}/fra/media/notes">Document d'information</a></li>
		<li><a href="{{rooturl}}/fra/media/avis">Avis aux médias</a></li>
	</ul>

	<h3>Coordonnées</h3>
	<ul class="list-unstyled">
			<li><a href="{{rooturl}}/fra/contact/index.html">Contactez-nous</a></li>
	</ul>
</section>

<section class="col-sm-3 col-lg-3 border-left">
	<h3>Médias sociaux</h3>
	<p><a href="{{rooturl}}/fra/sociaux/index.html"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>

	<h3>Centre mobile</h3>
	<p><a href="{{rooturl}}/fra/mobile/index.html"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>

</section>
