<section class="col-sm-3 col-lg-3">

	<h3>Government</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/eng/gov/system/index.html">How government works</a></li>
		<li><a href="{{rooturl}}/eng/gov/dept/index.html">Departments &amp; agencies</a></li>
		<li><a href="{{rooturl}}/eng/gov/ministers/index.html">Ministers</a></li>
		<li><a href="{{rooturl}}/eng/gov/policy/index.html">Policies, regulations &amp; laws</a></li>
		<li><a href="{{rooturl}}/eng/gov/libraries/index.html">Libraries</a></li>
		<li><a href="{{rooturl}}/eng/gov/publications/index.html">Publications</a></li>
		<li><a href="{{rooturl}}/eng/gov/statistics/index.html">Statistics &amp; data</a></li>
		<li><a href="{{rooturl}}/eng/newsite.html">The new Canada.ca</a></li>
	</ul>
</section>

<section class="col-sm-3 col-lg-3">
	<h3>Transparency</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/eng/transparency/open.html">Transparency</a></li>
		<li><a href="{{rooturl}}/eng/transparency/disclosure">Proactive disclosure</a></li>
		<li><a href="{{rooturl}}/eng/transparency/terms">Terms of use</a></li>
		<li><a href="{{rooturl}}/eng/transparency/privacy">Privacy</a></li>
	</ul>
</section>

<section class="col-sm-3 col-lg-3 border-left">
	<h3>News</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/eng/media/releases">News releases</a></li>
		<li><a href="{{rooturl}}/eng/media/speeches">Speeches</a></li>
		<li><a href="{{rooturl}}/eng/media/statements">Statements</a></li>
		<li><a href="{{rooturl}}/eng/media/backgrounders">Backgrounders</a></li>
		<li><a href="{{rooturl}}/eng/media/advisories">Media advisories</a></li>
	</ul>

	<h3>Contact information</h3>
	<ul class="list-unstyled">
			<li><a href="{{rooturl}}/eng/contact/index.html">Contact us</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3 border-left">
	<h3>Social media</h3>
	<p><a href="{{rooturl}}"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>

	<h3>Mobile centre</h3>
	<p><a href="{{rooturl}}"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>

</section>
