<section class="col-sm-3 col-lg-3">
	<h3>Government</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/en/gov/system/index.html">How government works</a></li>
		<li><a href="{{rooturl}}/en/gov/dept/index.html">Departments &amp; agencies</a></li>
		<li><a href="{{rooturl}}/en/gov/ministers/index.html">Ministers</a></li>
		<li><a href="{{rooturl}}/en/gov/policy/index.html">Policies, regulations &amp; laws</a></li>
		<li><a href="{{rooturl}}/en/gov/libraries/index.html">Libraries</a></li>
		<li><a href="{{rooturl}}/en/gov/publications/index.html">Publications</a></li>
		<li><a href="{{rooturl}}/en/gov/statistics/index.html">Statistics &amp; data</a></li>
		<li><a href="{{rooturl}}/en/newsite.html">The new Canada.ca</a></li>
	</ul>
</section>
<section class="col-sm-3 col-lg-3">
	<h3>Transparency</h3>
	<ul class="list-unstyled">
		<li><a href="{{rooturl}}/en/transparency/open.html">Transparency</a></li>
		<li><a href="{{rooturl}}/en/transparency/disclosure">Proactive disclosure</a></li>
		<li><a href="{{rooturl}}/en/transparency/terms">Terms of use</a></li>
		<li><a href="{{rooturl}}/en/transparency/privacy">Privacy</a></li>
	</ul>
</section>
<div class="col-sm-3 col-lg-3 border-left">
	<section>
		<h3>News</h3>
		<ul class="list-unstyled">
			<li><a href="{{rooturl}}/en/media/releases">News releases</a></li>
			<li><a href="{{rooturl}}/en/media/speeches">Speeches</a></li>
			<li><a href="{{rooturl}}/en/media/statements">Statements</a></li>
			<li><a href="{{rooturl}}/en/media/backgrounders">Backgrounders</a></li>
			<li><a href="{{rooturl}}/en/media/advisories">Media advisories</a></li>
		</ul>
	</section>
	<section>
		<h3>Contact information</h3>
		<ul class="list-unstyled">
			<li><a href="{{rooturl}}/en/contact/index.html#aat">Most asked-about topics</a></li>
			<li><a href="{{rooturl}}/en/contact/index.html#spe">Specialized enquiries</a></li>
			<li><a href="{{rooturl}}/en/contact/index.html#gen">General enquiries</a></li>
		</ul>
	</section>
</div>
<div class="col-sm-3 col-lg-3 border-left">
	<section>
		<h3>Social media</h3>
		<p><a href="{{rooturl}}/en/social/index.html"><img src="./img/social-en.png" alt="Social media" class="img-responsive"></a></p>
	</section>
	<section>
		<h3>Mobile centre</h3>
		<p><a href="{{rooturl}}/en/mobile/index.html"><img src="./img/mobile-en.png" alt="Mobile centre" class="img-responsive"></a></p>
	</section>
</div>
