<!-- some mobile views -->
    <a href="#" class="nav-close visible-sm visible-xs"><span class="glyphicon glyphicon-remove"></span> Close Menu</a>
<!-- secondary navigation if enabled -->
<section class="pnl-strt container visible-md visible-lg nvbar">
    <h2 class="wb-inv">Site menu</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
            <li><a href="#jobs" class="item">Jobs</a>
                <ul class="sm list-unstyled" id="jobs" role="menu">
                    <li><a href="{{rooturl}}/en/jobs/find.html">Find a job</a></li>
                    <li><a href="{{rooturl}}/en/jobs/training.html">Training</a></li>
                    <li><a href="{{rooturl}}/en/jobs/pensions.html">Pensions &amp; retirement</a></li>
                    <li><a href="{{rooturl}}/en/jobs/workplace.html">Workplace standards</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/en/jobs/index.html">More on jobs</a></li>
                </ul>
            </li>
            <li><a href="#immigration" class="item">Immigration</a>
                <ul class="sm list-unstyled" id="immigration" role="menu">
                    <li><a href="/en/citimm/immigrate.html">Immigrate</a></li>
                    <li><a href="/en/citimm/visit.html">Visit</a></li>
                    <li><a href="/en/citimm/work.html">Work</a></li>
                    <li><a href="/en/citimm/study.html">Study</a></li>
                    <li><a href="/en/citimm/citizenship.html">Citizenship</a></li>
                    <li><a href="/en/citimm/newcomers.html">New immigrants</a></li>
                    <li><a href="/en/citimm/canadians.html">Canadians</a></li>
                    <li><a href="/en/citimm/application.html">My application</a></li>
                    <li class="slflnk"><a href="/en/citimm/index.html">More on immigration</a></li>
                </ul>
            </li>
            <li><a href="#travel" class="item">Travel</a>
                <ul class="sm list-unstyled" id="travel" role="menu">
                    <li><a href="http://travel.gc.ca/news-warnings">News &amp; warnings</a></li>
                    <li><a href="http://travel.gc.ca/travelling">Travelling abroad</a></li>
                    <li><a href="http://travel.gc.ca/returning">Returning to Canada</a></li>
                    <li><a href="http://travel.gc.ca/assistance">Assistance</a></li>
                    <li class="slflnk"><a href="http://travel.gc.ca/">More on travel</a></li>
                </ul>
            </li>
            <li><a href="{{rooturl}}/en/business/index.html" class="item">Business</a></li>
            <li><a href="#benefits" class="item">Benefits</a>
                <ul class="sm list-unstyled" id="benefits" role="menu">
                    <li><a href="{{rooturl}}/en/benefits/ei.html">Employment insurance</a></li>
					<li class="slflnk"><a href="{{rooturl}}/en/benefits/index.html">More on benefits</a></li>
				</ul>
            </li>
           <li><a href="#health" class="item">Health</a>
                <ul class="sm list-unstyled" id="health" role="menu">
                    <li><a href="http://healthycanadians.gc.ca/index-eng.php">Healthy Canadians</a></li>
					<li><a href="http://www.healthycanadians.gc.ca/recall-alert-rappel-avis/index-eng.php"">Recalls & safety alerts</a></li>
					<li><a href="{{rooturl}}/en/health/food.html">Food & nutrition</a></li>
					<li><a href="{{rooturl}}/en/health/drugs.html">Drugs & natural health products</a></li>
					<li><a href="{{rooturl}}/en/health/vaccines.html">Immunization & vaccines</a></li>
					<li><a href="{{rooturl}}/en/health/diseases.html">Diseases & conditions</a></li>
					<li><a href="{{rooturl}}/en/health/professionals.html">Information for health professionals</a></li>
					<li><a href="{{rooturl}}/en/health/industries.html">Information for industries</a></li>
					<li><a href="{{rooturl}}/en/health/aboriginal.html">First Nations & Inuit health</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/en/health/index.html">More on health</a></li>
                </ul>
           </li>
            <li><a href="{{rooturl}}/en/taxes/index.html" class="item">Taxes</a></li>
            <li><a href="#more-services" class="item">More services</a>
                <ul class="sm list-unstyled" id="more-services" role="menu">
                    <li><a href="{{rooturl}}/en/environment/index.html">Environment &amp; natural resources</a></li>
                    <li><a href="{{rooturl}}/en/defence/index.html">Defence &amp; security</a></li>
                    <li><a href="{{rooturl}}/en/culture/index.html">Arts, culture &amp; heritage</a></li>
                    <li><a href="{{rooturl}}/en/safety/index.html">Public safety</a></li>
                    <li><a href="{{rooturl}}/en/transport/index.html">Transport &amp; infrastructure</a></li>
                    <li><a href="{{rooturl}}/en/world/index.html">Canada &amp; the world</a></li>
                    <li><a href="{{rooturl}}/en/finance/index.html">Money &amp; finances</a></li>
                    <li><a href="{{rooturl}}/en/science/index.html">Science &amp; innovation</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/en/services/index.html">More on services</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<section class="wb-info container visible-sm visible-xs">
    <h2 class="wb-inv">Site Information</h2>
    <ul class="list-unstyled">
        <li>Government
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/en/gov/system/index.html">How government works</a></li>
                <li><a href="{{rooturl}}/en/gov/dept/index.html">Departments &amp; agencies</a></li>
                <li><a href="{{rooturl}}/en/gov/ministers/index.html">Ministers</a></li>
                <li><a href="{{rooturl}}/en/gov/policy/index.html">Policies, regulations &amp; laws</a></li>
                <li><a href="{{rooturl}}/en/gov/libraries/index.html">Libraries</a></li>
                <li><a href="{{rooturl}}/en/gov/publications/index.html">Publications</a></li>
                <li><a href="{{rooturl}}/en/gov/statistics/index.html">Statistics &amp; data</a></li>
                <li><a href="{{rooturl}}/en/newsite.html">The new Canada.ca</a></li>
            </ul>
        </li>
        <li>Transparency
                <ul class="list-unstyled">
                    <li><a href="{{rooturl}}/en/transparency/open.html">Transparency</a></li>
                    <li><a href="{{rooturl}}/en/transparency/disclosure.html">Proactive disclosure</a></li>
                    <li><a href="{{rooturl}}/en/transparency/terms.html">Terms &amp; conditions</a></li>
                    <li><a href="{{rooturl}}/en/transparency/privacy.html">Privacy</a></li>
                </ul>
        </li>
        <li>News
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/en/media/releases">News releases</a></li>
                <li><a href="{{rooturl}}/en/media/speeches">Speeches</a></li>
                <li><a href="{{rooturl}}/en/media/statements">Statements</a></li>
            </ul>
        </li>
        <li>Contact information
            <ul class="list-unstyled">
				<li><a href="{{rooturl}}/en/contact/index.html#aat">Most asked-about topics</a></li>
				<li><a href="{{rooturl}}/en/contact/index.html#spe">Specialized enquiries</a></li>
				<li><a href="{{rooturl}}/en/contact/index.html#gen">General enquiries</a></li>
            </ul>
        </li>
        <li><a href="{{rooturl}}/en/social/index.html">Social media</a></li>
        <li><a href="{{rooturl}}/en/mobile/index.html">Mobile centre</a></li>
    </ul>
</section>
