<!-- some mobile views -->
    <a href="#" class="nav-close visible-sm visible-xs"><span class="glyphicon glyphicon-remove"></span>Close Menu</a>
<!-- secondary navigation if enabled -->
<section>
    <h2 class="wb-invisible">Site menu</h2>
    <div class="container visible-md visible-lg nvbar">
        <div class="row">
            <ul class="list-inline menu" role="menubar">
                <li><a href="#jobs" class="item">Jobs</a>
                    <ul class="sbmnu" id="jobs" role="menu">
                        <li><a href="{{rooturl}}/eng/jobs/find.html">Find a job</a><li>
                        <li><a href="{{rooturl}}/eng/jobs/ei.html">Employment insurance</a><li>
                        <li><a href="{{rooturl}}/eng/jobs/training.html">Training</a><li>
                        <li><a href="{{rooturl}}/eng/jobs/pensions.html">Pensions &amp; retirement</a><li>
                        <li><a href="{{rooturl}}/eng/jobs/workplace.html">Workplace standards</a><li>
                        <li class="slflnk"><a href="{{rooturl}}/eng/jobs/index.html">More on jobs</a></li>
                    </ul>
                </li>
                <li><a href="#immigration" class="item">Immigration</a>
                    <ul class="sbmnu" id="immigration" role="menu">
                        <li><a href="http://www.cic.gc.ca/english/immigrate/index.asp">Immigrate</a></li>
                        <li><a href="http://www.cic.gc.ca/english/visit/index.asp">Visit</a></li>
                        <li><a href="http://www.cic.gc.ca/english/work/index.asp">Work</a></li>
                        <li><a href="http://www.cic.gc.ca/english/study/index.asp">Study</a></li>
                        <li><a href="http://www.cic.gc.ca/english/citizenship/index.asp">Citizenship</a></li>
                        <li><a href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">New immigrants</a></li>
                        <li><a href="http://www.cic.gc.ca/english/residents/canadians.asp">Canadians</a></li>
                        <li><a href="http://www.cic.gc.ca/english/e-services/index.asp">My application</a></li>
                        <li class="slflnk"><a href="http://www.cic.gc.ca/english/index-can.asp">More on immigration</a></li>
                    </ul>

                </li>
                <li><a href="#travel" class="item">Travel</a>

                    <ul class="sbmnu" id="travel" role="menu">
                        <li><a href="http://travel.gc.ca/news-warnings">News and Warnings</a></li>
                        <li><a href="http://travel.gc.ca/travelling?wb48617274=A1233063">Travelling Abroad</a></li>
                        <li><a href="http://travel.gc.ca/returning">Returning to Canada</a></li>
                        <li><a href="http://travel.gc.ca/assistance?wb48617274=A1233063">Assistance</a></li>
                        <li class="slflnk"><a href="http://travel.gc.ca/">More on travel</a></li>
                    </ul>

                </li>
                <li><a href="{{rooturl}}/eng/business/index.html" class="item">Business</a></li>
                <li><a href="{{rooturl}}/eng/benefits/index.html" class="item">Benefits</a></li>
                <li><a href="#health" class="item">Health</a>

                    <ul class="sbmnu" id="health" role="menu">
                        <li><a href="http://healthycanadians.gc.ca/index-eng.php">Healthy Canadians</a></li>
                        <li class="slflnk"><a href="{{rooturl}}/eng/health/index.html">More on Health</a></li>
                    </ul>

               </li>
                <li><a href="{{rooturl}}/eng/taxes/index.html" class="item">Taxes</a></li>
                <li><a href="#more-services" class="item">More services</a>

                    <ul class="sbmnu" id="more-services" role="menu">
                        <li><a href="{{rooturl}}/eng/environment/index.html">Environment &amp; natural resources</a></li>
                        <li><a href="{{rooturl}}/eng/defence/index.html">Defence &amp; security</a></li>
                        <li><a href="{{rooturl}}/eng/culture/index.html">Arts, culture &amp; heritage</a></li>
                        <li><a href="{{rooturl}}/eng/safety/index.html">Public safety</a></li>
                        <li><a href="{{rooturl}}/eng/transport/index.html">Transport &amp; infrastructure</a></li>
                        <li><a href="{{rooturl}}/eng/world/index.html">Canada &amp; the world</a></li>
                        <li><a href="{{rooturl}}/eng/finance/index.html">Money &amp; finances</a></li>
                        <li><a href="{{rooturl}}/eng/science/index.html">Science &amp; innovation</a></li>
                        <li class="slflnk"><a href="{{rooturl}}/eng/services/index.html">More on services</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</section>

<section class="wb-nav visible-sm visible-xs">
    <h2 class="wb-invisible">Site Information</h2>
    <ul>
        <li><h3>Government</h3>
            <ul>
                <li><a href="{{rooturl}}/eng/gov/system/index.html">How government works</a></li>
                <li><a href="{{rooturl}}/eng/gov/dept/index.html">Departments &amp; agencies</a></li>
                <li><a href="{{rooturl}}/eng/gov/ministers/index.html">Ministers</a></li>
                <li><a href="{{rooturl}}/eng/gov/policy/index.html">Policies, regulations &amp; laws</a></li>
                <li><a href="{{rooturl}}/eng/gov/libraries/index.html">Libraries</a></li>
                <li><a href="{{rooturl}}/eng/gov/publications/index.html">Publications</a></li>
                <li><a href="{{rooturl}}/eng/gov/statistics/index.html">Statistics &amp; data</a></li>
                <li><a href="{{rooturl}}/eng/newsite.html">The new Canada.ca</a></li>
            </ul>
        </li>
        <li><h3>Transparency</h3>
                <ul>
                    <li><a href="{{rooturl}}/eng/transparency/open.html">Transparency</a></li>
                    <li><a href="{{rooturl}}/eng/transparency/disclosure">Proactive disclosure</a></li>
                    <li><a href="{{rooturl}}/eng/transparency/terms">Terms of use</a></li>
                    <li><a href="{{rooturl}}/eng/transparency/privacy">Privacy</a></li>
                </ul>
        </li>
        <li><h3>News</h3>
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/eng/media/releases">News releases</a></li>
                <li><a href="{{rooturl}}/eng/media/speeches">Speeches</a></li>
                <li><a href="{{rooturl}}/eng/media/statements">Statements</a></li>
                <li><a href="{{rooturl}}/eng/media/backgrounders">Backgrounders</a></li>
                <li><a href="{{rooturl}}/eng/media/advisories">Media advisories</a></li>
            </ul>
        </li>
        <li><h3>Contact information</h3>
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/eng/contact/index.html">Contact us</a></li>
            </ul>
        </li>
        <li><h3>Social media</h3>
            <p><a href="{{rooturl}}"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>
        </li>
        <li><h3>Mobile centre</h3>
            <p><a href="{{rooturl}}"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>
        </li>
    </ul>
</section>
