<!-- some mobile views -->
    <a href="#" class="nav-close visible-sm visible-xs"><span class="glyphicon glyphicon-remove"></span> Fermer menu</a>
<!-- secondary navigation if enabled -->
<section class="pnl-strt container nvbar">
    <h2 class="wb-inv">Menu du site</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
            <li><a href="#jobs" class="item">Emplois</a>
                <ul class="sm list-unstyled" id="jobs" role="menu">
                    <li><a href="{{rooturl}}/fr/services/emplois/trouver.html">Trouver un emploi</a></li>
                    <li><a href="{{rooturl}}/fr/services/emplois/formation.html">Formation</a></li>
                    <li><a href="{{rooturl}}/fr/services/emplois/pensions.html">Pension et retraite</a></li>
                    <li><a href="{{rooturl}}/fr/services/emplois/travail.html">Normes en milieu de travail</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/services/emplois/index.html">Davantage sur les emplois</a></li>
                </ul>
            </li>
            <li><a href="#immigration" class="item">Immigration</a>
                <ul class="sm list-unstyled" id="immigration" role="menu">
                    <li><a href="{{rooturl}}/fr/services/citimm/immigrer.html">Immigrer</a></li>
                    <li><a href="{{rooturl}}/fr/services/citimm/visiter.html">Visiter</a></li>
                    <li><a href="{{rooturl}}/fr/services/citimm/travailler.html">Travailler</a></li>
                    <li><a href="{{rooturl}}/fr/services/citimm/etudier.html">Étudier</a></li>
                    <li><a href="{{rooturl}}/fr/services/citimm/citoyennete.html">Citoyenneté</a></li>
                    <li><a href="{{rooturl}}/fr/services/citimm/nouveauximmigrants.html">Nouveaux immigrants</a></li>
                    <li><a href="{{rooturl}}/fr/services/citimm/canadiens.html">Canadiens</a></li>
                    <li><a href="{{rooturl}}/fr/services/citimm/demande.html">Ma demande</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/services/citimm/index.html">Davantage sur l'immigration</a></li>
                </ul>
            </li>
            <li><a href="#travel" class="item">Voyage</a>
                <ul class="sm list-unstyled" id="travel" role="menu">
                    <li><a href="http://voyage.gc.ca/nouvelles-mises-en-garde">Nouvelles et mises en garde</a></li>
                    <li><a href="http://voyage.gc.ca/voyager">Voyager à l'étranger</a></li>
                    <li><a href="http://voyage.gc.ca/retour">Retour au Canada</a></li>
                    <li><a href="http://voyage.gc.ca/assistance">Assistance</a></li>
                    <li class="slflnk"><a href="http://voyage.gc.ca/">Davantage sur les voyages</a></li>
                </ul>
            </li>
            <li><a href="{{rooturl}}/fr/services/entreprises/index.html" class="item">Entreprises</a></li>
            <li><a href="{{rooturl}}/fr/services/prestations/index.html" class="item">Prestations</a></li>
            <li><a href="#health" class="item">Santé</a> 
                <ul class="sm list-unstyled" id="health" role="menu"> 
                    <li><a href="http://canadiensensante.gc.ca/index-fra.php">Soyez un Canadiens en santé</a></li> 
                    <li><a href="http://canadiensensante.gc.ca/recall-alert-rappel-avis/index-fra.php">Rappels et avis de sécurité</a></li> 
                    <li><a href="{{rooturl}}/fr/services/sante/alimentation.html">Aliments et nutrition</a></li> 
                    <li><a href="{{rooturl}}/fr/services/sante/medicaments.html">Médicaments et produits de santé naturels</a></li> 
                    <li><a href="{{rooturl}}/fr/services/sante/vaccins.html">Immunisation et vaccins</a></li> 
                    <li><a href="{{rooturl}}/fr/services/sante/maladies.html">Maladies et affections</a></li> 
                    <li><a href="{{rooturl}}/fr/services/sante/autochtones.html">Santé des Premières Nations et des Inuits</a></li> 
                    <li><a href="{{rooturl}}/fr/services/sante/professionnels.html">Pour les professionnels de la santé</a></li> 
                    <li><a href="{{rooturl}}/fr/services/sante/industrie.html">Pour l'industrie</a></li> 
                    <li class="slflnk"><a href="{{rooturl}}/fr/services/sante/index.html">Davantage sur la santé</a></li> 
                </ul>
            </li> 
            <li><a href="{{rooturl}}/fr/services/impots/index.html" class="item">Impôts</a></li>
            <li><a href="#more-services" class="item">Autres services</a>
                <ul class="sm list-unstyled" id="more-services" role="menu">
                    <li><a href="{{rooturl}}/fr/services/environnement/index.html">Environnement et ressources naturelles</a></li>
                    <li><a href="{{rooturl}}/fr/services/defense/index.html">Défense et sécurité</a></li>
                    <li><a href="{{rooturl}}/fr/services/culture/index.html">Arts, culture et patrimoine</a></li>
                    <li><a href="{{rooturl}}/fr/services/securite/index.html">Sécurité publique</a></li>
                    <li><a href="{{rooturl}}/fr/services/transport/index.html">Transport et infrastructure</a></li>
                    <li><a href="{{rooturl}}/fr/services/monde/index.html">Le Canada et le monde</a></li>
                    <li><a href="{{rooturl}}/fr/services/finance/index.html">Argent et finances</a></li>
                    <li><a href="{{rooturl}}/fr/services/science/index.html">Science et innovation</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/services/index.html">Tous les services</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<section class="wb-info container visible-sm visible-xs">
    <h2 class="wb-inv">Information du site</h2>
    <ul class="list-unstyled menu" role="menubar">
        <li><a href="#gov" class="item">Gouvernement</a>
            <ul class="sm list-unstyled" id="gov" role="menu">
                <li><a href="{{rooturl}}/fr/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
                <li><a href="{{rooturl}}/fr/gouv/min/index.html">Ministères et organismes</a></li>
                <li><a href="http://pm.gc.ca/fra">Premier ministre</a></li>
                <li><a href="{{rooturl}}/fr/gouv/ministres/index.html">Ministres</a></li>
                <li><a href="{{rooturl}}/fr/gouv/politique/index.html">Politiques, règlements et lois</a></li>
                <li><a href="{{rooturl}}/fr/gouv/bibliotheques.html">Bibliothèques</a></li>
                <li><a href="{{rooturl}}/fr/gouv/publications.html">Publications</a></li>
                <li><a href="{{rooturl}}/fr/gouv/statistiques.html">Statistiques et données</a></li>
                <li><a href="{{rooturl}}/fr/nouveausite.html">Le nouveau site Canada.ca</a></li>
            </ul>
        </li>
        <li><a href="#trnp" class="item">Transparence</a>
            <ul class="sm list-unstyled" id="trnp" role="menu">
                <li><a href="{{rooturl}}/fr/transparence/rapports.html">Établissement de rapports à l'échelle du gouvernement</a></li>
                <li><a href="{{rooturl}}/fr/transparence/ouvert.html">Gouvernement ouvert</a></li>
                <li><a href="{{rooturl}}/fr/transparence/divulgation.html">Divulgation proactive</a></li>
                <li><a href="{{rooturl}}/fr/transparence/avis.html">Avis</a></li>
                <li><a href="{{rooturl}}/fr/transparence/confidentialite.html">Confidentialité</a></li>
            </ul>
        </li>
        <li><a href="#nws" class="item">Nouvelles</a>
            <ul class="sm list-unstyled" id="trnp" role="menu">
                <li><a href="{{rooturl}}/fr/media/presse/index.html">Salle de presse</a></li>
                <li><a href="{{rooturl}}/fr/media/communiques/index.html">Communiqués de presse</a></li>
                <li><a href="{{rooturl}}/fr/media/avis/index.html">Avis aux médias</a></li>
                <li><a href="{{rooturl}}/fr/media/discours/index.html">Discours</a></li>
                <li><a href="{{rooturl}}/fr/media/declarations/index.html">Déclarations</a></li>
            </ul>
        </li>
        <li><a href="#cntct" class="item">Coordonnées</a>
            <ul class="sm list-unstyled" id="cntct" role="menu">
                <li><a href="#">Lien 1</a></li>
                <li><a href="#">Lien 2</a></li>
                <li><a href="#">Lien 3</a></li>
            </ul>
        </li>
        <li><a href="{{rooturl}}/fr/sociaux/index.html">Médias sociaux</a></li>
        <li><a href="{{rooturl}}/fr/mobile/index.html">Centre mobile</a></li>
    </ul>
</section>
