<!-- some mobile views -->
    <a href="#" class="nav-close visible-sm visible-xs"><span class="glyphicon glyphicon-remove"></span> Fermer menu</a>
<!-- secondary navigation if enabled -->
<section class="container visible-md visible-lg nvbar">
    <h2 class="wb-inv">Menu du site</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
            <li><a href="#jobs" class="item">Emplois</a>
                <ul class="sm list-unstyled" id="jobs" role="menu">
                    <li><a href="{{rooturl}}/fr/emplois/trouver.html">Trouver un emploi</a><li>
                    <li><a href="{{rooturl}}/fr/emplois/formation.html">Formation</a><li>
                    <li><a href="{{rooturl}}/fr/emplois/pensions.html">Pension et retraite</a><li>
                    <li><a href="{{rooturl}}/fr/emplois/travail.html">Normes du milieu de travail</a><li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/emplois/index.html">Plus sur emplois</a></li>
                </ul>
            </li>
            <li><a href="#immigration" class="item">Immigration</a>
                <ul class="sm list-unstyled" id="immigration" role="menu">
                    <li><a href="/fr/citimm/immigrer.html">Immigrer</a></li>
                    <li><a href="/fr/citimm/visiter.html">Visiter</a></li>
                    <li><a href="/fr/citimm/travailler.html">Travailler</a></li>
                    <li><a href="/fr/citimm/etudier.html">Étudier</a></li>
                    <li><a href="/fr/citimm/citoyennete.html">Citoyenneté</a></li>
                    <li><a href="/fr/citimm/nouveauximmigrants.html">Nouveaux immigrants</a></li>
                    <li><a href="/fr/citimm/canadiens.html">Canadiens</a></li>
                    <li><a href="/fr/citimm/demande.html">Ma demande</a></li>
                    <li class="slflnk"><a href="/fr/citimm/index.html">Plus sur Immigration</a></li>
                </ul>
            </li>
            <li><a href="#travel" class="item">Voyage</a>
                <ul class="sm list-unstyled" id="travel" role="menu">
                    <li><a href="http://voyage.gc.ca/nouvelles-mises-en-garde">Nouvelles et mises en garde</a></li>
                    <li><a href="http://voyage.gc.ca/voyager">Voyager à l'étranger</a></li>
                    <li><a href="http://voyage.gc.ca/retour">Retour au Canada</a></li>
                    <li><a href="http://voyage.gc.ca/assistance">Assistance</a></li>
                    <li class="slflnk"><a href="http://voyage.gc.ca/">Plus sur voyage</a></li>
                </ul>
            </li>
            <li><a href="{{rooturl}}/fr/entreprises/index.html" class="item">Entreprises</a></li>
            <li><a href="#benefits" class="item">Prestations</a>
                 <ul class="sm list-unstyled" id="benefits" role="menu">
                    <li><a href="{{rooturl}}/fr/prestations/assurance.html">Assurance-emploi</a><li>
					<li class="slflnk"><a href="{{rooturl}}/fr/prestations/index.html">Plus sur prestations</a></li>
				</ul>
           </li>
           <li><a href="#health" class="item">Santé</a>
                <ul class="sm list-unstyled" id="health" role="menu">
					<li><a href="http://canadiensensante.gc.ca/index-fra.php">Canadiens en santé</a></li>
					<li><a href="http://www.canadiensensante.gc.ca/recall-alert-rappel-avis/index-fra.php">Rappels et avis de sécurité</a></li>
					<li><a href="{{rooturl}}/fr/sante/alimentation.html">Alimentation saine</a></li>
					<li><a href="{{rooturl}}/fr/sante/medicaments.html">Médicaments sur ordonnance et produits de santé naturels</a></li>
					<li><a href="{{rooturl}}/fr/sante/vaccins.html">Immunisation et vaccins</a></li>
					<li><a href="{{rooturl}}/fr/sante/maladies.html">Maladies et affections</a></li>
					<li><a href="{{rooturl}}/fr/sante/professionels.html">Information pour les professionnels de la santé</a></li>
					<li><a href="{{rooturl}}/fr/sante/industrie.html">Information pour l’industrie</a></li>
					<li><a href="{{rooturl}}/fr/sante/autochtones.html">Santé des Premières Nations et des Inuits</a></li>					
                    <li class="slflnk"><a href="{{rooturl}}/fr/sante/index.html">Plus sur santé</a></li>
                </ul>
           </li>
            <li><a href="{{rooturl}}/fr/impots/index.html" class="item">Impôts</a></li>
            <li><a href="#more-services" class="item">Autres services</a>
                <ul class="sm list-unstyled" id="more-services" role="menu">
                    <li><a href="{{rooturl}}/fr/environnement/index.html">Environnement et ressources naturelles</a></li>
                    <li><a href="{{rooturl}}/fr/defense/index.html">Défense et sécurité</a></li>
                    <li><a href="{{rooturl}}/fr/culture/index.html">Arts, culture et patrimoine</a></li>
                    <li><a href="{{rooturl}}/fr/securite/index.html">Sécurité publique</a></li>
                    <li><a href="{{rooturl}}/fr/transport/index.html">Transport et infrastructure</a></li>
                    <li><a href="{{rooturl}}/fr/monde/index.html">Le Canada et le monde</a></li>
                    <li><a href="{{rooturl}}/fr/finance/index.html">Argent et finances</a></li>
                    <li><a href="{{rooturl}}/fr/science/index.html">Science et innovation</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/services/index.html">Plus sur autres services</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<section class="wb-nav container visible-sm visible-xs">
    <h2 class="wb-inv">Information du site</h2>
    <ul class="list-unstyled">
        <li>Gouvernement
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/fr/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
                <li><a href="{{rooturl}}/fr/gouv/min/index.html">Ministères et organismes</a></li>
                <li><a href="{{rooturl}}/fr/gouv/ministres/index.html">Ministres</a></li>
                <li><a href="{{rooturl}}/fr/gouv/politique/index.html">Politiques, règlements et lois</a></li>
                <li><a href="{{rooturl}}/fr/gouv/bibliotheques.html">Bibliothèques</a></li>
                <li><a href="{{rooturl}}/fr/gouv/publications.html">Publications</a></li>
                <li><a href="{{rooturl}}/fr/gouv/statistiques.html">Statistiques et données</a></li>
                <li><a href="{{rooturl}}/fr/nouveausite.html">Le nouveau site Canada.ca</a></li>
            </ul>
        </li>
        <li>Transparence
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/fr/transparence/ouvert.html">Gouvernement ouvert</a></li>
                <li><a href="{{rooturl}}/fr/transparence/divulgation.html">Divulgation proactive</a></li>
                <li><a href="{{rooturl}}/fr/transparence/modalites.html">Modalités d’utilisation</a></li>
                <li><a href="{{rooturl}}/fr/transparence/confidentialite.html">Confidentialité</a></li>
            </ul>
        </li>
        <li>Nouvelles
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/fr/media/communiques">Communiqués de presse</a></li>
                <li><a href="{{rooturl}}/fr/media/discours">Discours</a></li>
                <li><a href="{{rooturl}}/fr/media/declarations">Déclarations</a></li>
            </ul>
        </li>
        <li>Coordonnées
            <ul class="list-unstyled">
				<li><a href="{{rooturl}}/fr/contact/index.html#slq">Sujets sur lesquels portent la plupart des questions</a></li>
				<li><a href="{{rooturl}}/fr/contact/index.html#spe">Renseignements spécifiques</a></li>
				<li><a href="{{rooturl}}/fr/contact/index.html#gen">Renseignements généraux</a></li>
            </ul>
        </li>
        <li><a href="{{rooturl}}/fr/sociaux/index.html">Médias sociaux</a></li>
        <li><a href="{{rooturl}}/fr/mobile/index.html">Centre mobile</a></li>
    </ul>
</section>
