<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
	<h2 class="wb-inv">{{{i18n "tmpl-topics-menu"}}}</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#jobs" class="item">{{{i18n "jobs"}}}</a>
				<ul class="sm list-unstyled" id="jobs" role="menu">
					<li><a href="http://www.jobbank.gc.ca/home-eng.do?lang=eng">Job Bank</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/opportunities/index.page">Find a job</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/training/index.page">Training</a></li>
					<li><a href="https://www.canada.ca/en/services/business/hire.html">Hire and manage employees</a></li>
					<li><a href="https://www.canada.ca/en/services/business/start.html">Starting a business</a></li>
					<li><a href="http://www.esdc.gc.ca/en/jobs/workplace/index.page">Workplace standards</a></li>
					<li><a href="https://www.canada.ca/en/services/finance/pensions.html">Pensions and retirement</a></li>
					<li><a href="http://www.esdc.gc.ca/en/ei/index.page">Employment insurance</a></li>
					<li class="slflnk"><a href="{{{i18n "url-jobs"}}}">{{{i18n "jobs"}}} – More</a></li>
				</ul>
			</li>
			<li><a href="#immigration" class="item">{{{i18n "immigration"}}}</a>
				<ul class="sm list-unstyled" id="immigration" role="menu">
					<li><a href="http://www.cic.gc.ca/english/e-services/index.asp">My application</a></li>
					<li><a href="http://www.cic.gc.ca/english/immigrate/index.asp">Immigrate</a></li>
					<li><a href="http://www.cic.gc.ca/english/visit/index.asp">Visit</a></li>
					<li><a href="http://www.cic.gc.ca/english/work/index.asp">Work</a></li>
					<li><a href="http://www.cic.gc.ca/english/study/index.asp">Study</a></li>
					<li><a href="http://www.cic.gc.ca/english/citizenship/index.asp">Citizenship</a></li>
					<li><a href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">New immigrants</a></li>
					<li><a href="http://www.cic.gc.ca/english/residents/canadians.asp">Canadians</a></li>
					<li><a href="http://www.cic.gc.ca/english/refugees/index.asp">Refugees and asylum</a></li>
					<li><a href="http://www.cic.gc.ca/english/enforcement/index.asp">Enforcement and violations</a></li>
					<li class="slflnk"><a href="{{{i18n "url-immigration"}}}">{{{i18n "immigration"}}} – More</a></li>
				</ul>
			</li>
			<li><a href="#travel" class="item">{{{i18n "travel"}}}</a>
				<ul class="sm list-unstyled" id="travel" role="menu">
					<li><a href="https://travel.gc.ca/travelling/advisories">Travel Advice and Advisories</a></li>
					<li><a href="https://travel.gc.ca/canadian-tourism">Canadian attractions, events and experiences</a></li>
					<li><a href="http://www.cic.gc.ca/english/passport/index.asp">Canadian passports</a></li>
					<li><a href="https://travel.gc.ca/travelling">Travelling abroad</a></li>
					<li><a href="https://travel.gc.ca/air">Air travel</a></li>
					<li><a href="https://travel.gc.ca/returning">Returning to Canada</a></li>
					<li><a href="https://travel.gc.ca/assistance">Assistance abroad</a></li>
					<li><a href="https://travel.gc.ca/stay-connected">Stay connected</a></li>
					<li class="slflnk"><a href="{{{i18n "url-travel"}}}">{{{i18n "travel"}}} – More</a></li>
				</ul>
			</li>
			<li><a href="#business" class="item">{{{i18n "business"}}}</a>
				<ul class="sm list-unstyled" id="business" role="menu">
					<li><a href="https://www.canada.ca/en/services/business/start.html">Starting a business</a></li>
					<li><a href="https://www.canada.ca/en/services/business/grants.html">Grants and financing</a></li>
					<li><a href="https://www.canada.ca/en/services/business/taxes.html">Business taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/business/sell.html">Sell to government</a></li>
					<li><a href="https://www.canada.ca/en/services/business/trade.html">International trade and investment</a></li>
					<li><a href="https://www.canada.ca/en/services/science/innovation.html">Research and development (R&amp;D) and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/business/ip.html">Intellectual property and copyright</a></li>
					<li><a href="https://www.canada.ca/en/services/business/permits.html">Permits, licences and regulations</a></li>
					<li><a href="https://www.canada.ca/en/services/business/research.html">Research and business intelligence</a></li>
					<li><a href="https://www.canada.ca/en/services/business/hire.html">Hiring and managing employees</a></li>
					<li><a href="https://www.canada.ca/en/services/business/maintaingrowimprovebusiness.html">Maintain, grow and improve your business</a></li>
					<li><a href="https://www.canada.ca/en/services/business/protecting.html">Protect your business</a></li>
					<li><a href="https://www.canada.ca/en/services/business/bankruptcy.html">Bankruptcy for business</a></li>
					<li class="slflnk"><a href="{{{i18n "url-business"}}}">{{{i18n "business"}}} – More</a></li>
				</ul>
			</li>
			<li><a href="#benefits" class="item">{{{i18n "benefits"}}}</a>
				<ul class="sm list-unstyled" id="benefits" role="menu">
					<li><a href="https://www.canada.ca/en/services/benefits/ei.html">Employment Insurance</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/family.html">Family benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/publicpensions.html">Public pensions</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/education.html">Education and training</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/housing.html">Housing benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits/disability.html">Disability benefits</a></li>
					<li class="slflnk"><a href="{{{i18n "url-benefits"}}}">{{{i18n "benefits"}}} – More</a></li>
				</ul>
			</li>
			<li><a href="#health" class="item">{{{i18n "health"}}}</a>
				<ul class="sm list-unstyled" id="health" role="menu">
					<li><a href="http://healthycanadians.gc.ca/security-securite/index-eng.php">Health risks and safety</a></li>
					<li><a href="http://healthycanadians.gc.ca/eating-nutrition/index-eng.php">Food and nutrition</a></li>
					<li><a href="http://healthycanadians.gc.ca/drugs-products-medicaments-produits/index-eng.php">Drugs and health products</a></li>
					<li><a href="http://healthycanadians.gc.ca/product-safety-securite-produits/index-eng.php">Product safety</a></li>
					<li><a href="http://healthycanadians.gc.ca/diseases-conditions-maladies-affections/index-eng.php">Diseases and conditions</a></li>
					<li><a href="http://healthycanadians.gc.ca/healthy-living-vie-saine/index-eng.php">Healthy living</a></li>
					<li><a href="http://healthycanadians.gc.ca/aboriginal-autochtones/index-eng.php">Aboriginal health</a></li>
					<li><a href="http://healthycanadians.gc.ca/health-system-systeme-sante/index-eng.php">Health system and services</a></li>
					<li><a href="http://healthycanadians.gc.ca/science-research-sciences-recherches/index-eng.php">Science, research and data</a></li>
					<li class="slflnk"><a href="{{{i18n "url-health"}}}">{{{i18n "health"}}} – More</a></li>
				</ul>
			</li>
			<li><a href="#taxes" class="item">{{{i18n "taxes"}}}</a>
				<ul class="sm list-unstyled" id="taxes" role="menu">
					<li><a href="https://www.canada.ca/en/services/taxes/income-tax.html">Income Tax</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/gsthst.html">GST/HST</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/payroll.html">Payroll</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/business-number.html">Business number</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/savings-and-pension-plans.html">Savings and pension plans</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/child-and-family-benefits.html">Child and family benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/excise-taxes-duties-and-levies.html">Excise taxes, duties, and levies</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes/charities.html">Charities and giving</a></li>
					<li class="slflnk"><a href="{{{i18n "url-taxes"}}}">{{{i18n "taxes"}}} – More</a></li>
				</ul>
			</li>
			<li><a href="#more-services" class="item">{{{i18n "more-services"}}}</a>
				<ul class="sm list-unstyled" id="more-services" role="menu">
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="http://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li class="slflnk"><a href="{{{i18n "url-more-services"}}}">All services</a></li>
				</ul>
			</li>

		</ul>
	</div>
</div>
