<!-- some mobile views -->
    <a href="#" class="nav-close visible-sm visible-xs"><span class="glyphicon glyphicon-remove"></span> Fermer menu</a>
<!-- secondary navigation if enabled -->
<section class="container visible-md visible-lg nvbar">
    <h2 class="wb-invisible">Menu du site</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
            <li><a href="#jobs" class="item">Emplois</a>
                <ul class="sbmnu list-unstlyed" id="jobs" role="menu">
                    <li><a href="{{rooturl}}/fr/emplois/trouver.html">Trouver un emploi</a><li>
                    <li><a href="{{rooturl}}/fr/emplois/assurance.html">Assurance-emploi</a><li>
                    <li><a href="{{rooturl}}/fr/emplois/formation.html">Formation</a><li>
                    <li><a href="{{rooturl}}/fr/emplois/pensions.html">Pension et retraite</a><li>
                    <li><a href="{{rooturl}}/fr/emplois/travail.html">Normes du milieu de travail</a><li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/emplois/index.html">Plus sur emplois</a></li>
                </ul>
            </li>
            <li><a href="#immigration" class="item">Immigration</a>
                <ul class="sbmnu list-unstlyed" id="immigration" role="menu">
                    <li><a href="http://www.cic.gc.ca/english/immigrate/index.asp">Immigrer</a></li>
                    <li><a href="http://www.cic.gc.ca/english/visit/index.asp">Visiter</a></li>
                    <li><a href="http://www.cic.gc.ca/english/work/index.asp">Travailler</a></li>
                    <li><a href="http://www.cic.gc.ca/english/study/index.asp">Étudier</a></li>
                    <li><a href="http://www.cic.gc.ca/english/citizenship/index.asp">Citoyenneté</a></li>
                    <li><a href="http://www.cic.gc.ca/english/residents/new_immigrants.asp">Nouveaux immigrants</a></li>
                    <li><a href="http://www.cic.gc.ca/english/residents/canadians.asp">Canadiens</a></li>
                    <li><a href="http://www.cic.gc.ca/english/e-services/index.asp">Ma demande</a></li>
                    <li class="slflnk"><a href="http://www.cic.gc.ca/francais/index-can.asp">Plus sur Immigration</a></li>
                </ul>

            </li>
            <li><a href="#travel" class="item">Voyage</a>
                <ul class="sbmnu list-unstlyed" id="travel" role="menu">
                    <li><a href="http://travel.gc.ca/news-warnings">Nouvelles et mises en garde</a></li>
                    <li><a href="http://travel.gc.ca/travelling?wb48617274=A1233063">Voyager à l'étranger</a></li>
                    <li><a href="http://travel.gc.ca/returning">Retour au Canada</a></li>
                    <li><a href="http://travel.gc.ca/assistance?wb48617274=A1233063">Assistance</a></li>
                    <li class="slflnk"><a href="http://voyage.gc.ca/">Plus sur voyage</a></li>
                </ul>
            </li>
            <li><a href="{{rooturl}}/fr/entreprises/index.html" class="item">Entreprises</a></li>
            <li><a href="{{rooturl}}/fr/prestations/index.html" class="item">Prestations</a></li>
            <li><a href="#health" class="item">Santé</a>
                <ul class="sbmnu list-unstlyed" id="health" role="menu">
                    <li><a href="http://canadiensensante.gc.ca/index-fra.php">Canadiens en santé</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/sante/index.html">Plus sur santé</a></li>
                </ul>
           </li>
            <li><a href="{{rooturl}}/fr/impots/index.html" class="item">Impôts</a></li>
            <li><a href="#more-services" class="item">Autres services</a>
                <ul class="sbmnu list-unstlyed" id="more-services" role="menu">
                    <li><a href="{{rooturl}}/fr/environnement/index.html">Environnement et ressources naturelles</a></li>
                    <li><a href="{{rooturl}}/fr/defense/index.html">Défense et sécurité</a></li>
                    <li><a href="{{rooturl}}/fr/culture/index.html">Arts, culture et patrimoine</a></li>
                    <li><a href="{{rooturl}}/fr/securite/index.html">Sécurité publique</a></li>
                    <li><a href="{{rooturl}}/fr/transport/index.html">Transport et infrastructure</a></li>
                    <li><a href="{{rooturl}}/fr/monde/index.html">Le Canada et le monde</a></li>
                    <li><a href="{{rooturl}}/fr/finance/index.html">Argent et finances</a></li>
                    <li><a href="{{rooturl}}/fr/science/index.html">Science et innovation</a></li>
                    <li class="slflnk"><a href="{{rooturl}}/fr/services/index.html">Plus sur autre services</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<section class="wb-nav container visible-sm visible-xs">
    <h2 class="wb-invisible">Information du site</h2>
    <ul class="list-unstyled">
        <li><h3>Gouvernement</h3>
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/fr/gouv/systeme/index.html">Comment le gouvernement fonctionne</a></li>
                <li><a href="{{rooturl}}/fr/gouv/min/index.html">Ministères et organismes</a></li>
                <li><a href="{{rooturl}}/fr/gouv/ministres/index.html">Ministres</a></li>
                <li><a href="{{rooturl}}/fr/gouv/politique/index.html">Politiques, règlements et lois</a></li>
                <li><a href="{{rooturl}}/fr/gouv/bibliotheques.html">Bibliothèques</a></li>
                <li><a href="{{rooturl}}/fr/gouv/publications.html">Publications</a></li>
                <li><a href="{{rooturl}}/fr/gouv/statistiques.html">Statistiques et données</a></li>
                <li><a href="{{rooturl}}/fr/nouveausite.html">Le nouveau site Canada.ca</a></li>
            </ul>
        </li>
        <li><h3>Transparence</h3>
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/fr/transparence/ouvert.html">Gouvernement ouvert</a></li>
                <li><a href="{{rooturl}}/fr/transparence/divulgation">Divulgation proactive</a></li>
                <li><a href="{{rooturl}}/fr/transparence/modalites.html">Modalités d’utilisation</a></li>
                <li><a href="{{rooturl}}/fr/transparence/confidentialite.html">Confidentialité</a></li>
            </ul>
        </li>
        <li><h3>Nouvelles</h3>
            <ul class="list-unstyled">
                <li><a href="{{rooturl}}/fr/media/communiques">Communiqués de presse</a></li>
                <li><a href="{{rooturl}}/fr/media/discours">Discours</a></li>
                <li><a href="{{rooturl}}/fr/media/declarations">Déclarations</a></li>
                <li><a href="{{rooturl}}/fr/media/notes">Document d'information</a></li>
                <li><a href="{{rooturl}}/fr/media/avis">Avis aux médias</a></li>
            </ul>
        </li>
        <li>
            <h3>Coordonnées</h3>
            <ul class="list-unstyled">
                    <li><a href="{{rooturl}}/fr/contact/index.html">Contactez-nous</a></li>
            </ul>
        </li>
        <li>
            <h3>Médias sociaux</h3>
            <p><a href="{{rooturl}}/fr/sociaux/index.html"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>
        </li>
        <li><h3>Centre mobile</h3>
            <p><a href="{{rooturl}}/fr/mobile/index.html"><img src="http://dummyimage.com/213x53/ddd" class="img-responsive"></a></p>
        </li>
    </ul>
</section>
