<section id="wb-lng" class="text-right">
	<h2 class="wb-inv">{{{i18n "tmpl-lang-select"}}}</h2>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-inline margin-bottom-none">
	{{#isnt language "fr" }}
				<li><a lang="fr" href="{{altLangPrefix}}-fr.html">{{{i18n "lang-native" language="fr"}}}</a></li>
	{{/isnt}}
	{{#isnt language "en" }}
				<li><a lang="en" href="{{altLangPrefix}}-en.html">{{{i18n "lang-native" language="en"}}}</a></li>
	{{/isnt}}
			</ul>
		</div>
	</div>
</section>
