<h3>{{#is page.language "fr"}}Lois et règlements{{else}}Laws and regulations{{/is}}</h3>
<ul class="mrgn-bttm-lg lst-spcd">
	<li><a href="#">{{#is page.language "fr"}}[Politiques 1]{{else}}[Regulation 1]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Lois 1 avec un long titre]{{else}}[Law 1 with a long heading]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Règlements 1 avec un long titre]{{else}}[Regulation 2 with a long heading]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Politiques 2]{{else}}[Regulation 3]{{/is}}</a></li>
</ul>
<p class="text-right"><strong><a href="#">{{#is page.language "fr"}}Tous les règlements et lois connexes{{else}}All related laws and regulations{{/is}}</a></strong></p>
