<div class="container">
	<div class="row">
	<div class="pddng-r-0 col-md-2">
		<h2 class="mrgn-tp-md">
		{{#is page.language "fr"}}
		En demande
		{{else}}
		Most requested
		{{/is}}
		</h2>
	</div>
	<div class="col-md-10">
	<ul class="wb-eqht mrgn-tp-md mrgn-bttm-md colcount-md-2">
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
	</ul>
	</div>
	</div>
</div>
