<section class="lnkbx well">
	<h2>
	{{#is page.language "fr"}}
	Les plus demandés
	{{else}}
	Most requested
	{{/is}}
	</h2>
	<ul>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
		<li><a href="#">{{#is page.language "fr"}}[Lien à une tâche principale]
		{{else}}
		[Top task hyperlink text]{{/is}}
		</a></li>
	</ul>
</section>
