<h3>{{#is page.language "fr"}}Données ouvertes{{else}}Open data{{/is}}</h3>
<ul>
	<li><a href="#">{{#is page.language "fr"}}[Donnée 1]{{else}}[Open data 1]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Donnée 2 avec un long titre]{{else}}[Open data 2 with a long heading]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Donnée 3]{{else}}[Open data 3]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Donnée 4 avec un long titre... et plus...]{{else}}[Open data 4 with a long heading..and a bit longer]{{/is}}</a></li>
</ul>
<p><a href="#">{{#is page.language "fr"}}Toutes les données ouvertes connexes{{else}}All related open data{{/is}}</a></p>
