<aside class="prm-flpr">
	<div class="container">
		<h2 class="wb-inv">{{{i18n "tmpl-promo-title"}}}</h2>
		<div class="wb-tabs carousel-s2 show-thumbs playing slow">
			<ul role="tablist">
				<li class="active">
					<a href="#tab1"><img src="{{assets}}/img/promos/1170x347-1.png" alt="" /><span class="wb-inv">{{#startsWith "en" language }}Tab 1: Banff National Park{{else}}Languette 1 : Parc national Banff{{/startsWith}}</span></a>
				</li>
				<li>
					<a href="#tab2"><img src="{{assets}}/img/promos/1170x347-2.png" alt="" /><span class="wb-inv">{{#startsWith "en" language }}Tab 2: Algonquin Provincial Park{{else}}Languette 2 : Parc Provincial Algonquin{{/startsWith}}</span></a>
				</li>
				<li>
					<a href="#tab3"><img src="{{assets}}/img/promos/1170x347-3.png" alt="" /><span class="wb-inv">{{#startsWith "en" language }}Tab 3: Rideau Canal{{else}}Languette 3 : Canal Rideau{{/startsWith}}</span></a>
				</li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="tab1" class="in fade">
					<a href="#" class="learnmore">
						<figure>
							<img src="{{assets}}/img/promos/1170x347-1.png" alt="" />
							<figcaption>
								<p>{{#startsWith "en" language }}Banff National Park {{else}} Parc national Banff{{/startsWith}}</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div role="tabpanel" id="tab2" class="out fade">
					<a href="#" class="learnmore">
						<figure>
							<img src="{{assets}}/img/promos/1170x347-2.png" alt="" />
							<figcaption>
								<p>{{#startsWith "en" language }}Algonquin Provincial Park {{else}} Parc Provincial Algonquin{{/startsWith}}</p>
							</figcaption>
						</figure>
					</a>
				</div>
				<div role="tabpanel" id="tab3" class="out fade">
					<a href="#" class="learnmore">
						<figure>
							<img src="{{assets}}/img/promos/1170x347-3.png" alt="" />
							<figcaption>
								<p>{{#startsWith "en" language }}Rideau Canal {{else}} Canal Rideau{{/startsWith}}</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
		</div>
	</div>
</aside>
