<aside class="jumbotron pagebrand flpr">
    <div class="container">
        <div class="row">
            <h2 class="wb-inv">{{#i18n "%tmpl-promo-title"}}{{/i18n}}</h2>            
            <div class="wb-tabs carousel-s2 playing" data-speed="slow">
                <ul role="tablist">
                    <li class="active"><a href="#tab7" title="Tab 1"><img src="{{assets}}/img/promos/one.jpg" alt=""></a></li>
                    <li><a href="#tab8" title="Tab 2"><img src="{{assets}}/img/promos/two.jpg" alt=""></a></li>
                    <li><a href="#tab9" title="Tab 3"><img src="{{assets}}/img/promos/three.jpg" alt=""></a></li>
                </ul>
                <div role="tabpanel" id="tab7" class="in fade">
                    <figure>
                        <img src="{{assets}}/img/promos/one.jpg" alt="">
                        <figcaption>
                            <h2 class="h3">{{#startsWith "en" language }} Banff National Park {{else}} Parc national Banff {{/startsWith}}</h2>
                            <p><a href="#" class="learnmore">{{#startsWith "en" language }}Learn More...{{else}}En savoir plus...{{/startsWith}}</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div role="tabpanel" id="tab8" class="out fade">
                    <figure>
                        <img src="{{assets}}/img/promos/two.jpg" alt="">
                        <figcaption>
                            <h2 class="h3">{{#startsWith "en" language }} Algonquin Provincial Park {{else}} Parc Provincial Algonquin {{/startsWith}}</h2>
                            <p><a href="#" class="learnmore">{{#startsWith "en" language }}Learn More...{{else}}En savoir plus...{{/startsWith}}</a></p>
                        </figcaption>
                    </figure>
                </div>
                <div role="tabpanel" id="tab9" class="out fade">
                    <figure>
                        <img src="{{assets}}/img/promos/three.jpg" alt="">
                        <figcaption>
                            <h2 class="h3">{{#startsWith "en" language }} Rideau Canal {{else}} Canal Rideau {{/startsWith}}</h2>
                            <p><a href="#" class="learnmore">{{#startsWith "en" language }}Learn More...{{else}}En savoir plus...{{/startsWith}}</a></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

</aside>
