<aside class="jumbotron sub-promo visible-md visible-lg">
	<div class="container">
		<div class="row">
			<h2 class="wb-inv">{{{i18n "tmpl-promo-title"}}}</h2>
			<div class="col-md-6 col-offset-1">
				<h2 class="h3">{{#startsWith "en" language }}Remembrance Vignette{{else}}Capsule commémorative{{/startsWith}}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quas, ipsa error modi sequi odio doloribus vero. Veniam error facilis voluptates Optio.</p>
				<p class="text-center">
					<a href="video-{{language}}.html" class="btn btn-primary text-center">{{#startsWith "en" language }}See the video{{else}}Voir la vidéo{{/startsWith}}</a>
				</p>
			</div>
			<div class="col-md-5 profileimage">
				<a href="video-{{language}}.html">
					<img src="http://dev3.canada.ca/video/2012veterans.jpg" alt="{{#startsWith "en" language }}Remembrance Vignette{{else}}Capsule commémorative{{/startsWith}}" class="thumbnail" />
				</a>
			</div>
		</div>
	</div>
</aside>
