<aside class="prm-flpr">
	<div class="container">
		<div class="row">
			<h2 class="wb-inv">{{{i18n "tmpl-promo-title"}}}</h2>
			<div class="wb-tabs carousel-s2 playing" data-speed="slow">
				<ul role="tablist">
					<li class="active">
						<a href="#tab1" title="{{#startsWith "en" language }}Tab 1: Banff National Park{{else}}Languette 1 : Parc national Banff{{/startsWith}}"><img src="{{assets}}/img/promos/one.jpg" alt="" /></a>
					</li>
					<li>
						<a href="#tab2" title="{{#startsWith "en" language }}Tab 2: Algonquin Provincial Park{{else}}Languette 2 : Parc Provincial Algonquin{{/startsWith}}"><img src="{{assets}}/img/promos/two.jpg" alt="" /></a>
					</li>
					<li>
						<a href="#tab3" title="{{#startsWith "en" language }}Tab 3: Rideau Canal{{else}}Languette 3 : Canal Rideau{{/startsWith}}"><img src="{{assets}}/img/promos/three.jpg" alt="" /></a>
					</li>
				</ul>
				<div role="tabpanel" id="tab1" class="in fade">
					<figure>
						<img src="{{assets}}/img/promos/one.jpg" alt="" />
						<figcaption>
							<p>
								<a href="#" class="learnmore">{{#startsWith "en" language }} Banff National Park {{else}} Parc national Banff {{/startsWith}}</a>
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="tab2" class="out fade">
					<figure>
						<img src="{{assets}}/img/promos/two.jpg" alt="" />
						<figcaption>
							<p>
								<a href="#" class="learnmore">{{#startsWith "en" language }} Algonquin Provincial Park {{else}} Parc Provincial Algonquin {{/startsWith}}</a>
							</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="tab3" class="out fade">
					<figure>
						<img src="{{assets}}/img/promos/three.jpg" alt="" />
						<figcaption>
							<p>
								<a href="#" class="learnmore">{{#startsWith "en" language }} Rideau Canal {{else}} Canal Rideau {{/startsWith}}</a>
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</aside>
