<div class="gc-rprt-prblm">
	<details class="brdr-0 col-sm-6 col-lg-4 mrgn-tp-sm">
		<summary class="btn btn-default text-center">{{{i18n "tmpl-feedback"}}}</summary>
		<div class="clearfix"></div>
		<div class="well row">
			<div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">
				<p><a href="#privacy" aria-controls="privacy" class="wb-lbx prvc-lnk" role="button">{{#is page.language "en"}}Privacy statement{{else}}Déclaration de confidentialité{{/is}}</a></p>
				<section id="privacy" class="mfp-hide modal-dialog modal-content overlay-def">
					<header class="modal-header">
						<h2 class="modal-title">{{#is page.language "en"}}Privacy statement{{else}}Déclaration de confidentialité{{/is}}</h2>
					</header>
					<div class="modal-body">
						{{#is page.language "en"}}
						<p>The information you provide through this survey is collected under the authority of the <a href="http://laws-lois.justice.gc.ca/eng/acts/H-5.7/page-1.html"><em>Department of Employment and Social Development Act (<abbr>DESDA</abbr>)</em></a> for the purpose of measuring the performance of Canada.ca and continually improving the website. Your participation is voluntary.</p>
						<p>Please do not include sensitive personal information in the message box, such as your name, address, Social Insurance Number, personal finances, medical or work history or any other information by which you or anyone else can be identified by your comments or views.</p>
						<p>Any personal information collected will be administered in accordance with the <a href="http://laws-lois.justice.gc.ca/eng/acts/H-5.7/page-1.html"><em>Department of Employment and Social Development Act</em></a>, the <a href="http://laws-lois.justice.gc.ca/eng/acts/P-21/index.html"><em>Privacy Act</em></a> and other applicable privacy laws governing the protection of personal information under the control of the Department of Employment and Social Development. Survey responses will not be attributed to individuals.</p>
						<p>If you wish to obtain information related to this survey, you may submit a request to the Department of Employment and Social Development pursuant to the <a href="http://laws-lois.justice.gc.ca/eng/acts/A-1/FullText.html"><em>Access to Information Act</em></a>. Instructions for making a request are provided in the publication <a href="http://www.infosource.gc.ca/index-eng.asp">InfoSource</a>, copies of which are located in local Service Canada Centres.</p>
						<p>You have the right to file a complaint with the Privacy Commissioner of Canada regarding the institution's handling of your personal information at: <a href="https://www.priv.gc.ca/faqs/index_e.asp#q005">How to file a complaint</a>.</p>
						<p>When making a request, please refer to the name of this survey: Report a Problem or Mistake on This Page.</p>
						{{else}}
						<p>L'information que vous fournissez est recueillie conformément à la Loi sur <a href="http://laws-lois.justice.gc.ca/fra/lois/H-5.7/page-1.html"><em>le ministère de l'Emploi et du Développement social</em></a> afin de mesurer le rendement du site Web Canada.ca et de continuellement améliorer le site Web. Votre participation est volontaire.</p>
						<p>N'incluez aucun renseignement personnel de nature délicate dans cette boîte de message, tel que votre nom, votre adresse, votre numéro d'assurance sociale, des renseignements sur vos finances personnelles, vos antécédents médicaux ou professionnels ou tout autre renseignement permettant de vous identifier ou d'identifier une autre personne à partir de vos commentaires ou opinions.Tout renseignement personnel recueilli sera traité conformément à la <a href="http://laws-lois.justice.gc.ca/fra/lois/H-5.7/page-1.html"><em>Loi sur le ministère de l'Emploi et du Développement social</em></a>, à la <a href="http://laws-lois.justice.gc.ca/fra/lois/P-21/index.html"><em>Loi sur la protection des renseignements personnels</em></a> et les autres lois régissant la protection des renseignements personnels détenus par le ministère de l'Emploi et du Développement social du Canada. Les réponses au sondage sont anonymes.</p>
						<p>Si vous souhaitez obtenir des renseignements relativement à ce sondage, vous pouvez présenter une demande au ministère de la Loi sur le ministère de l'Emploi et du Développement social conformément à la <a href="http://laws-lois.justice.gc.ca/fra/lois/A-1/TexteComplet.html"><em>Loi sur l'accès à l'information</em></a>. Les directives pour présenter une telle demande se trouvent dans la publication <a href="http://www.infosource.gc.ca/index-fra.asp">InfoSource</a>, dont vous pouvez obtenir une copie papier dans votre Centre Service Canada local.</p>
						<p>Vous avez le droit de porter plainte auprès du Commissaire à la protection de la vie privée au Canada au sujet du traitement accordé par le Ministère à vos renseignements personnels, à l'adresse suivante : <a href="https://www.priv.gc.ca/faqs/index_f.asp#q005">Comment déposer une plainte</a>.</p>
						<p>Au moment de présenter une demande, veuillez préciser le nom du présent sondage : Signaler un problème ou une erreur sur cette page</p>
						{{/is}}
					</div>
				</section>
				<form action="#">
					<fieldset>
						<legend><span class="field-name">{{#is page.language "en"}}Please select all that apply: {{else}}Veuillez cocher toutes les réponses pertinentes&nbsp;:{{/is}}</span></legend>
							<div class="checkbox">
								<label for="problem1"><input type="checkbox" data-reveal="#broken" name="problem" value="Something is broken" id="problem1" />{{#is page.language "en"}}Something is broken{{else}}Quelque chose ne fonctionne pas{{/is}}</label>
							</div>
							<div class="form-group hide" id="broken">
								<label for="problem1-detail">{{#is page.language "en"}}Provide more details (optional):{{else}}Fournissez plus des détails (optionnel)&nbsp;:{{/is}}</label>
								<input type="text" class="form-control full-width" id="problem1-detail">
							</div>
							<div class="checkbox">
								<label for="problem2"><input type="checkbox" data-reveal="#spelling" name="problem" value="It has spelling or grammar mistakes" id="problem2" />{{#is page.language "en"}}The page has spelling or grammar mistakes{{else}}Il y a des erreurs d’orthographe ou de grammaire{{/is}}</label>
							</div>
							<div class="form-group hide" id="spelling">
								<label for="problem2-detail">{{#is page.language "en"}}Provide more details (optional):{{else}}Fournissez plus des détails (optionnel)&nbsp;:{{/is}}</label>
								<input type="text" class="form-control full-width" id="problem2-detail">
							</div>
							<div class="checkbox">
								<label for="problem3"><input type="checkbox" data-reveal="#wrong" name="problem" value="The information is wrong" id="problem3" />{{#is page.language "en"}}The information is wrong{{else}}L’information est erronée{{/is}}</label>
							</div>
							<div class="form-group hide" id="wrong">
								<label for="problem3-detail">{{#is page.language "en"}}Provide more details (optional):{{else}}Fournissez plus des détails (optionnel)&nbsp;:{{/is}}</label>
								<input type="text" class="form-control full-width" id="problem3-detail">
							</div>
							<div class="checkbox">
								<label for="problem4"><input type="checkbox" data-reveal="#outdated" name="problem" value="The information is outdated" id="problem4" />{{#is page.language "en"}}The information is outdated{{else}}L’information n’est plus à jour{{/is}}</label>
							</div>
							<div class="form-group hide" id="outdated">
								<label for="problem4-detail">{{#is page.language "en"}}Provide more details (optional):{{else}}Fournissez plus des détails (optionnel)&nbsp;:{{/is}}</label>
								<input type="text" class="form-control full-width" id="problem4-detail">
							</div>
							<div class="checkbox">
								<label for="problem5"><input type="checkbox" data-reveal="#find" name="problem" value="I can’t find what I’m looking for" id="problem5" />{{#is page.language "en"}}I can’t find what I’m looking for{{else}}Je ne trouve pas ce que je cherche{{/is}}</label>
							</div>
							<div class="form-group hide" id="find">
								<label for="problem5-detail">{{#is page.language "en"}}Describe what you’re looking for (optional):{{else}}Décrivez ce que vous cherchez (optionnel)&nbsp;:{{/is}}</label>
								<input type="text" class="form-control full-width" id="problem5-detail">
							</div>
							<div class="checkbox">
								<label for="problem6"><input type="checkbox" data-reveal="#confusing" name="problem" value="It’s confusing" id="problem6" />{{#is page.language "en"}}Other{{else}}Autre{{/is}}</label>
							</div>
							<div class="form-group hide" id="confusing">
								<label for="problem6-detail">{{#is page.language "en"}}Provide more details (optional):{{else}}Fournissez plus des détails (optionnel)&nbsp;:{{/is}}</label>
								<input type="text" class="form-control full-width" id="problem6-detail">
							</div>

					</fieldset>
					<button type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>{{#is page.language "en"}}Submit{{else}}Soumettre{{/is}}</button>
				</form>
			</div>
			<div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
				<h3 class="mrgn-tp-0">{{#is page.language "en"}}Thank you for your help!{{else}}Merci de votre aide!{{/is}}</h3>
				{{#is page.language "en"}}
				<p>You will not receive a reply. For enquiries, please <a href="https://www.canada.ca/en/contact.html">contact us</a>.</p>
				{{else}}
				<p>Vous ne recevrez pas de réponse. Pour toute question, s’il vous plaît <a href="https://www.canada.ca/fr/contact.html">contactez-nous</a>.</p>
				{{/is}}
			</div>
		</div>
	</details>
</div>
