<h3>{{#is page.language "fr"}}La recherche{{else}}Research{{/is}}</h3>
<ul>
	<li><a href="#">{{#is page.language "fr"}}[Notre étude 1]{{else}}[Research report 1]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Notre étude 2 avec un long titre]{{else}}[Research report 2]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Notre étude 3 avec un long titre]{{else}}[Launched research study]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[La recherche 4]{{else}}[Preliminary research result 1]{{/is}}</a></li>
</ul>
<p><a href="#">{{#is page.language "fr"}}Tous les rapports d’étude connexes{{else}}All related research{{/is}}</a></p>
