<ul class="list-group menu list-unstyled">
	<li>
		<h3 class="wb-navcurr">{{{i18n "mn-section-name"}}}</h3>
		<ul class="list-group menu list-unstyled">
			<li><a class="list-group-item" href="#">{{{i18n "mn-link-1"}}}</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "mn-link-2"}}}</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "mn-link-3"}}}</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "mn-link-4"}}}</a></li>
		</ul>
	</li>
</ul>