<aside class="lnkbx">
	<h2>{{{i18n "service-right-panel-guides-heading"}}}</h2>
	<ul class="lst-spcd">
		<li><a href="#">[{{{i18n "service-right-panel-guides-listitem"}}} 1]</a></li>
		<li><a href="#">[{{{i18n "service-right-panel-guides-listitem"}}} 2]</a></li>
		<li><a href="#">[{{{i18n "service-right-panel-guides-listitem"}}} 3]</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>{{{i18n "service-right-panel-contact-heading"}}}</h2>
{{#is page.lang 'en'}}
	<ul>
		<li><a href="#">{{{i18n "service-right-panel-contact-listitem"}}}</a></li>
	</ul>
{{else}}
	<p>[Office name or location]<br />
	1300-70 Somerset St. W<br />
	Moncton NB E1C 8P2</p>

	<dl>
		<dt>Telephone:</dt>
		<dd>506-857-2400 ext. 123</dd>
		<dd>506-857-2400 ext. 124</dd>
		<dt>Email:</dt>
		<dd><a href="mailto:firstname.lastname@canada.ca">firstname.lastname@canada.ca</a></dd>
	</dl>
	<ul>
		<li><a href="#">Contact [Institution name] for help</a></li>
		<li><a href="#">Contact [Institution name] for help</a></li>
		<li><a href="#">Contact [Institution name] for help</a></li>
		<li><a href="#">Contact [Institution name] for help</a></li>
	</ul>
{{/is}}
</aside>
<aside class="lnkbx">
	<h2>{{{i18n "service-right-panel-guides-related-services-heading"}}}</h2>
	<ul class="lst-spcd">
		<li><a href="#">[{{{i18n "service-right-panel-guides-related-services-listitem-services"}}} 1]</a></li>
		<li><a href="#">[{{{i18n "service-right-panel-guides-related-services-listitem-services"}}} 2]</a></li>
		<li><a href="#">[{{{i18n "service-right-panel-guides-related-services-listitem-information"}}} 1]</a></li>
		<li><a href="#">[{{{i18n "service-right-panel-guides-related-services-listitem-information"}}} 2]</a></li>
	</ul>
</aside>
<aside class="lnkbx">
	<h2>{{{i18n "service-right-panel-guides-related-program-heading"}}}</h2>
	<ul class="lst-spcd">
		<li><a href="#">[{{{i18n "service-right-panel-guides-related-program-listitem"}}}]</a></li>
	</ul>
</aside>
