<li><a href="{{{i18n "menu-main-jobs-link-main"}}}">{{{i18n "menu-main-jobs-text-main"}}}</a></li>
<li><a href="{{{i18n "menu-main-immigration-link-main"}}}">{{{i18n "menu-main-immigration-text-main"}}}</a></li>
<li><a href="{{{i18n "menu-main-travel-link-main"}}}">{{{i18n "menu-main-travel-text-main"}}}</a></li>
<li><a href="{{{i18n "menu-main-business-link-main"}}}">{{{i18n "menu-main-business-text-main"}}}</a></li>
<li><a href="{{{i18n "menu-main-benefits-link-main"}}}">{{{i18n "menu-main-benefits-text-main"}}}</a></li>
<li><a href="{{{i18n "menu-main-health-link-main"}}}">{{{i18n "menu-main-health-text-main"}}}</a></li>
<li><a href="{{{i18n "menu-main-taxes-link-main"}}}">{{{i18n "menu-main-taxes-text-main"}}}</a></li>
<li><a href="{{{i18n "menu-main-services-link-main"}}}">{{{i18n "menu-main-services-text-main"}}}</a></li>
