{{#isnt language "fr"}}
<nav class="gcweb-v2" typeof="SiteNavigationElement">
	<div class="container">
		<h2 class="wb-inv">Menu</h2>
		<button type="button" aria-haspopup="true" aria-controls="gc-mnu" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
		<ul id="gc-mnu" role="menu" aria-orientation="vertical" data-ajax-append="{{#if page.altMenu}}{{page.altMenu}}{{else}}{{#if site.menuRoot}}{{site.menuRoot}}{{else}}{{assets}}{{/if}}/ajax/sitemenu-v2{{/if}}-{{language}}.html">
		</ul>
	</div>
</nav>
{{else}}
<nav class="gcweb-v2" typeof="SiteNavigationElement">
	<div class="container">
		<h2 class="wb-inv">Menu</h2>
		<button type="button" aria-haspopup="true" aria-controls="gc-mnu" aria-expanded="false">Menu<span class="wb-inv"> principal</span> <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
		<ul id="gc-mnu" role="menu" aria-orientation="vertical" data-ajax-append="{{#if page.altMenu}}{{page.altMenu}}{{else}}{{#if site.menuRoot}}{{site.menuRoot}}{{else}}{{assets}}{{/if}}/ajax/sitemenu-v2{{/if}}-{{language}}.html">
		</ul>
	</div>
</nav>
{{/isnt}}
