<div class="container visible-md visible-lg nvbar">
    <div class="row">
        <ul class="list-inline menu">
            <li><a href="{{rooturl}}/fr/emplois/index.html">Emplois</a></li>
            <li><a href="{{rooturl}}/fr/citimm/index.html">Immigration</a></li>
            <li><a href="http://voyage.gc.ca/">Voyage</a></li>
            <li><a href="{{rooturl}}/fr/entreprises/index.html">Entreprises</a></li>
            <li><a href="{{rooturl}}/fr/prestations/index.html">Prestations</a></li>
            <li><a href="{{rooturl}}/fr/sante/index.html">Santé</a></li>
            <li><a href="{{rooturl}}/fr/impots/index.html">Impôts</a></li>
            <li><a href="{{rooturl}}/fr/services/index.html">Autres services</a></li>
        </ul>
    </div>
</div>
