<div class="container visible-md visible-lg nvbar">
    <div class="row">
        <ul class="list-inline menu">
            <li><a href="{{rooturl}}/en/jobs/index.html">Jobs</a></li>
            <li><a href="{{rooturl}}/en/citimm/index.html">Immigration</a></li>
            <li><a href="http://travel.gc.ca/">Travel</a></li>
            <li><a href="{{rooturl}}/en/business/index.html">Business</a></li>
            <li><a href="{{rooturl}}/en/benefits/index.html">Benefits</a></li>
            <li><a href="{{rooturl}}/en/health/index.html">Health</a></li>
            <li><a href="{{rooturl}}/en/taxes/index.html">Taxes</a></li>
            <li><a href="{{rooturl}}/en/services/index.html">More services</a></li>
        </ul>
    </div>
</div>








