<section class="provisional gc-followus vertical">
	<h2>
		{{#is page.language "fr"}}
			Dans les médias sociaux
		{{else}}
			On social media
		{{/is}}
	</h2>
	<ul>
		<li class="facebook">
			<a href="#" rel="external" class="social-lnk">
				{{#is page.language "fr"}}NomPageFacebook{{else}}FacebookPageName{{/is}}
			</a>
		</li>
		<li class="twitter">
			<a href="#" rel="external" class="social-lnk">
				{{#is page.language "fr"}}@CompteTwitter{{else}}@TwitterAccount{{/is}}
			</a>
		</li>
		<li class="youtube">
			<a href="#" rel="external" class="social-lnk">
				{{#is page.language "fr"}}NomYouTube{{else}}YouTubeName{{/is}}
			</a>
		</li>
		<li class="instagram">
			<a href="#" rel="external" class="social-lnk">
				{{#is page.language "fr"}}NomInstagram{{else}}InstagramName{{/is}}
			</a>
		</li>
	</ul>
</section>
