<h3>{{#is page.language "fr"}}Statistiques{{else}}Statistics{{/is}}</h3>
<ul>
	<li><a href="#">{{#is page.language "fr"}}[Statistique 1]{{else}}[Statistic 1]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Statistique 2 avec un long titre]{{else}}[Statistic 2 with a long heading]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Statistique 3]{{else}}[Statistic 3]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Statistique 4 avec un long titre... et plus...]{{else}}[Statistic 4 with a long heading..and a bit longer]{{/is}}</a></li>
</ul>
<p><a href="#">{{#is page.language "fr"}}Toutes les statistiques connexes{{else}}All related statistics{{/is}}</a></p>
