<h3>{{#is page.language "fr"}}Enquêtes{{else}}Surveys{{/is}}</h3>
<ul>
	<li><a href="#">{{#is page.language "fr"}}[Enquête 1]{{else}}[Survey 1]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Enquête 2 avec un long titre]{{else}}[Survey 2 with a long heading]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Enquête 3]{{else}}[Survey 3]{{/is}}</a></li>
	<li><a href="#">{{#is page.language "fr"}}[Enquête 4]{{else}}[Survey 4]{{/is}}</a></li>
</ul>
<p><a href="#">{{#is page.language "fr"}}Toutes les enquêtes connexes{{else}}All related surveys{{/is}}</a></p>
