---
{
	"title": "[Nom du service] - 2. [Nom de la page de la section ou de l’étape]",
	"secondTitle": "2. [Nom de la page de la section ou de l’étape]",
	"language": "fr",
	"altLangPrefix": "page2",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "[Nom de l'institution]", "link": "#" },
		{ "title": "[Nom du sujet]", "link": "#" },
		{ "title": "[Nom du service]", "link": "#" }
	],
	"secondlevel": false,
	"dateModified": "2017-04-07",
	"share": "true",
	"previous": [ { "title": "1. [Nom de la page de la section ou de l’étape]", "link": "index-fr.html" } ],
	"next": [ { "title": "3. [Nom de la page de la section ou de l’étape]", "link": "page3-fr.html" } ]
}
---
<p class="gc-byline"><strong>De <a href="../institution-fr.html">[nom de l'institution]</a></strong></p>

<div class="gc-stp-stp">
	<div class="row">
		<ul class="toc lst-spcd col-md-12">
			<li class="col-md-4 col-sm-6"><a class="list-group-item" href="index-fr.html">1. [Nom de la page de la section ou de l’étape]</a></li>
			<li class="col-md-4 col-sm-6"><a class="list-group-item active">2. [Nom de la page de la section ou de l’étape]</a></li>
			<li class="col-md-4 col-sm-6 clr-lft-sm"><a class="list-group-item" href="page3-fr.html">3. [Nom de la page de la section ou de l’étape]</a></li>
			<li class="col-md-4 col-sm-6 clr-lft-md clr-lft-lg"><a class="list-group-item" href="page4-fr.html">4. [Nom de la page de la section ou de l’étape]</a></li>
			<li class="col-md-4 col-sm-6 clr-lft-sm"><a class="list-group-item" href="page5-fr.html">5. [Nom de la page de la section ou de l’étape]</a></li>
			<li class="col-md-4 col-sm-6"><a class="list-group-item" href="page6-fr.html">6. [Nom de la page de la section ou de l’étape]</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<section class="col-md-8">
		<h2>{{secondTitle}}</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a adipisci nostrum optio dolorum sint ipsa facilis nisi quisquam laboriosam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio adipisci ad neque distinctio quod molestias, molestiae accusamus quo aspernatur expedita blanditiis quam! Esse cum modi atque, beatae aliquam, dolor.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid hic numquam obcaecati ea, laborum accusamus culpa atque voluptate distinctio et omnis! Alias, beatae, tenetur.</p>
		<section>
		<h3>[Sous-titre]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
		<h3>[Sous-titre]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<nav role="navigation" class="row">
			<h3 class="wb-inv">Navigation dans le document</h3>
			<ul class="pager">
				{{#previous}}
				<li class="previous"><a href="{{link}}" rel="prev">Précédent<span class="wb-inv"> : {{title}}</span></a></li>
				{{/previous}}
				{{#next}}
				<li class="next"><a href="{{link}}" rel="next">Suivant<span class="wb-inv"> : {{title}}</span></a></li>
				{{/next}}
			</ul>
		</nav>
	</section>
	<div class="col-md-4">
		{{>service-right-panel}}
	</div>
</div>
