---
{
	"title": "[Service name] - 2. [Step / section page name]",
	"secondTitle": "2. [Step / section page name]",
	"language": "en",
	"altLangPrefix": "page2",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" },
		{ "title": "[Institution name]", "link": "#" },
		{ "title": "[Topic name]", "link": "#" },
		{ "title": "[Service name]", "link": "#" }
	],
	"secondlevel": false,
	"dateModified": "2017-04-07",
	"share": "true",
	"previous": [ { "title": "1. [Step / section page name]", "link": "index-en.html" } ],
	"next": [ { "title": "3. [Step / section page name]", "link": "page3-en.html" } ]
}
---
<p class="gc-byline"><strong>From <a href="../institution-en.html">[Institution name]</a></strong></p>

<div class="gc-stp-stp">
	<div class="row">
		<ul class="toc lst-spcd col-md-12">
			<li class="col-md-4 col-sm-6"><a class="list-group-item" href="index-en.html">1. [Step / section page name]</a></li>
			<li class="col-md-4 col-sm-6"><a class="list-group-item active">{{secondTitle}}</a></li>
			<li class="col-md-4 col-sm-6 clr-lft-sm"><a class="list-group-item" href="page3-en.html">3. [Step / section page name]</a></li>
			<li class="col-md-4 col-sm-6 clr-lft-md clr-lft-lg"><a class="list-group-item" href="page4-en.html">4. [Step / section page name]</a></li>
			<li class="col-md-4 col-sm-6 clr-lft-sm"><a class="list-group-item" href="page5-en.html">5. [Step / section page name]</a></li>
			<li class="col-md-4 col-sm-6"><a class="list-group-item" href="page6-en.html">6. [Step / section page name]</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<section class="col-md-8">
		<h2>{{secondTitle}}</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a adipisci nostrum optio dolorum sint ipsa facilis nisi quisquam laboriosam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium odio adipisci ad neque distinctio quod molestias, molestiae accusamus quo aspernatur expedita blanditiis quam! Esse cum modi atque, beatae aliquam, dolor.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aliquid hic numquam obcaecati ea, laborum accusamus culpa atque voluptate distinctio et omnis! Alias, beatae, tenetur.</p>
		<section>
		<h3>[Sub heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti cupiditate voluptatem praesentium, facilis corporis magni esse reiciendis distinctio. Vitae totam iste porro, esse facere obcaecati? Laborum earum minus harum enim.</p>
		</section>
		<section>
		<h3>[Sub heading]</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic minima magni nesciunt nam. Facilis perferendis, adipisci voluptates, enim illo perspiciatis molestias itaque iste qui distinctio asperiores quidem voluptatum sunt.</p>
		</section>
		<nav role="navigation" class="mrgn-bttm-lg">
			<h3 class="wb-inv">Document navigation</h3>
			<ul class="pager">
				{{#previous}}
				<li class="previous"><a href="{{link}}" rel="prev">Previous<span class="wb-inv">: {{title}}</span></a></li>
				{{/previous}}
				{{#next}}
				<li class="next"><a href="{{link}}" rel="next">Next<span class="wb-inv">: {{title}}</span></a></li>
				{{/next}}
			</ul>
		</nav>
	</section>
	<div class="col-md-4">
		{{>service-right-panel}}
	</div>
</div>
