---
{
	"title": "Thème Canada.ca",
	"language": "fr",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2017-08-18",
	"share": "true"
}
---
<section>
	<h2>Anglais</h2>
	<div class="row"><div class="col-md-8">
	<ul>
		<li><a href="home-en.html">Page d’accueil<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="theme-en.html">Page d’atterrissage du thème<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="topic-en.html">Page d’atterrissage du sujet<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="institution-en.html">Profil institutionnel <span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="institution-arms-en.html">Profil institutionnel pour les organisations sans lien de dépendance<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="institution-contact-en.html">Page de contact de l’institutionnel<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="institutional-service-performance-en.html">Page de compte rendu du rendement des services institutionnels sur Canada.ca<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="gc-audience-en.html">Page des publics cibles du gouvernement<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="content-en.html">Page de contenu<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="content-signedoff-en.html">Page de contenu - Session Fermée<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="content-signedon-en.html">Page de contenu - Session Ouverte<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="components-en.html">Page de composants<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="video-en.html">Page de contenu vidéo<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="feedback-en.html">Formulaire de rétroaction<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="widgets-en.html">Page de gadgets<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="localnav/task1/index-en.html">Exemples avec un menu de la section<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="splashpage.html">Page d’entrée<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="servermessage-en.html">Page de message du serveur<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="servermessage-en-fr.html">Page de message du serveur - anglais/français</a></li>
		<li><a href="campaign-en.html">Campagne - Exemple 1<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="campaign2-en.html">Campagne - Exemple 2<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="event-en.html">Événement<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="service-en.html">Page d’accueil d’initiation de service simple<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="advancedservice/index-en.html">Page d’accueil d’initiation de service avancé<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="dept-en.html">Ministères et organismes<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="ministerial-en.html">Profil ministérielle<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="act-en.html">Lois<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="regulations-en.html">Règlements<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="organizational-en.html">Page profil de l’organisme<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="organizational-arms-en.html">Page de profil organisationnel pour les organisations sans lien de dépendance<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="archived-en.html">Page archivée<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="404-en.html">Page d'erreur 404<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a></li>
		<li><a href="404-en-fr.html">Page d'erreur 404 - anglais/français</a></li>
	</ul>
	</div><div class="col-md-4">
		<section>
			<h3>Plugiciel du thème</h3>
			<ul>
				<li><a href="demos/data-json/data-json-en.html" hreflang="en">Data JSON<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/data-json/data-json-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/doaction/tblfilter-en.html" hreflang="en">Exécuter des actions<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/doaction/doaction-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/data-json/template-en.html" hreflang="en">Gabarit HTML5<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/data-json/data-json-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/jsonmanager/jsonmanager-en.html" hreflang="en">Gestionnaire JSON<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/jsonmanager/jsonmanager-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/urlmapping/tblfilter-en.html" hreflang="en">Correspondance d'URL - Filtrage de tableau<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/urlmapping/urlmapping-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/urlmapping/ajax-en.html" hreflang="en">Correspondance d'URL - Ajax<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/urlmapping/urlmapping-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/urlmapping/patches-en.html" hreflang="en">Correspondance d'URL - Appliquer des correctifs JSON<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/urlmapping/urlmapping-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/fieldflow/fieldflow-en.html" hreflang="en">Déroulement de champs<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/fieldflow/fieldflow-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/fieldflow/basic-en.html" hreflang="en">Déroulement de champs avec des configurations de base<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/fieldflow/fieldflow-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
				<li><a href="demos/fieldflow/advanced-en.html" hreflang="en">Déroulement de champs avancé<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a> (<a hreflang="en" href="demos/fieldflow/fieldflow-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr" language="en"}}</span></a>)</li>
			</ul>
		</section>
	</div></div>
</section>
<section>
	<h2>Français</h2>
	<div class="row"><div class="col-md-8">
	<ul>
		<li><a href="home-fr.html">Page d’accueil<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="theme-fr.html">Page d’atterrissage du thème<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="topic-fr.html">Page d’atterrissage du sujet<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="institution-fr.html">Profil institutionnel pour les grandes organisations<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="institution-arms-fr.html">Page de compte rendu du rendement des services institutionnels sur Canada.ca<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="institution-contact-fr.html">Page de contact de l’institutionnel<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="institutional-service-performance-fr.html">Page de contact de l’institutionnel<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="gc-audience-fr.html">Page des publics cibles du gouvernement<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="content-fr.html">Page de contenu<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="components-fr.html">Page de composants<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="video-fr.html">Page de contenu vidéo<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="feedback-fr.html">Formulaire de rétroaction<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="widgets-fr.html">Page de gadgets<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="localnav/task1/index-fr.html">Exemples avec un menu de la section<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="splashpage.html">Page d’entrée<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="servermessage-fr.html">Page de message du serveur<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="servermessage-fr-en.html">Page de message du serveur - français/anglais</a></li>
		<li><a href="campaign-fr.html">Campagne - Exemple 1<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="campaign2-fr.html">Campagne - Exemple 2<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="event-fr.html">Événement<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="service-fr.html">Page d’accueil d’initiation de service simple<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="advancedservice/index-fr.html">Page d’accueil d’initiation de service avancé<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="dept-fr.html">Ministères et organismes<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="ministerial-fr.html">Profil ministérielle<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="act-fr.html">Lois<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="regulations-fr.html">Règlements<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="organizational-fr.html">Page profil de l’organisme<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="organizational-arms-fr.html">Page de profil organisationnel pour les organisations sans lien de dépendance<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="archived-fr.html">Page archivée<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="404-fr.html">Page d'erreur 404<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a></li>
		<li><a href="404-fr-en.html">Page d'erreur 404 - français/anglais</a></li>
	</ul>
	</div><div class="col-md-4">
		<section>
			<h3>Plugiciel du thème</h3>
			<ul>
				<li><a href="demos/data-json/data-json-fr.html">Data JSON<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/data-json/data-json-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/doaction/tblfilter-fr.html">Exécuter des actions<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/doaction/doaction-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/data-json/template-fr.html">Gabarit HTML5<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/data-json/data-json-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/jsonmanager/jsonmanager-fr.html">Gestionnaire JSON<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/jsonmanager/jsonmanager-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/urlmapping/tblfilter-fr.html">Correspondance d'URL - Filtrage de tableau<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/urlmapping/urlmapping-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/urlmapping/ajax-fr.html">Correspondance d'URL - Ajax<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/urlmapping/urlmapping-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/urlmapping/patches-fr.html">Correspondance d'URL - Appliquer des correctifs JSON<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/urlmapping/urlmapping-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/fieldflow/fieldflow-fr.html">Déroulement de champs<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/fieldflow/fieldflow-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/fieldflow/basic-fr.html">Déroulement de champs avec des configurations de base<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/fieldflow/fieldflow-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
				<li><a href="demos/fieldflow/advanced-fr.html">Déroulement de champs avancé<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a> (<a href="demos/fieldflow/fieldflow-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-fr"}}</span></a>)</li>
			</ul>
		</section>
	</div></div>
</section>
