---
{
	"title": "Canada.ca theme",
	"language": "en",
	"altLangPrefix": "index",
	"breadcrumb": [
		{ "title": "Home", "link": "https://www.canada.ca/en.html" }
	],
	"tag": "GCWeb",
	"dateModified": "2017-08-18",
	"share": "true"
}
---
<section>
	<h2>English</h2>
	<div class="row"><div class="col-md-8">
	<ul>
		<li><a href="home-en.html">Home page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="theme-en.html">Theme landing page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="topic-en.html">Topic landing page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="institution-en.html">Institutional profile<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="institution-arms-en.html">Institutional profile for arm’s-length institutions<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="institution-contact-en.html">Institution contact page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="institutional-service-performance-en.html">Institutional service performance reporting pages for Canada.ca<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="gc-audience-en.html">Government-wide audience page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="content-en.html">Content page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="content-signedoff-en.html">Content page - Signed Off<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="content-signedon-en.html">Content page - Signed On<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="components-en.html">Components page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="video-en.html">Video content page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="feedback-en.html">Feedback form<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="widgets-en.html">Widget page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="localnav/task1/index-en.html">Section menu examples<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="splashpage.html">Splash page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="servermessage-en.html">Server message page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="servermessage-en-fr.html">Server message page - English/French</a></li>
		<li><a href="campaign-en.html">Campaign - Example 1<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="campaign2-en.html">Campaign - Example 2<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="event-en.html">Event<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="service-en.html">Simple service initiation landing page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="advancedservice/index-en.html">Advanced service initiation pages<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="dept-en.html">Departments and agencies<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="ministerial-en.html">Ministerial profile<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="act-en.html">Acts<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="regulations-en.html">Regulations<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="organizational-en.html">Organizational profile<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="organizational-arms-en.html">Organizational profile page for arm's-length organizations<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="archived-en.html">Archived page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="404-en.html">404 error page<span class="wb-inv"> - {{i18n "lang-en"}}</span></a></li>
		<li><a href="404-en-fr.html">404 error page - English/French</a></li>
	</ul>
	</div><div class="col-md-4">
		<section>
			<h3>Themes plugins</h3>
			<ul>
				<li><a href="demos/data-json/data-json-en.html">Data JSON<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/data-json/data-json-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/doaction/tblfilter-en.html">Do action<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/doaction/doaction-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/data-json/template-en.html">Template HTML5<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/data-json/data-json-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/jsonmanager/jsonmanager-en.html">JSON Manager<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/jsonmanager/jsonmanager-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/urlmapping/tblfilter-en.html">URL Mapping - Table filtering<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/urlmapping/urlmapping-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/urlmapping/ajax-en.html">URL Mapping - Ajax<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/urlmapping/urlmapping-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/urlmapping/patches-en.html">URL Mapping - Patching JSON<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/urlmapping/urlmapping-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/fieldflow/fieldflow-en.html">Field flow<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/fieldflow/fieldflow-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/fieldflow/basic-en.html">Field flow basic configuration<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/fieldflow/fieldflow-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
				<li><a href="demos/fieldflow/advanced-en.html">Field flow advanced<span class="wb-inv"> - {{i18n "lang-en"}}</span></a> (<a href="demos/fieldflow/fieldflow-doc-en.html">Documentation<span class="wb-inv"> - {{i18n "lang-en"}}</span></a>)</li>
			</ul>
		</section>
	</div></div>
</section>
<section>
	<h2>French</h2>
	<div class="row"><div class="col-md-8">
	<ul>
		<li><a href="home-fr.html">Home page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="theme-fr.html">Theme landing page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="topic-fr.html">Topic landing page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="institution-fr.html">Institutional profile for large institutions<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="institution-arms-fr.html">Institutional profile for arm’s-length institutions<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="institution-contact-fr.html">Institution contact page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="institutional-service-performance-fr.html">Institutional service performance reporting pages for Canada.ca<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="gc-audience-en.html">Government-wide audience page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="content-fr.html">Content page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="components-fr.html">Components page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="video-fr.html">Video content page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="feedback-fr.html">Feedback form<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="widgets-fr.html">Widget page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="localnav/task1/index-fr.html">Section menu examples<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="splashpage.html">Splash page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="servermessage-fr.html">Server message page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="servermessage-fr-en.html">Server message page - French/English</a></li>
		<li><a href="campaign-en.html">Campaign - Example 1<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="campaign2-fr.html">Campaign - Example 2<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="event-fr.html">Event<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="service-fr.html">Simple service initiation landing page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="advancedservice/index-fr.html">Advanced service initiation pages<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="dept-fr.html">Departments and agencies<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="ministerial-fr.html">Ministerial profile<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="act-fr.html">Acts<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="regulations-fr.html">Regulations<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="organizational-fr.html">Organizational profile<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="organizational-arms-fr.html">Organizational profile page for arm's-length organizations<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="archived-fr.html">Archived page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="404-fr.html">404 error page<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a></li>
		<li><a href="404-fr-en.html">404 error page - French/English</a></li>
	</ul>
	</div><div class="col-md-4">
		<section>
			<h3>Themes plugins</h3>
			<ul>
				<li><a href="demos/data-json/data-json-fr.html" hreflang="fr">Data JSON<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/data-json/data-json-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/doaction/tblfilter-fr.html" hreflang="fr">Do action<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/doaction/doaction-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/data-json/template-fr.html" hreflang="fr">Template HTML5<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/data-json/data-json-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/jsonmanager/jsonmanager-fr.html" hreflang="fr">JSON Manager<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a href="demos/jsonmanager/jsonmanager-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/urlmapping/tblfilter-fr.html" hreflang="fr">URL Mapping - Table filtering<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/urlmapping/urlmapping-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/urlmapping/ajax-fr.html" hreflang="fr">URL Mapping - Ajax<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/urlmapping/urlmapping-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/urlmapping/patches-fr.html" hreflang="fr">URL Mapping - Patching JSON<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/urlmapping/urlmapping-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/fieldflow/fieldflow-fr.html" hreflang="fr">Field flow<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/fieldflow/fieldflow-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/fieldflow/basic-fr.html" hreflang="fr">Field flow basic configuration<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/fieldflow/fieldflow-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
				<li><a href="demos/fieldflow/advanced-fr.html" hreflang="fr">Field flow advanced<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a> (<a hreflang="fr" href="demos/fieldflow/fieldflow-doc-fr.html">Documentation<span class="wb-inv"> - {{i18n "lang-en" language="fr"}}</span></a>)</li>
			</ul>
		</section>
	</div></div>
</section>
