---
{
	"title": "[Institution Name]",
	"language": "en",
	"altLangPrefix": "institution",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "Departments & Agencies", "link": "http://www.canada.ca/en/gov/dept/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true"
}
---
<div class="row">
	<div class="col-sm-4 col-xs-8 col-sm-push-8 mrgn-bttm-lg container-fluid">
		<object class="" data="{{assets}}/assets/sig-blk-{{language}}.svg" tabindex="-1" type="image/svg+xml"></object>
		<span class="wb-inv">Government of Canada</span>
	</div>
	<div class="col-sm-8 col-xs-12 col-sm-pull-4">
		<p class="pagetag">1-2 sentences that describe the institution’s mandate. Option to provide links to information about related GC portfolios and partnerships, e.g.  “{{{title}}} is a federal institution that leads/is part of the xxx portfolio, and works with its partners.”</p>
		<p>{{{title}}} is a federal institution that leads/is part of the <a href="#">xxx portfolio</a>, and works with its <a href="#">partners</a>.</p>
		<section class="followus mrgn-bttm-md">
			<h2>Follow:</h2>
			<ul>
				<li><a href="#" class="youtube"><span class="wb-inv">YouTube</span></a></li>
				<li><a href="#" class="twitter"><span class="wb-inv">Twitter</span></a></li>
				<li><a href="#" class="flickr"><span class="wb-inv">Flickr</span></a></li>
				<li><a href="#" class="facebook"><span class="wb-inv">Facebook</span></a></li>
				<li><a href="#" class="foursquare"><span class="wb-inv">Foursquare</span></a></li>
				<li><a href="#" class="pinterest"><span class="wb-inv">Pinterest</span></a></li>
			</ul>
		</section>
	</div>
</div>
<div class="row">
	<section class="gc-nws">
		<h2 class="wb-inv">News</h2>
		<section class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive thumbnail"/>
				<h3>[News title]</h3>
			</a>
			<small>YYYY-MM-DD - Type of feature</small>
			<p>Brief description of the news item.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive thumbnail"/>
				<h3>[News title]</h3>
			</a>
			<small>YYYY-MM-DD - Type of feature</small>
			<p>Brief description of the news item.</p>
		</section>
		<section class="wb-feeds limit-5 col-lg-4 pull-right">
			<h3>Latest News</h3>
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
				</li>
			</ul>
			<p class="text-right"><a href="#">All News</a></p>
		</section>
	</section>
	<section class="col-md-8">
		<h2>Topics</h2>
		<div class="row wb-eqht">
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Topic hyperlink text]</a></h3>
				<p>Listing of the information and services found on the topic page. No prose!</p>
			</section>
		</div>
		<p class="text-right"><a href="#">All topics</a></p>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Most requested services and information</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Policies, acts and regulations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Policy 1]</a></li>
				<li><a href="#">[Act 1 with a long heading]</a></li>
				<li><a href="#">[Regulation 1 with a long heading]</a></li>
				<li><a href="#">[Policy 2]</a></li>
			</ul>
			<p><a href="#">All related policies, acts and regulations</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 with a long heading]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p><a href="#">All related publications</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 with a long heading]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p><a href="#">All related consultations</a></p>
		</section>
	</div>
</section>
{{>deptfeatures}}
<section>
	<h2>Corporate Information</h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Mandate</a></li>
				<li><a href="#">Organizational Chart</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Partners</a></li>
				<li><a href="#">Transparency</a></li>
				<li><a href="#">Job Opportunities</a></li>
				<li><a href="#">Contact information</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/silhouette.png" alt="" class="img-responsive thumbnail"/>
							<figcaption>Horable XXXX YYYY</figcaption>
						</figure>
					</a>
					<p>Title</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/silhouette.png" alt="" class="img-responsive thumbnail"/>
							<figcaption>Horable XXXX YYYY 2</figcaption>
						</figure>
					</a>
					<p>Title</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/silhouette.png" alt="" class="img-responsive thumbnail"/>
							<figcaption>Horable XXXX YYYY 3</figcaption>
						</figure>
					</a>
					<p>Title</p>
				</div>
			</div>
		</div>
	</div>
</section>
