---
{
	"title": "[Nom de l’institution]",
	"language": "fr",
	"altLangPrefix": "institution",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Ministères et organismes", "link": "http://www.canada.ca/fr/gouv/min/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true"
}
---
<p class="pagetag">1 ou 2 phrases d’introduction qui définissent le mandat de l’institution. Possibilité de fournir des liens relatifs aux portfolios et partenariats du GC.</p>
{{>follow}}
<section>
	<h2>Nouveautés</h2>
	<div class="gc-nws row">
		<section class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<h3 class="h5">[Titre de la nouvelle]</h3>
			</a>
			<small>YYYY-MM-DD - Type de nouvelle</small>
			<p>Brève description des nouvelles.</p>
		</section>
		<section class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<h3 class="h5">[Titre de la nouvelle]</h3>
			</a>
			<small>YYYY-MM-DD - Type de nouvelle</small>
			<p>Brève description des nouvelles.</p>
		</section>
		<div class="wb-feeds limit-3 col-lg-4 pull-right">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-fr.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Nouvelles du Gouvernement du Canada </a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les nouvelles</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<section class="col-md-8">
		<h2>Sujets</h2>
		<div class="row">
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien de la tâche courante du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
		</div>
		<p class="text-right"><strong><a href="#">Tous les sujets</a></strong></p>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Services et renseignements les plus demandés</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Politiques, lois et règlements</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Politiques 1]</a></li>
				<li><a href="#">[Lois 1 avec un long titre]</a></li>
				<li><a href="#">[Règlements 1 avec un long titre]</a></li>
				<li><a href="#">[Politiques 2]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Tous politiques, lois et règlements</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 avec un long titre]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les publications liées</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 avec un long titre]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les consultations liées</a></strong></p>
		</section>
	</div>
</section>
{{>deptfeatures}}
<section>
	<h2>Renseignements sur l’organisation</h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Mandat</a></li>
				<li><a href="#">Structure organisationnelle</a></li>
				<li><a href="#">Portefeuille</a></li>
				<li><a href="#">Partenaires</a></li>
				<li><a href="#">Transparence</a></li>
				<li><a href="#">Offres d'emploi</a></li>
				<li><a href="#">Contactez-nous</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>L’honorable [prénom et nom du ministre 1]</figcaption>
						</figure>
					</a>
					<p>Titre officiel du ministre</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>L’honorable [prénom et nom du ministre 2]</figcaption>
						</figure>
					</a>
					<p>Titre officiel du ministre</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>L’honorable [prénom et nom du ministre 3]</figcaption>
						</figure>
					</a>
					<p>Titre officiel du ministre</p>
				</div>
			</div>
		</div>
	</div>
</section>
