---
{
	"title": "[Institution Name]",
	"language": "en",
	"altLangPrefix": "institution-arms",
	"pageType": "institution",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "Departments & agencies", "link": "http://www.canada.ca/en/gov/dept/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true",
	"armslength": true
}
---

<div class="row">
	<div class="col-sm-5 col-xs-8 pull-right gc-rms-lngth">
		<img class="img-responsive" alt="{{{i18n "arms-image-alt"}}}" src="{{assets}}/../{{site.theme}}/assets/sig-blk-{{language}}.png" />
	</div>
	<div class="col-sm-7 col-xs-12 pull-left">
		<p>We are a federal institution that is part of the <a href="#">[portfolio name] portfolio</a>. We operate at arm’s length from the Government of Canada.</p>
		<p class="pagetag">[Institution name] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
	</div>
	<div class="clr-rght-sm clr-rght-md clr-rght-lg"></div>
	<div class="col-sm-5 col-xs-8 pull-right">
		{{>follow}}
	</div>
</div>
{{>institution-alert}}
<section>
	<h2>Latest</h2>
	<div class="gc-nws row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<a href="#">
						<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
						<p>[News title]</p>
					</a>
					<small>[YYYY-MM-DD hh:mm] - Type of news product</small>
					<p>Brief description of the news item.</p>
				</div>
				<div class="col-md-6">
					<a href="#">
						<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
						<p>[News title]</p>
					</a>
					<small>[YYYY-MM-DD hh:mm] - Type of news product</small>
					<p>Brief description of the news item.</p>
				</div>
			</div>
		</div>
		<div class="wb-feeds limit-3 col-md-4">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">All news</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<div class="col-md-4 mrgn-tp-lg pull-right">
		{{>most-requested}}
	</div>
	<section class="col-md-8 pull-left mrgn-bttm-lg">
		<h2>Services and information</h2>
		<div class="row">
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="col-md-6">
				{{>task}}
			</div>
			<div class="clearfix"></div>
			<details class="mrgn-tp-md brdr-0">
				<summary class="btn btn-default text-center">Show more services and information</summary>
				<div class="row">
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="col-md-6">
						{{>task}}
					</div>
					<div class="clearfix"></div>
				</div>
			</details>
		</div>
	</section>
	<div class="clr-rght-md clr-rght-lg"></div>
	<div class="pull-right col-md-4">
		{{>contact-us}}
		{{>more-info}}
	</div>
</div>
<section class="whtwedo">
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			{{>law-regulations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>publications}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>consultations}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>open-data}}
		</section>
		<section class="col-lg-4 col-md-6">
			{{>statistics}}
		</section>
	</div>
</section>
{{>deptfeatures}}
{{>corp-info}}
