---
{
	"title": "[Institution Name]",
	"language": "en",
	"altLangPrefix": "institution",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "Departments & agencies", "link": "http://www.canada.ca/en/gov/dept/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-9">
		<p class="pagetag">[Institution name] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
		<p>We are a federal institution that [leads/is part of] the <a href="#">[portfolio name] portfolio</a> and works with its <a href="#">partners</a>.</p>
	</div>
</div>
<section class="alert alert-info">
	<h2 class="h3">We are in the process of moving our services and information to Canada.ca.</h2>
	<p>Our current <a href="#">[insert institution name] website</a> will remain available until the move to Canada.ca is complete.</p>
</section>
{{>follow}}
<section>
	<h2>Latest</h2>
	<div class="gc-nws row">
		<div class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<p>[News title]</p>
			</a>
			<small>[YYYY-MM-DD hh:mm] - Type of news product</small>
			<p>Brief description of the news item.</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<p>[News title]</p>
			</a>
			<small>[YYYY-MM-DD hh:mm] - Type of news product</small>
			<p>Brief description of the news item.</p>
		</div>
		<div class="wb-feeds limit-3 col-lg-4 pull-right">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">All news</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<section class="col-md-8">
		<h2>Our services and information</h2>		
			<section>
				<h3 class="h5"><a href="#">[Top task hyperlink tex]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the topic page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<section>
				<h3 class="h5"><a href="#">[Top task hyperlink tex]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the topic page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>			
			<section>
				<h3 class="h5"><a href="#">[Top task hyperlink tex]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the topic page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>
			<section>
				<h3 class="h5"><a href="#">[Top task hyperlink tex]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the topic page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>			
			<section>
				<h3 class="h5"><a href="#">[Top task hyperlink tex]</a></h3>
				<p>Summary of the information or tasks that can be accomplished on the topic page. Remove prose or promotional messaging. Use action verbs.</p>
			</section>					
		<p class="text-right"><strong><a href="#">All of our services and information</a></strong></p>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Topics</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
			</ul>
		</div>
		<div class="well">
			<h2 class="mrgn-tp-0">More information for</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Audience hyperlink text]</a></li>
				<li><a href="#">[Audience hyperlink text]</a></li>
				<li><a href="#">[Audience hyperlink text - double line hyperlink]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Laws and regulations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Regulation 1]</a></li>
				<li><a href="#">[Law 1 with a long heading]</a></li>
				<li><a href="#">[Regulation 2 with a long heading]</a></li>
				<li><a href="#">[Regulation 3]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related laws and regulations</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 with a long heading]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related publications</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 with a long heading]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related consultations</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Open data</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Open data 1]</a></li>
				<li><a href="#">[Open data 2 with a long heading]</a></li>
				<li><a href="#">[Open data 3]</a></li>
				<li><a href="#">[Open data 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related open data</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Statistics</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Statistic 1]</a></li>
				<li><a href="#">[Statistic 2 with a long heading]</a></li>
				<li><a href="#">[Statistic 3]</a></li>
				<li><a href="#">[Statistic 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related statistics</a></strong></p>
		</section>
	</div>
</section>
{{>deptfeatures}}
<section>
	<h2>Corporate information</h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Mandate</a></li>
				<li><a href="#">Programs</a></li>
				<li><a href="#">Organizational structure</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Partners</a></li>
				<li><a href="#">Transparency</a></li>
				<li><a href="#">Job opportunities</a></li>
				<li><a href="#">Contact information</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Honorable (first and last name of Minister)]</figcaption>
						</figure>
					</a>
					<p>Minister’s official title</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Honorable (first and last name of Minister)]</figcaption>
						</figure>
					</a>
					<p>Minister’s official title</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Honorable (first and last name of Minister)]</figcaption>
						</figure>
					</a>
					<p>Minister’s official title</p>
				</div>
			</div>
		</div>
	</div>
</section>
