---
{
	"title": "[Nom de l’institution]",
	"language": "fr",
	"altLangPrefix": "institution-carousel",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Ministères et organismes", "link": "http://www.canada.ca/fr/gouv/min/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true"
}
---
<div class="row">
	<div class="col-sm-4 col-xs-8 col-sm-push-8 mrgn-bttm-lg">
		<object data="{{assets}}/assets/sig-blk-{{language}}.svg" tabindex="-1" type="image/svg+xml"></object>
		<span class="wb-inv"> Gouvernement du Canada</span>
	</div>
	<div class="col-sm-8 col-xs-12 col-sm-pull-4">
		<p class="pagetag">1 ou 2 phrases d’introduction qui définissent le mandat de l’institution. Possibilité de fournir  des liens relatifs aux portfolios et partenariats du GC. «&nbsp;{{{title}}} est un institution fédérale qui fait partie du portfolio nnn et collabore avec ses partenaires.&nbsp;»</p>
		<p>{{{title}}} est une institution fédérale qui mène / fait partie du <a href="#">portefeuille de xxx</a>, et travaille avec <a href="#">ses partenaires</a>.</p>
		<section class="followus mrgn-bttm-md">
			<h2>Suivez&nbsp;:</h2>
			<ul>
				<li><a href="#" class="youtube"><span class="wb-inv">YouTube</span></a></li>
				<li><a href="#" class="twitter"><span class="wb-inv">Twitter</span></a></li>
				<li><a href="#" class="flickr"><span class="wb-inv">Flickr</span></a></li>
				<li><a href="#" class="facebook"><span class="wb-inv">Facebook</span></a></li>
				<li><a href="#" class="foursquare"><span class="wb-inv">Foursquare</span></a></li>
			</ul>
		</section>
	</div>
</div>
<div class="row">
	<section class="gc-nws">
		<h2 class="wb-inv">Nouvelles</h2>
		<section class="col-md-8">
			<h3 class="wb-inv">Promotions</h3>
			<div class="wb-tabs carousel-s2 playing" data-speed="slow">
				<ul role="tablist">
					<li class="active">
						<a href="#tab1" title="Tab 1: [Nouvelles titre]"><img src="{{assets}}/img/cars.jpg" alt=""/></a>
					</li>
					<li>
						<a href="#tab2" title="Tab 2: [Nouvelles titre]"><img src="{{assets}}/img/sports.jpg" alt=""/></a>
					</li>
				</ul>
				<div role="tabpanel" id="tab1" class="in fade">
					<figure>
						<img src="{{assets}}/img/cars.jpg" alt=""/>
						<figcaption>
							<p><a href="#" class="learnmore">[Nouvelles titre]</a></p>
							<small>YYYY-MM-DD - Type de presse</small>
							<p>Brève description des nouvelles.</p>
						</figcaption>
					</figure>
				</div>
				<div role="tabpanel" id="tab2" class="out fade">
					<figure>
						<img src="{{assets}}/img/sports.jpg" alt=""/>
						<figcaption>
							<p><a href="#" class="learnmore">[Nouvelles titre]</a></p>
							<small>YYYY-MM-DD - Type de presse</small>
							<p>Brève description des nouvelles.</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</section>
		<section class="wb-feeds limit-5 col-lg-4 pull-right">
			<h3>Dernières nouvelles</h3>
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-fr.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Nouvelles du Gouvernement du Canada </a>
				</li>
			</ul>
			<p class="text-right"><a href="#">Toutes les nouvelles</a></p>
		</section>
	</section>
	<section class="col-md-8">
		<h2>Sujets</h2>
		<div class="row">
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte du lien hypertexte pour le sujet]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
		</div>
		<p class="text-right"><a href="#">Tous les sujets</a></p>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Services et renseignements les plus demandés</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
				<li><a href="#">[Texte du lien hypertexte du tâche courante]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Politiques, lois et règlements</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Politiques 1]</a></li>
				<li><a href="#">[Lois 1 avec un long titre]</a></li>
				<li><a href="#">[Règlements 1 avec un long titre]</a></li>
				<li><a href="#">[Politiques 2]</a></li>
			</ul>
			<p><a href="#">Tous politiques, lois et règlements</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 avec un long titre]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p><a href="#">Toutes les publications liées</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 avec un long titre]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p><a href="#">Toutes les consultations liées</a></p>
		</section>
	</div>
</section>
{{>deptfeatures}}
<section>
	<h2>Renseignements sur l’organisation</h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Mandat</a></li>
				<li><a href="#">Organigramme</a></li>
				<li><a href="#">Portefeuille</a></li>
				<li><a href="#">Partenaires</a></li>
				<li><a href="#">Transparence</a></li>
				<li><a href="#">Offres d'emploi</a></li>
				<li><a href="#">Coordonnées</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/silhouette.png" alt="" class="img-responsive thumbnail"/>
							<figcaption>L’honorable XXXX YYYY</figcaption>
						</figure>
					</a>
					<p>Titre</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/silhouette.png" alt="" class="img-responsive thumbnail"/>
							<figcaption>L’honorable XXXX YYYY 2</figcaption>
						</figure>
					</a>
					<p>Titre</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/silhouette.png" alt="" class="img-responsive thumbnail"/>
							<figcaption>L’honorable XXXX YYYY 3</figcaption>
						</figure>
					</a>
					<p>Titre</p>
				</div>
			</div>
		</div>
	</div>
</section>
