---
{
	"title": "The Honourable [Minister name] MP",
	"language": "en",
	"altLangPrefix": "ministerial",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "Government of Canada Ministers", "link": "#" }
	],
	"dateModified": "2014-10-23",
	"share": "false"
}
---
<div class="row">
	<div class="col-sm-9">
		<section>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum impedit beatae, itaque minima nulla commodi. Reprehenderit recusandae consectetur quod maxime modi possimus alias aliquam, reiciendis assumenda odit non fuga suscipit. Autem mollitia veritatis natus, minus fuga optio, consequuntur labore perspiciatis maiores ab repellat odio quos laudantium beatae, maxime necessitatibus officiis voluptates sint repellendus eveniet illum quas accusamus placeat. Rem debitis eum nostrum cupiditate ea dolores rerum quisquam repellat voluptatibus! Laboriosam, perferendis, dolor. Illo consequuntur perferendis, quas, dicta ea amet.</p>
		</section>
		<section>
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, explicabo reiciendis, consequatur magni provident vel cum eaque quibusdam modi dicta repudiandae saepe iure laudantium molestiae consequuntur quaerat culpa dolorem dolorum eius? Reprehenderit dolor ex beatae eligendi provident ut aliquam corporis?</p>
		</section>
		<section>
			<h2>Lorem ipsum dolor sit amet, consectetur.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ex commodi autem laudantium aliquam id, voluptate possimus quod illo velit vero, at dolorum sequi ipsam culpa fugit, molestias quaerat vitae.</p>
		</section>
		<section>
			<h2>Lorem ipsum dolor sit.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eveniet cupiditate quisquam? Omnis labore, sint.</p>
		</section>
	</div>
	<div class="col-sm-3">
		<p><img src="{{assets}}/img/265x352.png" alt="" class="img-responsive"></p>
		<p><strong>Minister of <a href="#">[Portfolio #1 name]</a></strong></p>
		<p><strong>Minister of <a href="#">[Portfolio #2 name]</a></strong></p>
		<p>Represents the riding of <a href="#">[riding name]</a></p>
		<h2 class="h5">Contact information</h2>
		<p>[<a href="mailto:">fist.last@canada.ca</a>]<br />
		House of Commons<br />
		Ottawa, Ontario<br />
		K1A 0A6<br />
		Telephone: 613-941-6300<br />
		Fax: 613-941-2421</p>
	</div>
</div>
<div class="row">
	<section class="gc-nws col-md-12">
		<h2>Recent announcements</h2>
		<div class="row">
			<section class="col-md-6">
				<a href="#"><figure>
					<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive"/>
					<figcaption><h3 class="h5">[News title]</h3></figcaption>
				</figure></a>
				<small>2014-01-01 - Type of news product</small>
				<p>Brief description of the news item.</p>
			</section>
			<section class="col-md-6 pull-right">
				<ul class="list-unstyled lst-spcd">
					<li>
						<a href="#">[Title of announcement made by the Minister, URL embedded]</a><br />
						<small class="feeds-date"><time>2014-01-01</time> - Type of news product</small>
					</li>
					<li>
						<a href="#">[Title of announcement made by the Minister, URL embedded]</a><br />
						<small class="feeds-date"><time>2014-01-01</time> - Type of news product</small>
					</li>
					<li>
						<a href="#">[Title of announcement made by the Minister, URL embedded]</a><br />
						<small class="feeds-date"><time>2014-01-01</time> - Type of news product</small>
					</li>
					<li>
						<a href="#">[Title of announcement made by the Minister, URL embedded]</a><br />
						<small class="feeds-date"><time>2014-01-01</time> - Type of news product</small>
					</li>
				</ul>
				<p class="text-right"><a href="#">All News</a></p>
			</section>
		</div>
	</section>
</div>
<div class="clearfix"></div>
<section>
	<h2>Recent activities</h2>
	<div class="row">
		<section class="col-sm-4">
			<h3>Initiatives</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Initiatives 1]</a></li>
				<li><a href="#">[Initiatives 2 with longer text to wrap]</a></li>
				<li><a href="#">[Initiatives 3]</a></li>
				<li><a href="#">[Initiatives 4 with longer text to wrap]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Speeches</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Speech 1]</a></li>
				<li><a href="#">[Speech 2 with longer text to wrap]</a></li>
				<li><a href="#">[Speech 3]</a></li>
				<li><a href="#">[Speech 4 with longer text to wrap]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Media advisories</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Media advisory 1]</a></li>
				<li><a href="#">[Media advisory 2 with longer text to wrap]</a></li>
				<li><a href="#">[Media advisory 3]</a></li>
				<li><a href="#">[Media advisory 4 with longer text to wrap]</a></li>
			</ul>
		</section>
	</div>
</section>
<section>
	<h2>Gallery</h2>
	<div class="row">
		<a href="#"><figure class="col-lg-4 col-md-6 mrgn-bttm-lg">
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
		</figure></a>
		<a href="#"><figure class="col-lg-4 col-md-6 mrgn-bttm-lg">
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
		</figure></a>
		<a href="#"><figure class="col-lg-4 col-md-6 mrgn-bttm-lg">
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
		</figure></a>
	</div>
	<p class="text-right mrgn-tp-lg"><a href="#">All photos and videos</a></p>
</section>
<div class="clearfix"></div>
