---
{
	"title": "L’honorable [nom du ministre], député",
	"language": "fr",
	"altLangPrefix": "ministerial",
	"breadcrumb": [
		{ "title": "Accueil", "link": "https://www.canada.ca/fr.html" },
		{ "title": "Ministres du gouvernement du Canada", "link": "#" }
	],
	"dateModified": "2015-02-18",
	"share": "true"
}
---
<div class="row">
	<div class="col-sm-9">
		<section>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum impedit beatae, itaque minima nulla commodi. Reprehenderit recusandae consectetur quod maxime modi possimus alias aliquam, reiciendis assumenda odit non fuga suscipit. Autem mollitia veritatis natus, minus fuga optio, consequuntur labore perspiciatis maiores ab repellat odio quos laudantium beatae, maxime necessitatibus officiis voluptates sint repellendus eveniet illum quas accusamus placeat. Rem debitis eum nostrum cupiditate ea dolores rerum quisquam repellat voluptatibus! Laboriosam, perferendis, dolor. Illo consequuntur perferendis, quas, dicta ea amet.</p>
		</section>
		<section>
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, explicabo reiciendis, consequatur magni provident vel cum eaque quibusdam modi dicta repudiandae saepe iure laudantium molestiae consequuntur quaerat culpa dolorem dolorum eius? Reprehenderit dolor ex beatae eligendi provident ut aliquam corporis?</p>
		</section>
		<section>
			<h2>Lorem ipsum dolor sit amet, consectetur.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet ducimus nihil, voluptate quibusdam? Excepturi in aspernatur rem ipsam aperiam voluptates fugit officiis culpa, ratione, et maxime impedit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ex commodi autem laudantium aliquam id, voluptate possimus quod illo velit vero, at dolorum sequi ipsam culpa fugit, molestias quaerat vitae.</p>
		</section>
		<section>
			<h2>Lorem ipsum dolor sit.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eveniet cupiditate quisquam? Omnis labore, sint.</p>
		</section>
		<section class="gc-nws">
			<h2>Annonces récentes</h2>
			<div class="row">
				<div class="col-md-6">
					<a href="#">
						<img src="{{assets}}/img/360x203.png" alt="" class="thumbnail img-responsive"/>
						<p>[Titre de la nouvelle]</p>
					</a>
					<small><time>2014-01-01 08:45</time> - Type of news product</small>
					<p>Brief description of the news item.</p>
				</div>
				<div class="col-md-6 pull-right">
					<ul class="list-unstyled lst-spcd">
						<li>
							<a href="#">[Titre de l’annonce faite par le ministre, contenant une adresse URL]</a><br />
							<small class="feeds-date"><time>2014-01-01 08:45</time> - Type de produit d’information</small>
						</li>
						<li>
							<a href="#">[Titre de l’annonce faite par le ministre, contenant une adresse URL]</a><br />
							<small class="feeds-date"><time>2014-01-01 08:45</time> - Type de produit d’information</small>
						</li>
						<li>
							<a href="#">[Titre de l’annonce faite par le ministre, contenant une adresse URL]</a><br />
							<small class="feeds-date"><time>2014-01-01 08:45</time> - Type de produit d’information</small>
						</li>
						<li>
							<a href="#">[Titre de l’annonce faite par le ministre, contenant une adresse URL]</a><br />
							<small class="feeds-date"><time>2014-01-01 08:45</time> - Type de produit d’information</small>
						</li>
					</ul>
					<p class="text-right"><strong><a href="#">Toutes les nouvelles</a></strong></p>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-3">
		<p><img src="{{assets}}/img/265x352.png" alt="" class="img-responsive"></p>
		<p><strong>Ministre de <a href="#">[nom du portefeuille no1]</a></strong></p>
		<p><strong>Ministre de <a href="#">[nom du portefeuille no2]</a></strong></p>
		<p>Représente la circonscription de <a href="#">[nom de la circonscription]</a></p>
		<section>
			<h2 class="h5">Coordonnées</h2>
			<p>[<a href="mailto:">prénom.nom@canada.ca</a>]<br />
			Chambre des communes<br />
			Ottawa (Ontario)<br />
			K1A 0A6<br />
			Téléphone : 123-456-7890<br />
			Télécopieur : 123-456-7890</p>
		</section>
	</div>
</div>
<div class="clearfix"></div>
<section>
	<h2>Activités récentes</h2>
	<div class="row">
		<section class="col-sm-4">
			<h3>Initiatives</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Initiatives 1]</a></li>
				<li><a href="#">[Initiatives 2 contenant un texte plus long à insérer]</a></li>
				<li><a href="#">[Initiatives 3]</a></li>
				<li><a href="#">[Initiatives 4 contenant un texte plus long à insérer]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Discours</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Discours 1]</a></li>
				<li><a href="#">[Discours 2 contenant un texte plus long à insérer]</a></li>
				<li><a href="#">[Discours 3]</a></li>
				<li><a href="#">[Discours 4 contenant un texte plus long à insérer]</a></li>
			</ul>
		</section>
		<section class="col-sm-4">
			<h3>Avis aux médias</h3>
			<ul class="lst-spcd">
				<li><a href="#">[Avis aux médias 1]</a></li>
				<li><a href="#">[Avis aux médias 2 contenant un texte plus long à insérer]</a></li>
				<li><a href="#">[Avis aux médias 3]</a></li>
				<li><a href="#">[Avis aux médias 4 contenant un texte plus long à insérer]</a></li>
			</ul>
		</section>
	</div>
</section>
<section>
	<h2>Galerie</h2>
	<div class="row">
		<a href="#"><figure class="col-lg-4 col-md-6 mrgn-bttm-lg">
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
		</figure></a>
		<a href="#"><figure class="col-lg-4 col-md-6 mrgn-bttm-lg">
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
		</figure></a>
		<a href="#"><figure class="col-lg-4 col-md-6 mrgn-bttm-lg">
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, fugiat!</figcaption>
		</figure></a>
	</div>
	<p class="text-right"><strong><a href="#">Toutes les photos et vidéos</a></strong></p>
</section>
<div class="clearfix"></div>