---
{
	"title": "[Nom de l’organisme]",
	"language": "fr",
	"altLangPrefix": "organizational",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Ministères et organismes", "link": "http://www.canada.ca/fr/gouv/min/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-9">
		<p class="pagetag">[Nom de l'organisme] fait partie du <a href="institution-fr.html">[ministère d'attache]</a> lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
		<p>Nous sommes un organisme fédéral qui [mène/participe] dans <a href="#">le portefeuille [nom du portefeuille]</a> et qui travaille avec <a href="#">ses partenaires</a>. </p>
	</div>
</div>
{{>follow}}
<section>
	<h2>Nouveautés</h2>
	<div class="gc-nws row">
		<div class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<p>[Titre de l’article]</p>
			</a>
			<small>[YYYY-MM-DD hh:mm] - Type de produit médiatique</small>
			<p>Brève description des nouvelles.</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<p>[Titre de l’article]</p>
			</a>
			<small>[YYYY-MM-DD hh:mm] - Type de produit médiatique</small>
			<p>Brève description des nouvelles.</p>
		</div>
		<div class="wb-feeds limit-3 col-lg-4 pull-right">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-fr.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Nouvelles du Gouvernement du Canada </a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les nouvelles</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<section class="col-md-8">
		<h2>Nos services et renseignements</h2>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, praesentium est eius. Non, id. Totam ea saepe ipsa!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis debitis, deserunt, temporibus rem saepe eligendi maxime nobis alias!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, accusamus perferendis quia est sequi architecto illum ad laborum!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro officiis voluptatibus reiciendis accusamus illum, consequuntur aliquam, animi dignissimos.</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugit eligendi, quasi quia tenetur cum maiores. Voluptate, provident?</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui itaque nemo fuga officiis minima ducimus commodi eos tempora?</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius neque enim cum, facilis aut maiores quibusdam, ipsa quas?</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Lien à une principale tâche]</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum perspiciatis ipsum non architecto nisi debitis omnis nam dolore!</p>
		</section>
		<p class="text-right"><strong><a href="#">Tous nos services et renseignements </a></strong></p>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Sujets</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
				<li><a href="#">[Lien à un sujet ou sous-sujet]</a></li>
			</ul>
		</div>
		<div class="well">
			<h2 class="mrgn-tp-0">Autres renseignements pour les</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Lien à un sujet pour une auditoire ciblée]</a></li>
				<li><a href="#">[Lien à un sujet pour une auditoire ciblée]</a></li>
				<li><a href="#">[Lien à un sujet pour une auditoire ciblée]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>Ce que nous faisons</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Lois et règlements</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Règlement 1]</a></li>
				<li><a href="#">[Lois 1 avec un long titre]</a></li>
				<li><a href="#">[Règlement 2 avec un long titre]</a></li>
				<li><a href="#">[Règlement 3]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les lois et règlements connexes</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 avec un long titre]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les publications connexes</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 avec un long titre]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 avec un long titre... et plus...]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">Toutes les consultations connexes</a></strong></p>
		</section>
	</div>
</section>
{{>deptfeatures}}
<section>
	<h2>Information organisationnelle</h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Mandat</a></li>
				<li><a href="#">Programmes</a></li>
				<li><a href="#">Structure organisationnelle</a></li>
				<li><a href="#">Possibilités d’emplois</a></li>
				<li><a href="#">Contactez-nous </a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Président]</figcaption>
						</figure>
					</a>
					<p>Chef de l’organisme</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Président]</figcaption>
						</figure>
					</a>
					<p>Chef de l’organisme</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Président]</figcaption>
						</figure>
					</a>
					<p>Chef de l’organisme</p>
				</div>
			</div>
		</div>
	</div>
</section>
