---
{
	"title": "[Organization Name]",
	"language": "en",
	"altLangPrefix": "organizational",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "Departments & agencies", "link": "http://www.canada.ca/en/gov/dept/index.html" }
	],
	"dateModified": "2015-01-24",
	"share": "true"
}
---
<div class="row">
	<div class="col-md-9">
		<p class="pagetag">[Organization name] is a part of <a href="institution-en.html">[parent department]</a> lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis massa sed libero eleifend, ac iaculis urna tempor.</p>
		<p>We are a federal institution that [leads/is part of] the <a href="#">[portfolio name] portfolio</a> and works with its <a href="#">partners</a>.</p>
	</div>
</div>
{{>follow}}
<section>
	<h2>Latest</h2>
	<div class="gc-nws row">
		<div class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<p>[News title]</p>
			</a>
			<small>[YYYY-MM-DD hh:mm] - Type of feature</small>
			<p>Brief description of the news item.</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<a href="#">
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail"/>
				<p>[News title]</p>
			</a>
			<small>[YYYY-MM-DD hh:mm] - Type of feature</small>
			<p>Brief description of the news item.</p>
		</div>
		<div class="wb-feeds limit-3 col-lg-4 pull-right">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
				</li>
			</ul>
			<p class="text-right"><strong><a href="#">All news</a></strong></p>
		</div>
	</div>
</section>
<div class="row">
	<section class="col-md-8">
		<h2>Our services and information</h2>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<section>
			<h3 class="h5"><a href="#">[Destination hyperlink text]</a></h3>
			<p>Listing of the information and services found on the topic page. No prose!</p>
		</section>
		<p class="text-right"><strong><a href="#">All our services and information</a></strong></p>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Topics</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Topic/subtopic hyperlink text]</a></li>
			</ul>
		</div>
		<div class="well">
			<h2 class="mrgn-tp-0">More information for</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Audience hyperlink text]</a></li>
				<li><a href="#">[Audience hyperlink text]</a></li>
				<li><a href="#">[Audience hyperlink text - double line hyperlink]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Laws and regulations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Regulation 1]</a></li>
				<li><a href="#">[Law 1 with a long heading]</a></li>
				<li><a href="#">[Regulation 2 with a long heading]</a></li>
				<li><a href="#">[Regulation 3]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related laws and regulations</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 with a long heading]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related publications</a></strong></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 with a long heading]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="text-right"><strong><a href="#">All related consultations</a></strong></p>
		</section>
	</div>
</section>
{{>deptfeatures}}
<section>
	<h2>Corporate information</h2>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Mandate</a></li>
				<li><a href="#">Programs</a></li>
				<li><a href="#">Organizational structure</a></li>
				<li><a href="#">Job opportunities</a></li>
				<li><a href="#">Contact information</a></li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Chairperson]</figcaption>
						</figure>
					</a>
					<p>Organization head</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Chairperson]</figcaption>
						</figure>
					</a>
					<p>Organization head</p>
				</div>
				<div class="col-md-4">
					<a href="#">
						<figure>
							<img src="{{assets}}/img/218x291.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
							<figcaption>[Chairperson]</figcaption>
						</figure>
					</a>
					<p>Organization head</p>
				</div>
			</div>
		</div>
	</div>
</section>
