---
{
"title": "Emplois et milieu de travail",
"language": "fr",
"isEnglish": false,
"pageclass": "secondary",
"alternate": "second-en.html",
"alternatetog": "English",
"altlang": "en",
"breadcrumb":[
{ "title": "Accueil", "link": "index-fr.html" },
{ "title": "Tous les services", "link": "/fr/services/index.html" }
]
}
---
<div class="row profile">
<div class="col-md-6 col-sm-12">
<h1 id="wb-cont">{{title}}</h1>
<p class="pagetag">Trouvez un emploi, explorez les compétences et les possibilités de formation, faites des choix de carrière, planifiez votre retraite et présentez une demande d’aide financière temporaire.</p>
<p class="btn btn-default followus">Follow: <a href="#" class="youtube"><span class="glyphicon glyphicon-play"></span><i class="wb-inv">Youtube</i></a> <a href="#" class="twitter"><span class="icon"></span><i class="wb-inv">Twitter</i></a></p>
</div>
<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
<img src="{{assets}}/img/business.jpg" alt="" class="pull-right img-responsive thumbnail">
</div>
</div>
<div class="wb-equalheight">
<section class="sect-lnks">
<h2><a href="/fr/services/emplois/trouver.html">Trouver un emploi</a></h2>
<p>Trouver des possibilités d'emploi et des programmes d'embauche dans les secteurs public et privé, demander ou prolonger un permis de travail, obtenir un numéro d'assurance sociale, une vérification du casier judiciaire ou une vérification de sécurité.</p>
</section>
<section class="sect-lnks">
<h2><a href="http://www.travailleraucanada.gc.ca/profession_recherche-fra.do?lang=fra" rel="external">Explorer des carrières</a></h2>
<p>Explorer les options de carrière et parcourir les professions selon les emplois offerts dans chaque ville canadienne et en savoir plus sur les moyennes de salaire et les exigences en matière d'emploi.</p>
</section>
<section class="sect-lnks">
<h2><a href="/fr/services/emplois/formation.html">Formation</a></h2>
<p>Renseignements sur l'éducation, la formation, l'aide financière et les compétences nécessaires pour trouver et conserver un emploi.</p>
</section>
<section class="sect-lnks">
<h2><a href="http://www.travailleraucanada.gc.ca/pieces_jointes-fra.do?cid=3264&amp;lang=fra" rel="external">Pour les employeurs</a></h2>
<p>Renseignements et outils sur le recrutement, l'embauche, la formation et le maintien en poste de travailleurs ainsi que la façon d'annoncer les possibilités d'emploi.</p>
</section>
<section class="sect-lnks">
<h2><a href="http://www.entreprisescanada.ca/fra/page/2856/" rel="external">Travail indépendant</a></h2>
<p>Information et outils pour aider au démarrage d'une entreprise – comment donner un nom à une entreprise, l'enregistrer et en assurer le financement, embaucher et payer des employés.</p>
</section>
<section class="sect-lnks">
<h2><a href="/fr/services/emplois/travail.html">Normes en milieu de travail</a></h2>
<p>Renseignements sur les lois du travail à l'échelle fédérale et provinciale et les normes relatives en milieu de travail. Comprend les normes fédérales de santé et de sécurité et les programmes sur les relations de travail.</p>
</section>
<section class="sect-lnks">
<h2><a href="/fr/services/emplois/pensions.html">Pension et retraite</a></h2>
<p>Renseignements sur les régimes de pension individuelle et d'employeur, les prestations fédérales, les régimes enregistrés d'épargne-retraite et les outils de planification de la retraite.</p>
</section>
<section class="sect-lnks">
<h2><a href="/fr/services/prestations/assurance.html">Assurance-emploi</a></h2>
<p>Information sur l'assurance-emploi et les programmes connexes. Comprend des renseignements sur la façon de présenter une demande de prestation en ligne ou un rapport ainsi que les étapes que doit suivre un employeur pour soumettre un relevé d'emploi.</p>
</section>
</div>
<div class="wb-equalheight priorities">
<section class="sect-lnks thumbnail">
<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive" />
<div class="caption">
<h2><a href="http://www.travailleraucanada.gc.ca/alerte_emplois.do?lang=fra">Abonnez-vous à Alerte-Emploi</a></h2>
<p>Alerte-Emploi est un service de courriel gratuit qui vous informe des emplois locaux qui correspondent à vos compétences.</p>
</div>
</section>
<section class="sect-lnks thumbnail">
<img src="{{assets}}/img/abstract.jpg" alt="" class="img-responsive" />
<div class="caption">
<h2><a href="http://www.catsa-acsta.gc.ca/page.aspx?id=4&amp;pname=Whattopack_Faitesvosbagages&amp;lang=fr">Vous voyagez bientôt en avion?</a></h2>
<p>Avant de prendre l’avion, renseignez-vous sur ce que vous pouvez mettre dans vos bagages afin d’être prêt pour le contrôle de sécurité.</p>
</div>
</section>
<section class="sect-lnks thumbnail">
<img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive" />
<div class="caption">
<h2><a href="http://www.ppt.gc.ca/info/form.aspx?lang=fra">Vous voyagez à l’étranger?</a></h2>
<p>Vous trouverez ici les plus récents formulaires de demande de passeport en ligne. Vous n’avez qu’à les remplir, à les imprimer et à les envoyer!</p>
</div>
</section>
</div>
{{>datemodified-share}}
