---
{
	"title": "Jobs &amp; the workplace",
	"language": "en",
	"altLangPrefix": "second",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Home", "link": "http://www.canada.ca/en/index.html" },
		{ "title": "All services", "link": "http://www.canada.ca/en/services/index.html" }
	],
	"dateModified": "2014-02-19",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-md-6 col-sm-12">
		<h1 property="name" id="wb-cont">{{title}}</h1>
		<p class="pagetag">Find work, explore skills and training, make career decisions, plan retirement and apply for temporary financial assistance.</p>
		<section class="followus">
			<h2>Follow:</h2>
			<ul>
				<li><a href="#" class="youtube"><span class="wb-inv">YouTube</span></a></li>
				<li><a href="#" class="twitter"><span class="wb-inv">Twitter</span></a></li>
				<li><a href="#" class="flickr"><span class="wb-inv">Flickr</span></a></li>
				<li><a href="#" class="facebook"><span class="wb-inv">Facebook</span></a></li>
				<li><a href="#" class="foursquare"><span class="wb-inv">Foursquare</span></a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/business.jpg" alt="" class="pull-right img-responsive thumbnail">
	</div>
</div>
<div class="wb-eqht">
	<section class="sect-lnks">
		<h2><a href="http://www.canada.ca/en/services/jobs/find.html">Find a job</a></h2>
		<p>Find public and private sector job opportunities or hiring programs, apply or extend a work permit, get a Social Insurance Number, a criminal record check or security clearance.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.workingincanada.gc.ca/occupation_search-eng.do" rel="external">Explore careers</a></h2>
		<p>Explore career options, search occupations by Canadian city to find available jobs, learn about average wages, and job requirements.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.canada.ca/en/services/jobs/training.html">Training</a></h2>
		<p>Information on education, training, financial assistance and the skills needed to find and keep a job.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.workingincanada.gc.ca/content_pieces-eng.do?cid=3264" rel="external">For employers</a></h2>
		<p>Information and tools to help find, hire, train, retain workers and includes how to advertise job openings.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.canadabusiness.ca/eng/page/2856/" rel="external">Self-employment</a></h2>
		<p>Information and tools to help you plan and start a business and, includes how to name, register and finance a business, hire and pay employees.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.canada.ca/en/services/jobs/workplace.html">Workplace standards</a></h2>
		<p>Information about federal and provincial labour laws, workplace standards, federal health and safety standards and labour relations programs.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.canada.ca/en/services/jobs/pensions.html">Pensions & retirement</a></h2>
		<p>Information about employer and personal pensions, federal benefits and registered retirement savings plans and tools to help you plan for retirement.</p>
	</section>
	<section class="sect-lnks">
		<h2><a href="http://www.canada.ca/en/services/benefits/ei.html">Employment Insurance</a></h2>
		<p>Information about the Employment Insurance (<abbr>EI</abbr>) and related programs, includes how to apply for <abbr title="Employment Insurance">EI</abbr> online, submit a report, and instructions for employers on how to submit a worker's Record of Employment.</p>
	</section>
</div>
<div class="wb-eqht priorities">
	<section class="sect-lnks thumbnail">
		<a href="http://www.workingincanada.gc.ca/job_alert.do">
			<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive" />
			<h2>Subscribe to Job Alerts</h2>
		</a>
		<p>Job Alerts is a free email service that notifies you about locally available jobs that match your skills.</p>
	</section>
	<section class="sect-lnks thumbnail">
		<a href="http://www.catsa-acsta.gc.ca/page.aspx?id=4&amp;pname=Whattopack_Faitesvosbagages&amp;lang=en">
			<img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive" />
			<h2>Getting ready for a flight?</h2>
		</a>
		<p>Before you fly, learn more about what to pack and be prepared for the security screening.</p>
	</section>
	<section class="sect-lnks thumbnail">
		<a href="http://www.ppt.gc.ca/info/form.aspx?lang=eng">
			<img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive" />
			<h2>Travelling Abroad?</h2>
		</a>
		<p>Find the latest passport application forms online. Simply fill out, print, and submit!</p>
	</section>
</div>
