---
{
	"title": "Canada.ca",
	"pageclass": "splash",
	"description-en": "The Government of Canada website is a single point of access to all programs, services, departments, ministries and organizations of the Government of Canada.",
	"description-fr": "Le site Web du gouvernement du Canada fournit un point d'accès complet à tous les programmes, services, départements, ministères et organismes du gouvernement du Canada.",
	"creator-en": "Government of Canada, Service Canada, Citizen Service Branch, Integrated Channel Management, Web Strategies and Product Management",
	"creator-fr": "Gouvernement du Canada, Service Canada, Direction générale de service aux citoyens, Gestion intégrée des modes de service, Gestion des stratégies et produits Web",
	"subject-en": "Government of Canada, services",
	"subject-fr": "Gouvernement du Canada, services",
	"language": "en",
	"section": "message",
	"dateModified": "2017-05-04"
}
---

<div class="sp-hb">
	<div class="sp-bx col-xs-12">
		<h1 property="name" class="wb-inv">{{title}}</h1>
		<div class="row">
			<div class="col-xs-11 col-md-8">
				<img src="{{assets}}/../{{site.theme}}/assets/sig-spl.svg" width="283" alt="{{{i18n "tmpl-gc-sig"}}} / {{{i18n "tmpl-gc-sig" language="fr"}}}" />
			</div>
		</div>
		<div class="row">
			<section class="col-xs-6 text-right">
				<h2 class="wb-inv">{{{i18n "tmpl-gc-sig"}}}</h2>
				<p><a href="./index-en.html" class="btn btn-primary">{{{i18n "lang-native"}}}</a></p>
			</section>
			<section class="col-xs-6" lang="fr">
				<h2 class="wb-inv">{{{i18n "tmpl-gc-sig" language="fr"}}}</h2>
				<p><a href="./index-fr.html" class="btn btn-primary">{{{i18n "lang-native" language="fr"}}}</a></p>
			</section>
		</div>
	</div>
	<div class="sp-bx-bt col-xs-12">
		<div class="row">
			<div class="col-xs-7 col-md-8">
				<a href="https://www.canada.ca/en/transparency/terms.html" class="sp-lk">{{{i18n "tmpl-terms"}}}</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="https://www.canada.ca/fr/transparence/avis.html" class="sp-lk" lang="fr">{{{i18n "tmpl-terms" language="fr"}}}</a>
			</div>
			<div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
				<img src="{{assets}}/../{{site.theme}}/assets/wmms-spl.svg" width="127" alt="{{{i18n "tmpl-gc-wmms"}}} / {{{i18n "tmpl-gc-wmms" language="fr"}}}" />
			</div>
		</div>
	</div>
</div>
