---
{
	"title": "[Thème]",
	"language": "fr",
	"altLangPrefix": "theme",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Tous les services", "link": "http://www.canada.ca/fr/services/index.html" }
	],
	"dateModified": "2014-10-24",
	"share": "true",
	"deptfeature": true
}
---
<div class="row profile">
	<div class="col-md-5 ">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">1 ou 2 phrases d’introduction qui définissent les sujets et les tâches principales (renseignements et services) qui peuvent être consultés sur cette page.</p>
		<section class="followus mrgn-bttm-md">
			<h2>Suivez&nbsp;:</h2>
			<ul>
				<li><a href="#" class="youtube"><span class="wb-inv">YouTube</span></a></li>
				<li><a href="#" class="twitter"><span class="wb-inv">Twitter</span></a></li>
				<li><a href="#" class="flickr"><span class="wb-inv">Flickr</span></a></li>
				<li><a href="#" class="facebook"><span class="wb-inv">Facebook</span></a></li>
				<li><a href="#" class="foursquare"><span class="wb-inv">Foursquare</span></a></li>
				<li><a href="#" class="pinterest"><span class="wb-inv">Pinterest</span></a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-7">
		<h2 class="wb-inv">Promotions</h2>
		<div class="wb-tabs carousel-s2 playing" data-speed="slow">
			<ul role="tablist">
				<li class="active">
					<a href="#tab1" title="Languette 1 : [Texte de l’hyperlien du sujet 1]"><img src="{{assets}}/img/promos/520x200-1.png" alt=""/></a>
				</li>
				<li>
					<a href="#tab2" title="Languette 2 : [Texte de l’hyperlien du sujet 2]"><img src="{{assets}}/img/promos/520x200-2.png" alt=""/></a>
				</li>
				<li>
					<a href="#tab3" title="Languette 3 : [Texte de l’hyperlien du sujet 3s"><img src="{{assets}}/img/promos/520x200-3.png" alt=""/></a>
				</li>
			</ul>
			<div role="tabpanel" id="tab1" class="in fade">
				<figure>
					<img src="{{assets}}/img/promos/520x200-1.png" alt=""/>
					<figcaption>
					<p>
					<a href="#" class="learnmore">[Texte de l’hyperlien du sujet 1]</a>
					</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="tab2" class="out fade">
				<figure>
					<img src="{{assets}}/img/promos/520x200-2.png" alt=""/>
					<figcaption>
					<p>
					<a href="#" class="learnmore">[Texte de l’hyperlien du sujet 2]</a>
					</p>
					</figcaption>
				</figure>
			</div>
			<div role="tabpanel" id="tab3" class="out fade">
				<figure>
					<img src="{{assets}}/img/promos/520x200-3.png" alt=""/>
					<figcaption>
					<p>
					<a href="#" class="learnmore">[Texte de l’hyperlien du sujet 3]</a>
					</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<section class="col-md-8">
		<h2>Sujets</h2>
		<div class="row">
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3 class="h5"><a href="#">[Texte de l’hyperlien du sujet]</a></h3>
				<p>Description des renseignements et services trouvés sur la page du sujet. Pas de poésie!</p>
			</section>
		</div>
	</section>
	<aside class="col-md-4 mrgn-tp-lg">
		<div class="well">
			<h2 class="mrgn-tp-0">Services et renseignements les plus demandés</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
				<li><a href="#">[Texte de l’hyperlien de la tâche courante]</a></li>
			</ul>
		</div>
	</aside>
</div>
