---
{
	"title": "[Sujet]",
	"language": "fr",
	"altLangPrefix": "second",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Accueil", "link": "http://www.canada.ca/fr/index.html" },
		{ "title": "Tous les services", "link": "http://www.canada.ca/fr/services/index.html" },
		{ "title": "[Thème]", "link": "theme-fr.html" }
	],
	"dateModified": "2014-08-18",
	"share": "true"
}
---
<div class="row profile">
	<div class="col-md-6 ">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">1 ou 2 phrases d’introduction qui définissent les sous-sujets et les tâches principales (renseignements et services) qui peuvent être consultés sur cette page.</p>
		<section class="followus mrgn-bttm-md">
			<h2>Follow:</h2>
			<ul>
				<li><a href="#" class="youtube"><span class="wb-inv">YouTube</span></a></li>
				<li><a href="#" class="twitter"><span class="wb-inv">Twitter</span></a></li>
				<li><a href="#" class="flickr"><span class="wb-inv">Flickr</span></a></li>
				<li><a href="#" class="facebook"><span class="wb-inv">Facebook</span></a></li>
				<li><a href="#" class="foursquare"><span class="wb-inv">Foursquare</span></a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-6 margin-top-small hidden-sm hidden-xs">
		<img src="{{assets}}/img/business.jpg" alt="" class="pull-right img-responsive thumbnail"/>
	</div>
</div>
<div class="row">
	<div class="wb-eqht col-md-8">
		<div class="row">
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
			<section class="col-md-6">
				<h3><a href="#">[Subtopic hyperlink text]</a></h3>
				<p>Liste des renseignements et services trouvés sur la page du sous-sujet. Pas de poésie!</p>
			</section>
		</div>
	</div>
	<aside class="col-md-4 mrgn-tp-lg" >
		<div class="well">
			<h2 class="mrgn-tp-0">Most requested information and services</h2>
			<ul class="lst-spcd">
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text - double line hyperlink]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
				<li><a href="#">[Top task hyperlink text]</a></li>
			</ul>
		</div>
	</aside>
</div>
<section>
	<h2>What we are doing</h2>
	<div class="row wb-eqht">
		<section class="col-lg-4 col-md-6">
			<h3>Policies, acts and regulations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Policy 1]</a></li>
				<li><a href="#">[Act 1 with a long heading]</a></li>
				<li><a href="#">[Regulation 1 with a long heading]</a></li>
				<li><a href="#">[Policy 2]</a></li>
			</ul>
			<p class="mrgn-lft-lg pstn-lft-md pstn-bttm-md"><a href="#">All related policies, acts and regulations</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Publications</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Publication 1]</a></li>
				<li><a href="#">[Publication 2 with a long heading]</a></li>
				<li><a href="#">[Publication 3]</a></li>
				<li><a href="#">[Publication 4]</a></li>
			</ul>
			<p class="mrgn-lft-lg pstn-lft-md pstn-bttm-md"><a href="#">All related publications</a></p>
		</section>
		<section class="col-lg-4 col-md-6">
			<h3>Consultations</h3>
			<ul class="mrgn-bttm-lg lst-spcd">
				<li><a href="#">[Consultation 1]</a></li>
				<li><a href="#">[Consultation 2 with a long heading]</a></li>
				<li><a href="#">[Consultation 3]</a></li>
				<li><a href="#">[Consultation 4 with a long heading..and a bit longer]</a></li>
			</ul>
			<p class="mrgn-lft-lg pstn-lft-md pstn-bttm-md"><a href="#">All related consultations</a></p>
		</section>
	</div>
</section>
<div class="wb-eqht row gc-prtts">
	<section class="col-lg-4 col-md-6">
		<a href="#">
			<h2>[Promotional hyperlink text]</h2>
			<img src="{{assets}}/img/cars.jpg" alt="" class="img-responsive"/>
		</a>
		<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
	</section>
	<section class="col-lg-4 col-md-6">
		<a href="#">
			<h2>[Promotional hyperlink text]</h2>
			<img src="{{assets}}/img/sports.jpg" alt="" class="img-responsive"/>
		</a>
		<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
	</section>
	<section class="col-lg-4 col-md-6">
		<a href="#">
			<h2>[Promotional hyperlink text]</h2>
			<img src="{{assets}}/img/cats.jpg" alt="" class="img-responsive"/>
		</a>
		<p>Brève description de l'initiative, la tâche ou des renseignements en promotion.</p>
	</section>
</div>
