---
{
	"title": "Remeberance Day Vingette",
	"language": "en",
	"altLangPrefix": "video",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Home", "link": false }
	]
}
---
<h1 id="wb-cont" class="wb-inv">{{title}}</h1>
<div class="row">
	<div class="col-md-12 wb-mltmd">
		<video poster="http://dev3.canada.ca/video/2012veterans.jpg" title="Remeberance Day Vingette">
			<source type="video/webm" src="http://dev3.canada.ca/video/2012veterans-{{language}}.mp4"></source>
			<source type="video/mp4" src="http://dev3.canada.ca/video/2012veterans-{{language}}.webm"></source>
			<track src="#inline-captions" kind="captions" data-type="text/html" srclang="{{language}}" label="{{alternatetog}}" />
		</video>
		<h2 class="h1">To the men and women who have served our country in the past</h2>
		<p class="pagetag">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
</div>
<div class="row">
	<section class="col-md-12" id="inline-captions">
		<h3>Transcript</h3>
		<p><span class="wb-tmtxt" data-begin="0.00s" data-dur="1.00s">Music starts playing.</span></p>
		<p><span class="wb-tmtxt" data-begin="1.00s" data-dur="10.10s">Images of service men and women who have served our country in the past.</span></p>
		<p><span class="wb-tmtxt" data-begin="11.10s" data-dur="5.83s">Images of Canadian Forces who continue to serve our country.</span></p>
		<p><span class="wb-tmtxt" data-begin="16.93s" data-dur="5.51s">Images of Canadians at commemorative events.</span></p>
		<p><span class="wb-tmtxt" data-begin="22.44s" data-dur="5.77s">Learn about Veterans' Week activities at veterans.gc.ca</span></p>
		<p><span class="wb-tmtxt" data-begin="28.21s" data-dur="2.79s">Symbol of the Government of Canada.</span></p>
	</section>
</div>
{{>datemodified-share}}
