---
{
"layout": "../../lib/wet-boew/site/layouts/core.hbs"
}
---
{{>google}}
{{>skiplinks}}
{{>header}}
{{>promotion}}
{{#if page.localnav}}
<div class="container">
	<div class="row">
		<main property="mainContentOfPage" class="col-md-9 col-md-push-3" role="main">
{{else}}
<main role="main" property="mainContentOfPage" class="container">
{{/if}}
{{#is page.pageclass "home"}}
			<h1 property="name" id="wb-cont" class="wb-inv">{{{title}}}</h1>
{{else}}
{{#isnt page.pageclass "secondary"}}
			<h1 property="name" id="wb-cont">{{{title}}}</h1>
{{/isnt}}
{{/is}}
			{{>contentbuttons}}
			{{>body}}
{{#is page.deptfeature true}}
	{{>deptfeatures}}
{{/is}}
{{#if page.dateModified}}
	{{#is page.share "true"}}
		{{>datemodified-share}}
	{{else}}
		{{>datemodified}}
	{{/is}}
{{/if}}
</main>
{{#if page.localnav }}
		<nav class="wb-sec col-md-3  col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
			<h2 id="wb-sec-h" class="wb-inv">{{{i18n "tmpl-section-menu"}}}</h2>
			{{>localnav}}
		</nav>
	</div>
</div>
{{/if}}
	{{>features}}
{{#isnt footer "false"}}
	{{>footer}}
{{/isnt}}
