<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{language}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{language}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}} - {{site.sitetitle}}</title>
		<link href="{{assets}}/assets/favicon.ico" rel="shortcut icon" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{{site.description}}" />
		<!-- Meta data-->
		{{>headresources}}
	</head>

	<body class="{{pageclass}}" vocab="http://schema.org/" typeof="WebPage">
		<ul id="wb-tphp">
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-cont">{{#i18n "%tmpl-skip-cont"}}{{/i18n}}</a>
			</li>
			<li class="wb-slc visible-md visible-lg">
				<a class="wb-sl" href="#wb-info">{{#i18n "%tmpl-skip-info"}}{{/i18n}}</a>
			</li>
		</ul>

		<header role="banner">
			<div id="wb-bnr" class="container">

				<section id="wb-lng" class="visible-md visible-lg text-right">
					<h2 class="wb-inv">{{#i18n "%tmpl-lang-select"}}{{/i18n}}</h2>
					{{>languagetoggle}}
				</section>

				<div class="row">
					{{>brand}}

					<div class="wb-mb-links col-xs-6 visible-sm visible-xs" id="wb-glb-mn" >
						<ul class="list-inline text-right">
							<li><a href="#mb-pnl" title="Menu" class="overlay-lnk" aria-controls="mb-pnl"><span class="glyphicon glyphicon-th-list"></span><span class="wb-inv">Menu</span></a></li>
						</ul>
					</div>

					<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
						<h2 class="wb-inv">{{#i18n "%tmpl-search"}}{{/i18n}}</h2>
						{{>sitesearch}}
					</section>

				</div>
			</div>

			<nav role="navigation" id="wb-sm" class="wb-menu" data-trgt="mb-pnl" data-ajax-fetch="{{assets}}/ajax/sitemenu-{{language}}.html" typeof="SiteNavigationElement">
				<h2 class="wb-inv">{{#i18n "%tmpl-site-menu"}}{{/i18n}}</h2>
				{{>sitemenu}}
			</nav>

			{{#unless_eq pageclass compare="home"}}
			<nav role="navigation" id="wb-bc" class="" property="breadcrumb">
				<h2 class="wb-inv">{{#i18n "%you-are-here"}}{{/i18n}}</h2>
				{{>breadcrumbs}}
			</nav>
			{{/unless_eq}}
		</header>
		{{>promotion}}
		<main role="main" property="mainContentOfPage" class="container">
			{{>body}}
		</main>

		<aside class="features">
			{{>features}}
		</aside>
		<footer role="contentinfo" id="wb-info">

			<nav role="navigation" class="container visible-lg visible-md wb-navcurr">
				<h2 class="wb-inv">{{#i18n "%tmpl-site-info"}}{{/i18n}}</h2>
				{{>footer}}
			</nav>

			{{>footerbrand}}

		</footer>
		<div id="mb-pnl" class="wb-overlay modal-content overlay-def wb-panel-r"></div>
		{{>footerresources}}
	</body>
</html>
