<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{language}}" dir="{{{i18n "lang-dir"}}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{language}}" dir="{{{i18n "lang-dir"}}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="robots" content="noindex, nofollow, noarchive" />
		{{>servermessageresources}}
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<header role="banner" id="wb-bnr" class="container">
			<div class="row">
				<div class="col-sm-6">
					<img id="gcwu-sig" src="{{assets}}/../{{site.theme}}/assets/sig-blk-{{language}}.svg" alt="{{{i18n "tmpl-gc-sig"}}} / {{#is page.language "en"}}{{{i18n "tmpl-gc-sig" language="fr"}}}{{else}}{{{i18n "tmpl-gc-sig" language="en"}}}{{/is}}" />
				</div>
				<div class="col-sm-6">
					<img id="wmms" src="{{assets}}/../{{site.theme}}/assets/wmms-blk.svg" alt="{{{i18n "tmpl-gc-wmms"}}}" />
				</div>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" class="container">
			<div class="row mrgn-tp-lg">
				{{>body}}
			</div>
		</main>
		{{>footerresources}}
	</body>
</html>
