<!DOCTYPE html>
<html class="no-js" lang="{{language}}" dir="{{{i18n "lang-dir"}}}">
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="robots" content="noindex, nofollow, noarchive" />
		{{>servermessageresources}}
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<header role="banner" id="wb-bnr" class="container">
			<div class="row">
				<div class="col-sm-6" property="publisher" typeof="GovernmentOrganization">
					<img id="gcwu-sig" src="{{assets}}/../{{site.theme}}/assets/sig-blk-{{language}}.svg" alt="{{{i18n "tmpl-gc-sig"}}}" property="logo" /><span class="wb-inv"> / <span lang="{{#is page.language "en"}}fr">{{{i18n "tmpl-gc-sig" language="fr"}}}{{else}}en">{{{i18n "tmpl-gc-sig" language="en"}}}{{/is}}</span></span>
					<meta property="name" content="{{{i18n "tmpl-gc-sig"}}}" />
					<meta property="areaServed" typeOf="Country" content="Canada" />
				</div>
				<div class="col-sm-6">
					<img id="wmms" src="{{assets}}/../{{site.theme}}/assets/wmms-blk.svg" alt="{{{i18n "tmpl-gc-wmms"}}}" />{{#if page.isBilingual}}<span class="wb-inv"> / <span lang="{{#is page.language "en"}}fr">{{{i18n "tmpl-gc-wmms" language="fr"}}}{{else}}en">{{{i18n "tmpl-gc-wmms" language="en"}}}{{/is}}</span></span>{{/if}}
				</div>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" typeof="WebPageElement" class="container">
			<div class="row mrgn-tp-lg">
				{{>body}}
			</div>
		</main>
		{{>footerresources}}
	</body>
</html>
