<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{language}}">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<title>{{title}}</title>
<link rel="schema.dcterms" href="http://purl.org/dc/terms/">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta name="description" content="{{decription-en}}" />
<meta name="description" lang="fr" content="{{decription-fr}}" />
<meta name="dcterms.creator" content="{{creator-en}}" />
<meta name="dcterms.creator" lang="fr" content="{{creator-en}}" />
<meta name="dcterms.title" content="{{title}}" />
<meta name="dcterms.title" lang="fr" content="{{title}}" />
<meta name="dcterms.issued" title="W3CDTF" content="2013-12-13" />
<meta name="dcterms.modified" title="W3CDTF" content="{{modified}}" />
<meta name="dcterms.subject" title="scheme" content="{{subject-en}}" />
<meta name="dcterms.subject" lang="fr" title="scheme" content="{{subject-fr}}" />
<meta name="dcterms.language" title="ISO639-2" content="eng" />
<meta name="dcterms.language" lang="fr" title="ISO639-2" content="fra" />
<meta name="robots" content="noindex, follow" />
{{>headresources}}

</head>

<body class="{{pageclass}}" vocab="http://schema.org/" typeof="WebPage">
	{{>google}}
<header role="banner">
<div class="row">

<div class="col-sm-12 text-center">
	<!--[if lt IE 9]>
		<img src="./{{assets}}/assets/wmms-spl.png" alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada" />
	<![endif]-->
	<!--[if gte IE 9 | !IE ]><!-->
		<object type="image/svg+xml" tabindex="-1" role="img" data="./{{assets}}/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada / Symbole du gouvernement du Canada"></object>
	<!--<![endif]-->
	</div>

</div>
</header>
<main role="main">
{{>body}}
</main>

{{>footerresources}}
</body>
</html>
