<!DOCTYPE html>
<html lang="{{language}}">
	<head>
		<meta charset="utf-8"/>
		<title>{{title}}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta name="description" content="{{description-en}}" />
		<meta name="description" lang="fr" content="{{description-fr}}" />
		<meta name="dcterms.creator" content="{{creator-en}}" />
		<meta name="dcterms.creator" lang="fr" content="{{creator-en}}" />
		<meta name="dcterms.title" content="{{title}}" />
		<meta name="dcterms.title" lang="fr" content="{{title}}" />
		<meta name="dcterms.issued" title="W3CDTF" content="2013-12-13" />
		<meta name="dcterms.modified" title="W3CDTF" content="{{modified}}" />
		<meta name="dcterms.subject" title="scheme" content="{{subject-en}}" />
		<meta name="dcterms.subject" lang="fr" title="scheme" content="{{subject-fr}}" />
		<meta name="dcterms.language" title="ISO639-2" content="eng" />
		<meta name="dcterms.language" lang="fr" title="ISO639-2" content="fra" />
		<meta name="robots" content="noindex, follow" />
		{{>headresources}}
	</head>

	<body class="{{pageclass}}" vocab="http://schema.org/" typeof="WebPage">
		<div id="bg" class="provisional" data-wb-randomize='{ "shuffle": true, "selector": "img", "toggle": "hide" }'>
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-1.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-2.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-3.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-4.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-5.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-6.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-7.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-8.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-9.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-10.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-11.jpg" alt="" />
			<img class="hide" src="https://www.canada.ca/content/dam/canada/splash/sp-bg-12.jpg" alt="" />
		</div>
		<main role="main">
			{{>body}}
		</main>

		{{>footerresources}}
	</body>
</html>
