---
{
	"title": "Promotions contextuelles - Configuration de conception de Canada.ca",
	"language": "fr",
	"altLangPrefix": "gc-features",
	"breadcrumb": [
		{ "title": "GCWeb accueil", "link": "https://wet-boew.github.io/themes-dist/GCWeb/index-fr.html" }
	],
	"secondlevel": false,
	"dateModified": "2020-02-24",
	"share": "true"
}
---
<div class="wb-prettify all-pre hide"></div>

<dl class="horizontal">
	<dt>Status</dt>
	<dd>Up to spec</dd>

	<dt>Type</dt>
	<dd>Canada.ca design pattern</dd>

	<dt>Dernière revue</dt>
	<dd>2020-02-18</dd>

	<dt>Est conforme à</dt>
	<dd>Spécifications du contenu et de l'architecture de l'information 2.1</dd>

	<dt>Spécification</dt>
	<dd><a href="https://conception.canada.ca/configurations-conception-communes/vignettes-promotionnelles.html">Promotions contextuelles - Configuration de conception de Canada.ca</a></dd>

	<dt>Nom technique</dt>
	<dd>
		<ul>
			<li><code>gc-features</code></li>
			<li><code>gc-initiatives</code> (<span lang="en">extends</span>)</li>
		</ul>
		</dd>
</dl>

<div lang="en">

<h2>Working example</h2>

<h3>Context-specific features - v6.1</h3>
<section class="gc-features">
	<h2>Features</h2>
	<div class="row wb-eqht">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brief description of the feature being promoted.</p>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brief description of the feature being promoted.</p>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<h3 class="h5"><a href="#" class="stretched-link">[Feature hyperlink text]</a></h3>
			<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			<p>Brief description of the feature being promoted.</p>
		</div>
	</div>
</section>

<h3>GC activities and initiatives - v6.1</h3>
<section class="gc-initiatives">
	<h2>Government initiatives</h2>
	<div class="row wb-eqht">
		<div class="col-sm-6">
			<div class="well well-sm brdr-rds-0 eqht-trgt">
				<img class="img-responsive full-width" src="{{assets}}/img/520x200.png" alt=""/>
				<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
				<p>Brief description of the feature being promoted.</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-sm brdr-rds-0 eqht-trgt">
				<img class="img-responsive full-width" src="{{assets}}/img/520x200.png" alt=""/>
				<h3 class="h5"><a class="stretched-link" href="#">[Feature hyperlink text]</a></h3>
				<p>Brief description of the feature being promoted.</p>
			</div>
		</div>
	</div>
</section>

<h3>GC activities and initiatives - Removal - v4.0.28</h3>
<aside class="gc-nttvs">
	<h2>Government of Canada activities and initiatives</h2>
	<div id="gcwb_prts" class="wb-eqht row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="">
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="">
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a rel="external" href="#">
				<h3 class="h5">[Activities and initiatives hyperlink text]</h3>
				<img class="img-responsive thumbnail mrgn-bttm-sm" src="{{assets}}/img/features/355x113.png" alt="">
			</a>
			<p>Brief description of the initiative, task or information being promoted.</p>
		</section>
	</div>
</aside>

<h3>Feature - Markup change - v4.0.28</h3>
<section class="gc-prtts">
	<h2>One tile - Promotional feature</h2>
	<div class="row">
		<div class="col-md-8">
			<a href="#">
				<figure class="row">
					<figcaption class="pull-right col-md-6 col-xs-12">[Feature hyperlink text]</figcaption>
					<div class="pull-left col-md-6 col-xs-12">
						<img src="./img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					</div>
					<div class="pull-right col-md-6 col-xs-12">
						<p>Brief description of the feature being promoted.</p>
					</div>
				</figure>
			</a>
		</div>
	</div>
</section>
<section class="gc-prtts">
	<h2>Features</h2>
	<div class="row">
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
		<section class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<h3 class="h5">[Feature hyperlink text]</h3>
				<img src="{{assets}}/img/360x203.png" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
			</a>
			<p>Brief description of the feature being promoted.</p>
		</section>
	</div>
</section>

<h2>Evaluation and report</h2>

<p>There is no evaluation and report available for this component.</p>

<h2>API (Version 3.0)</h2>
<table class="table table-bordered">
	<tr>
		<th>CSS Class</th>
		<th>Template</th>
		<th>Visual rendering</th>
		<th>Schema</th>
	</tr>
	<tr>
		<td>Version 2.1</td>
		<td>Version 3.0</td>
		<td>Version 2.0</td>
		<td>Version 1.0</td>
	</tr>
</table>

<h3>CSS Class (v2.1)</h3>
<dl class="dl-horizontal">
	<dt><code>gc-features</code></dt>
	<dd>Component: Context-specific features</dd>
</dl>

<details>
	<summary>Version notes</summary>

	<dl class="dl-horizontal">
		<dt>Version 2.1 (v6.1)</dt>
		<dd>
			<ul>
				<li>Added: <code>.gc-features</code> and <code>.gc-initiatives</code></li>
				<li>Added: <code>.stretched-link</code></li>
			</ul>
		</dd>
		<dt>Version 2.0 (v4.0.28)</dt>
		<dd>
			<ul>
				<li>Deprecated: <code>.gc-nttvs</code> and <code>.gc-prtts</code></li>
			</ul>
		</dd>
		<dt>Version 1.0 (prior to v4.0.28)</dt>
		<dd>
			<ul>
				<li>Had: <code>.gc-nttvs</code> and <code>.gc-prtts</code></li>
			</ul>
		</dd>
	</dl>
</details>


<h3>Template (v3.0)</h3>

<p>Notes:</p>
<ul>
	<li><code>.stretched-link</code> will propagate clickable area up to the closest relativeley positioned parent, which is the according feature block.</li>
</ul>

<h4>gc-features</h4>
<h5>One-column layout</h5>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row row-eqht"&gt;

		&lt;!-- One column --&gt;
		&lt;div data-if="comp:Feature comp:featureCol == comp:Feature1Col" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-md-8"&gt;
			&lt;div class="row"&gt;
				&lt;div class="col-md-6 col-xs-12"&gt;
					&lt;img class="img-responsive thumbnail mrgn-bttm-sm" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
				&lt;/div&gt;
				&lt;div class="col-md-6 col-xs-12"&gt;
					&lt;h3 class="h5"&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
					&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h5>Two or three-column layout</h5>
<pre><code>&lt;section class="gc-features"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row row-eqht"&gt;

		&lt;!-- One column --&gt;
		&lt;div data-if="comp:Feature comp:featureCol == comp:Feature1Col" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-md-6 mrgn-bttm-md"&gt;
			&lt;h3 class="h5"&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;img class="img-responsive thumbnail mrgn-bttm-sm" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

		&lt;!-- Two column --&gt;
		&lt;div data-if="comp:Feature comp:featureCol == comp:Feature2Col" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-md-6 mrgn-bttm-md"&gt;
			&lt;h3 class="h5"&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;img class="img-responsive thumbnail mrgn-bttm-sm" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

		&lt;!-- Three column [default] --&gt;
		&lt;div data-if="comp:Feature comp:featureCol == comp:Feature3Col" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-lg-4 col-md-6 mrgn-bttm-md"&gt;
			&lt;h3 class="h5"&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;img class="img-responsive thumbnail mrgn-bttm-sm" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<h4>gc-initiatives</h4>
<pre><code>&lt;section class="gc-initiatives"&gt;
	&lt;h2&gt;[[comp:Feature dct:title]]&lt;/h2&gt;
	&lt;div class="row row-eqht"&gt;

		&lt;!-- One column --&gt;
		&lt;div data-if="comp:Feature comp:featureCol == comp:Feature1Col" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-sm-6"&gt;
			&lt;div class="well well-sm brdr-rds-0 eqht-trgt"&gt;
			&lt;img class="img-responsive full-width" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;h3 class="h5"&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

		&lt;!-- Two column --&gt;
		&lt;div data-if="comp:Feature comp:featureCol == comp:Feature2Col" data-for="comp:FeatureItem in (comp:Feature comp:features )" class="col-sm-6"&gt;
			&lt;div class="well well-sm brdr-rds-0 eqht-trgt"&gt;
			&lt;img class="img-responsive full-width" src="[[comp:FeatureItem html:img-src]]" alt="[[comp:FeatureItem html:img-alt]]"/&gt;
			&lt;h3 class="h5"&gt;&lt;a class="stretched-link" data-bind="(href = comp:FeatureItem foaf:page)"&gt;[[comp:FeatureItem dct:title]]&lt;/a&gt;&lt;/h3&gt;
			&lt;p&gt;[[comp:FeatureItem dct:description]]&lt;/p&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;</code></pre>

<details>
	<summary>Previous version</summary>

	<dl class="dl-horizontal">
		<dt>Version 3.0 (v6.1)</dt>
		<dd>
			<ul>
				<li>Deprecated: <code>&lt;figure&gt;</code> and <code>&lt;figcaption&gt;</code></li>
				<li>Deprecated: <code>&lt;a&gt;</code> as a wrapper</li>
			</ul>
		</dd>
		<dt>Version 2.0 (v4.0.28)</dt>
		<dd>
			<ul>
				<li>Added: <code>&lt;figure&gt;</code> and <code>&lt;figcaption&gt;</code></li>
			</ul>
		</dd>
		<dt>Version 1.0 (prior to v4.0.28)</dt>
		<dd>
			<ul>
				<li>Had: <code>&lt;section&gt;</code> tags</li>
			</ul>
		</dd>
	</dl>
</details>

<h3>Visual rendering (v2.0)</h3>

<details>
	<summary>Version notes</summary>

	<dl class="dl-horizontal">
		<dt>Version 2.0 (v6.1)</dt>
		<dd>
			<ul>
				<li>Removed: Drop shadow effect on mouse over</li>
				<li>Removed: Thumbnail image not clickable on one-column layout</li>
			</ul>
		</dd>
		<dt>Version 1.0 (prior to v6.1)</dt>
		<dd>
			<ul>
				<li>Original rendering</li>
			</ul>
		</dd>
	</dl>
</details>

<h3>Schema (v1.0)</h3>
<pre><code>#
# Schema of the Context-specific features component
#

@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt; .
@prefix wms: &lt;http://vocab.canada.ca/wms&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .


comp:Feature
	dct:issued "2017-01-01"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	wms:componentName "gc-features" ;
	rdfs:label "Context-specific features"@en ;
	rdfs:label "Promotions contextuelles"@fr ;
	rdfs:isDefinedBy &lt;https://design.canada.ca/common-design-patterns/feature-tiles.html&gt;@en ;
	rdfs:isDefinedBy &lt;https://conception.canada.ca/configurations-conception-communes/vignettes-promotionnelles.html&gt;@fr ;

comp:FeatureItem
	dct:issued "2017-01-01"^^xsd:date ;
	a rdfs:Class, wms:Component ;
	rdfs:label "Features link"@en ;
	rdfs:label "Lien en vedette"@fr ;

comp:features
	dct:issued "2017-01-01"^^xsd:date ;
	a rdf:Property ;
	rdfs:domains comp:Feature ;
	rdfs:range comp:FeatureItem .

comp:featureCol
	dct:issued "2017-01-01"^^xsd:date ;
	rdfs:label "Column layout rendering"@en ;
	a rdf:Property ;
	rdfs:range comp:Feature1Col ;
	rdfs:range comp:Feature2Col ;
	rdfs:range comp:Feature3Col .

comp:Feature1Col
	a rdfs:Class ;
	rdfs:label "One Column"@en .

comp:Feature2Col
	a rdfs:Class ;
	rdfs:label "Two Column"@en .

comp:Feature3Col
	a rfds:Class ;
	rdfs:label "Three Column"@en .
	rdfs:comment "Not used for gc-initiatives" .

</code></pre>


<p>Shapes graphs</p>
<pre><code>#
# Shape graph of the Context-specific features component
#

@prefix sh: &lt;http://www.w3.org/ns/shacl#&gt; .
@prefix dct: &lt;http://purl.org/dc/terms/&gt; .
@prefix foaf: &lt;http://xmlns.com/foaf/0.1/&gt; .
@prefix comp: &lt;http://vocab.canada.ca/wms/component&gt; .
@prefix html: &lt;http://vocab.canada.ca/wms/html/img#&gt; .

comp:FeatureShape
	a sh:NodeShape ;
	sh:targetClass comp:Feature ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path comp:features ;
			sh:minExclusive 0 ;
			sh:maxInclusive 3 ;
			sh:severity sh:Warning ;
		]
	)
	sh:property [
		sh:path comp:featureCol ;
		sh:in ( comp:Feature1Col comp:Feature2Col comp:Feature3Col ) ;
		sh:severity sh:Violation ;
		sh:defaultValue comp:Feature2Col ;
	] .

comp:FeatureItemShape
	a sh:NodeShape ;
	sh:targetClass comp:FeatureItem ;
	sh:and (
		[
			sh:path dct:title ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path dct:description ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path html:img-src ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
		[
			sh:path html:img-alt ;
			sh:uniqueLang true ;
			sh:severity sh:Warning ;
		]
		[
			sh:path foaf:page ;
			sh:uniqueLang true ;
			sh:severity sh:Violation ;
		]
	) .</code></pre>

<h4>JSON-LD sample</h4>
<pre><code>{
	"@context": {
		"foaf": "http://xmlns.com/foaf/0.1/",
		"dct": "http://purl.org/dc/terms/",
		"comp": "http://vocab.canada.ca/wms/component"
		"html": "http://vocab.canada.ca/wms/html/img"
	},
	"dct:title": "Government initiatives",
	"comp:featureCol": "comp:Feature2Col",
	"comp:features": [
		{
			"foaf:page": "https://www.canada.ca/feature/link",
			"dct:title": "[Feature item hyperlink text]",
			"dct:description": "[Feature item description]",
			"html:img-src": "[Feature item image URL]",
			"html:img-alt": "[Feature item image alternative text]"
		},
		{
			"foaf:page": "https://www.canada.ca/feature/link/2",
			"dct:title": "[Feature item hyperlink text 2]",
			"dct:description": "[Feature item description 2]",
			"html:img-src": "[Feature item image URL 2]",
			"html:img-alt": "[Feature item image alternative text 2]"
		}
	]
}
</code></pre>

<h2>Reference</h2>
<ul>
	<li><a href="https://www.w3.org/TR/shacl/">SHACL Shapes Constraint Language (https://www.w3.org/TR/shacl/)</a></li>
</ul>
</div>
